{% extends "GorservGerpCoreBundle::layout_bootstrap.html.twig" %}

{% block title %}Оперативный отчёт v2{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="{{ asset('components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('js/b9de507_moment-with-locales.min_18.js') }}"></script>
{% endblock %}

{% block page_javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $('.datetimepicker6').datetimepicker({
                locale: 'ru',
                keepOpen: true,
                format: 'YYYY-MM-DD'
            });
            $('.datetimepicker7').datetimepicker({
                locale: 'ru',
                keepOpen: true,
                useCurrent: false, //Important! See issue #1075
                format: 'YYYY-MM-DD'
            });
            $(".datetimepicker6").on("dp.change", function (e) {
                $('.datetimepicker7').data("DateTimePicker").minDate(e.date);
            });
            $(".datetimepicker7").on("dp.change", function (e) {
                $('.datetimepicker6').data("DateTimePicker").maxDate(e.date);
            });

            $(".select2").select2({
                placeholder: "все",
                allowClear: true
            });

            $('.interval-picker').change(function (e) {
                formats($('.interval-picker').val());
            });

            formats($('.interval-picker').val());

            function formats(val) {
                switch (val) {
                    case "1":
                        $('.datetimepicker6').data("DateTimePicker").format("YYYY[W]WW").viewMode('months').calendarWeeks(true);
                        $('.datetimepicker7').data("DateTimePicker").format("YYYY[W]WW").viewMode('months').calendarWeeks(true);
                        break;
                    case "2":
                        $('.datetimepicker6').data("DateTimePicker").format("YYYY-MM").viewMode('months');
                        $('.datetimepicker7').data("DateTimePicker").format("YYYY-MM").viewMode('months');
                        break;
                    default:
                        $('.datetimepicker6').data("DateTimePicker").format("YYYY-MM-DD").viewMode('days');
                        $('.datetimepicker7').data("DateTimePicker").format("YYYY-MM-DD").viewMode('days');

                }
            }
        });

    </script>

{% endblock %}

{% block container %}
    <style>
        .rightbar {
            display: none;
        }
    </style>
    <div class="hidden-print">
        <div id="form">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-xs-12">{{ form_errors(form) }}</div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.interval_type) }}

                    <div class="row">
                        <div class="col-xs-12">
                            <label class="control-label required">Отчётный период</label>
                        </div>
                        <div class='col-sm-6'>
                            <div class="form-group">
                                <div class='input-group'>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                    {{ form_widget(form.periodStart, { 'attr': {'class': 'datetimepicker6'}} ) }}
                                </div>
                            </div>
                        </div>
                        <div class='col-sm-6'>
                            <div class="form-group">
                                <div class='input-group'>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                    {{ form_widget(form.periodEnd, { 'attr': {'class': 'datetimepicker7'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    {{ form_row(form.partners) }}
                    {{ form_row(form.sc) }}
                    {{ form_row(form.client_type) }}
                </div>

                <div class="col-sm-6">
                    {{ form_rest(form) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>

    </div>
    {% if report is not empty %}
        <hr/>
        {{ include('GorservGerpReportsBundle:OperativeReport:report.html.twig', { 'report': report }) }}
    {% endif %}
{% endblock %}
