{% set cc = 7 %}
<style>
    table.report td {
        white-space: nowrap;
    }
</style>
<div class="table-responsive">
    <table class="table table-bordered table-hover report">
        <thead>
        <tr>
            <th rowspan="2">Дата</th>
            {% for column in report.getItems() %}
                <th colspan="{{ cc }}">
                    {{ column.label }}
                </th>
            {% endfor %}
        </tr>
        <tr>
            {% for column in report.getItems() %}
                <td>Выполнено</td>
                <td>Закрыто</td>
                <td>Доход</td>
                <td>Ср.чек</td>
                <td>Расходы</td>
                <td>Прибыль</td>
                <td>Валовая прибыль, %</td>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for plugin in report.getItem('total').items %}

            {% for type in plugin.items %}
                <tr bgcolor="#f0f8ff">
                    <td>{{ type.label }}</td>
                    {% for column in report.items %}
                        {% if column.getItem( plugin.label ) is not null and column.getItem( plugin.label ).getItem( type.label ) is not null %}
                            {% set type = column.getItem( plugin.label ).getItem( type.label ) %}
                            <td>{{ type.doneCount }}</td>
                            <td>{{ type.closedCount }}</td>
                            <td>{{ type.yield|number_format(0, '.', ' ') }}</td>
                            <td>{{ type.averageBill|number_format(0, '.', ' ') }}</td>
                            <td>{{ type.charges|number_format(0, '.', ' ') }}</td>
                            <td>{{ type.profit|number_format(0, '.', ' ') }}</td>
                            <td>{{ type.grossProfit|number_format(0, '.', ' ') }} %</td>
                        {% else %}

                            <td colspan="{{ cc }}"></td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% for partner in type.items %}
                    <tr>
                        <td>{{ partner.label }}</td>
                        {% for column in report.items %}
                            {% if column.getItem( plugin.label ) is not null and column.getItem( plugin.label ).getItem( type.label ) is not null and column.getItem( plugin.label ).getItem( type.label ).getItem( partner.label ) is not null %}
                                {% set r = column.getItem( plugin.label ).getItem( type.label ).getItem( partner.label ) %}
                                <td>{{ r.doneCount }}</td>
                                <td>{{ r.closedCount }}</td>
                                <td>{{ r.yield|number_format(0, '.', ' ') }}</td>
                                <td>{{ r.averageBill|number_format(0, '.', ' ') }}</td>
                                <td>{{ r.charges|number_format(0, '.', ' ') }}</td>
                                <td>{{ r.profit|number_format(0, '.', ' ') }}</td>
                                <td>{{ r.grossProfit|number_format(0, '.', ' ') }} %</td>
                            {% else %}
                                <td colspan="{{ cc }}"></td>
                            {% endif %}
                        {% endfor %}

                    </tr>
                {% endfor %}

            {% endfor %}
            <tr bgcolor="#98fb98">
                <td>{{ plugin.label|trans }}</td>
                {% for column in report.items %}
                    {% if column.getItem( plugin.label ) is not null %}
                        {% set plugin = column.getItem( plugin.label ) %}
                        <td>{{ plugin.doneCount }}</td>
                        <td>{{ plugin.closedCount }}</td>
                        <td>{{ plugin.yield|number_format(0, '.', ' ') }}</td>
                        <td>{{ plugin.averageBill|number_format(0, '.', ' ') }}</td>
                        <td>{{ plugin.charges|number_format(0, '.', ' ') }}</td>
                        <td>{{ plugin.profit|number_format(0, '.', ' ') }}</td>
                        <td>{{ plugin.grossProfit|number_format(0, '.', ' ') }} %</td>
                    {% else %}
                        <td colspan="{{ cc }}"></td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        <tr bgcolor="#ff7f50">
            <td>Итоги за период</td>
            {% for column in report.items %}
                <td>{{ column.doneCount }}</td>
                <td>{{ column.closedCount }}</td>
                <td>{{ column.yield|number_format(0, '.', ' ') }}</td>
                <td>{{ column.averageBill|number_format(0, '.', ' ') }}</td>
                <td>{{ column.charges|number_format(0, '.', ' ') }}</td>
                <td>{{ column.profit|number_format(0, '.', ' ') }}</td>
                <td>{{ column.grossProfit|number_format(0, '.', ' ') }} %</td>
            {% endfor %}
        </tr>
        </tbody>
    </table>
</div>
