<!-- BEGIN row -->
<div street_id="{ID}" name="{NAME}" socr="{SOCR}">{NAME_REAL} {SOCR}{ADDINFO}</div>
<!-- END row -->
<!-- BEGIN norows -->
<span style='color:#FF0000;'><strong>Записи отсутствуют</strong></span>
<!-- END norows -->
<!-- BEGIN noparentselected -->
<span style='color:#FF0000;'><strong>Выборка Населенных пунктов по Региону неэффективна! Выберите Район или Город.</strong></span>
<!-- END noparentselected -->