<!-- BEGIN vl_item --><tr><td width="1%"  align="left">{VLI_DATETIME}<br />{VLI_USER}</td>
    <td width="1%" align="left">Ист.: {VLI_SOURCE}<br />Назн.:{VLI_DEST}</td>
    <td width="1%" {VLI_STATUSCOLOR} align="center">{VLI_STATUS}</td>
    <td nowrap width="1%" align="center">
    <ul class="audiocontrol">
    <!-- BEGIN is-audio -->
    <li class="hidden-xs hidden-sm visible-md visible-lg">
        <audio class="audio" id="{AUDIO_ID}" style="width: 250px;" src="{AUDIO_SRC}" controls autobuffer preload='auto'> Воспроизведение не поддерживается </audio>
    </li>
    <!-- END is-audio -->
    <!-- BEGIN is-audio-ie -->
    <li><a class="playinie" src="{AUDIO__SRC}"><img title='Воспроизвести' src='/templates/images/play.gif'  vspace="5" hspace="5"  /></a></li>
    <!-- END is-audio-ie -->
    <li><a target="_blank" href="{AUDIO___SRC}"><img src="/templates/images/down.gif" title="Скачать аудио-запись" vspace="5" hspace="5" /></a></li>
    </ul>
    </td>
</tr><!-- END vl_item --><!-- BEGIN no-items --><tr>{NR}
    <td align="center" colspan="10" align="center">
    <p class="redmessage">-- нет записей --</p>
    </td>
</tr>
<!-- END no-items -->
