<nav class="navbar navbar-inverse navbar-fixed-top navbar__tidy">
    <div class="container-fluid">

        <!-- Logo -->
        <div class="navbar-header logo-menu_box">
            <div class="navbar-brand">
                <span class="text-nowrap logo-menu" style="">
                    <img class="logo-menu_img gsslogo" src="{{ asset('templates/images/logo_trnt_100.png') }}" width="20">
                    <span class="logo-menu_text "> GERP</span>
                </span>
            </div>
            <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Меню</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="navbar-brand small pull-right hidden-xs hidden-sm login-menu_box">
                <div class="login-menu_name-box">
                   <span class="right small">
                       {%- if is_granted('ROLE_CAN_TO_BE') %}
                           <a href="#loginAs" data-toggle="modal" data-target="#loginat" style="outline: none">
                                <span class="fa fa-user-secret" title="Воплотиться в ..."></span>
                           </a>
                       {% endif -%}
                       <a style="color: white !important; text-decoration: none;"
                          href="{{ path('legacy_rule_default', { plugin_uid: 'adm_users', plugin_event: 'user_view', user_id:  app.user.id }) }}">
                           <div class="login-menu_name"><b>{{ app.user|balance|raw }}</b> {{ app.user|short_fio }}</div>
                       </a>
                   </span> &nbsp;
                </div>
                <div class="login-menu_logout">
                    <span class="right small"><a class="right" href="/logout"
                                                 style="color: white !important; text-decoration: none;">
                       <span class="fa fa-sign-in"></span> Выход</a>
                    </span>
                </div>
            </div>
        {% endif %}

        <!-- Text menu (collapsed menu) -->
        <div id="navbar" class="navbar-collapse collapse pull-left text_menu" style="">
            {{ knp_menu_render('main', {'currentClass': 'active', 'template': 'GorservGerpAppBundle:Menu:knp_menu.html.twig', 'allow_safe_labels': true }) }}

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <ul class="visinmenu nav navbar-nav navbar-right visible-xs visible-sm">
                    <li class="nav-divider"></li>
                    <li>
                        <a href="{{ path('legacy_rule_default', { plugin_uid: 'adm_users', plugin_event: 'user_view', user_id:  app.user.id }) }}">
                            <b>{{ app.user|balance|raw }}</b> {{ app.user }}
                        </a>
                        {% if is_granted('ROLE_CAN_TO_BE') %}
                            <a href="" data-toggle="modal" data-target="#loginat">
                                <span class="fa fa-user-secret" title="Воплотиться в ..."></span> Воплотиться в ...
                            </a>
                        {% endif -%}
                    </li>
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Выход</a></li>
                </ul>
            {% endif %}
        </div><!--/.nav-collapse -->
    </div>
</nav>
