{# app/Resources/TwigBundle/views/Exception/error.html.twig #}
{% extends "GorservGerpCoreBundle::layout_bootstrap.html.twig" %}

{% block title %}{{ status_code }} {{ status_text }}!{% endblock %}

{% block container %}
    <h3>Сервер вернул: {{ exception.message | striptags('<b><a><i><br>') | raw }}</h3>



{% endblock %}
