<!-- BEGIN row -->
<tr class="addrrow" id="rid_{ROW_ID}">
    <td class="left" data-gp_addr_id="{GP_ADDR_ID}">{AREA}</td>
    <td data-order_id="{ORDER_ID}" data-gp_addr_id="{GP_ADDR_ID}">{FULL_ADDRESS}</td>
    <td class="hidden-xs">{POD}</td>
    <td class="hidden-xs">{NOODS}<!-- BEGIN isods --><a title="Открыть ОДС" target="_blank" href="/adm_ods/edit?id={ODS_ID}">{ODS}</a><!-- END isods --></td>
    <!-- BEGIN deleteaddritem -->
    <td style="width: 16px;" class="hidden-xs"><a class="deleteaddr" style="cursor: pointer;" id="{ADDRID}" title="Удалить адрес из заявки"><img src="/templates/images/cross.png" border="0" /></a></td>
    <!-- END deleteaddritem -->
</tr>
<!-- END row -->
<!-- BEGIN row-orig -->
<tr class="addrrow" id="rid_{ROW_ID}">
    <td colspan="4" style="text-align: center;">{ORIGNAME}<br /><font color="#FF0000">Адрес не распознан</font></td>
    <!-- BEGIN deleteaddritem1 -->
    <td class="hidden-xs"><a class="deleteaddr" id="{ADDRID1}" title="Удалить адрес из заявки"><img src="/templates/images/cross.png" border="0" /></a></td>
    <!-- END deleteaddritem1 -->
</tr>
<!-- END row-orig -->
