
<div id="report_c">
<table width="850px" border="0" style="margin-left: 15px;">
    <tr>
        <td valign="top" width="15%">Автор расчета</td>
        <td><strong>{CALC_TECH_NAME}</strong></td>
    </tr>
    <tr>
        <td valign="top" width="15%">Дата Расчета</td>
        <td><strong>{CALC_DATE}</strong></td>
    </tr> 
</table>
<br />
<h4 style="margin-bottom: 5px; margin-top:0;">ТМЦ - списание по заявке</h4>
<input type="hidden" name="target_sc_id" value="{TMC_SC_ID}" />

<button type="button" {AFTERDEADLINE} name="addtmc" id="add_tmc_to_task" value="Добавить" class="btn-primary"><span class="glyphicon glyphicon-plus"></span> Добавить</button>
<table class="t1"  width="100%" border="0">
                <thead>
                    <tr>
                        <th>ТМЦ</th><th>Серийный номер</th><th>Кол-во</th><th></th>
                    </tr>
                </thead>
                <tbody class="tmc_list">
                    <!-- BEGIN tmc_row -->
                    <tr class="{TMC_ID} {TMC_ROW_ID}">
                        <td align="center">
                            {TMC_TITLE}
                            <input type="hidden" name="row_id[]" value="{TMC_ROW_ID}" />
                            <input type="hidden" name="item_tech_id_{TMC_ROW_ID}" value="{TMC_TECH_ID}" />
                        </td>
                        <td align="center">
                            {NO_SERIAL}
                            <!-- BEGIN hasserial -->
                            {TMC_SERIAL}
                            <input readonly="readonly" value="{TMC_SERIAL}" name="tmc_serial_{TMC_S_ID}" type="hidden" style="width:130px;" />
                            <input type='hidden' name='tmcid_{TMC_S_ID}' value='{TMC_SERIAL}' />
                            <!-- END hasserial -->
                        </td>
                        <td align="center">
                            {TMC_COUNT}
                            <input type="hidden" name="tmc_ids[]" value="{TMC_ID}" />
                            <input readonly="readonly" name="tmc_count_{TMC_ID}" value="{TMC_COUNT}" type="hidden" style="width:50px;" />

                            <input type='hidden' name='writeoff_tmc[{TMC_ROW_ID}][tech_id]' value='{TMC_TECH_ID}' />
                            <input type='hidden' name='writeoff_tmc[{TMC_ROW_ID}][row_id]' value='{TMC_ROW_ID}' />
                            <input type='hidden' name='writeoff_tmc[{TMC_ROW_ID}][sn]' value='{TMC_SERIAL}' />
                            <input type='hidden' name='writeoff_tmc[{TMC_ROW_ID}][count]' value="{TMC_COUNT}" />
                            <input type='hidden' name='writeoff_tmc[{TMC_ROW_ID}][tmc_id]' value='{TMC_ID}' />
                        </td>
                    
                        <td align="center">
                            <a class="removetmc tmcid_{TMC_ROW_ID} {AFTERDEADLINE_HIDDENTMC}" href="#"><img src="/templates/images/cross.png" /></a>
                        </td>
                    </tr>
                    
                    <!-- END tmc_row -->
                   
                    <tr class="tmc_no_rows" style="{NO_TMC_ROWS}">
                        <td colspan="5"><p align="center" style="color: #FF0000;"><strong>Список пуст</strong></p></td>
                    </tr>
                    
                </tbody>
            </table>
            <hr />
<h4 style="margin-bottom: 5px; margin-top:0;">ТМЦ - прием по заявке</h4>
<input type="hidden" name="target_sc_id" value="{TMC_SC_ID}" />

<button type="button" {AFTERDEADLINE} name="add_r_tmc" id="return_tmc_to_task" value="Добавить" class="btn-primary"><span class="glyphicon glyphicon"></span> Добавить</button>
<table class="t1"  width="100%" border="0">
                <thead>
                    <tr>
                        <th>ТМЦ</th><th>Серийный номер</th><th>ФИО Техника</th><th></th>
                    </tr>
                </thead>
                <tbody class="r_tmc_list">
                    <!-- BEGIN r_tmc_row -->
                    <tr class="r_tmc_rows rtmc_{R_TMC_ROW_ID} {R_TMC_ID} {R_TMC_ROW_ID}">
                        <td align="center">{R_TMC_TITLE}
                        <input type="hidden" name="r_tmc_row_id[]" value="{R_TMC_ROW_ID}" />
                        <input type="hidden" name="r_tmc_item_tech_id_{R_TMC_ROW_ID}" value="{R_TMC_TECH_ID}" />
                        <input type="hidden" name="r_tmc_tmc_ids[]" value="{R_TMC_ID}" />
                        </td>
                        <td align="center">
                            {NO_R_TMC_SERIAL}
                            <!-- BEGIN r_tmc_hasserial -->
                            {R_TMC_SERIAL}
                            <input readonly="readonly" value="{R_TMC_SERIAL}" name="tmc_serial_{R_TMC_S_ID}" type="hidden" style="width:130px;" />
                            <input type='hidden' name='tmcid_{R_TMC_S_ID}' value='{R_TMC_SERIAL}' />
                            <!-- END r_tmc_hasserial -->
                        </td>
                        <td>{R_TMC_TECHFIO}</td>
                        <td align="center">
                            <a id='{R_TMC_ROW_ID}' task_id='{RTMCTASK_ID}' {AFTERDEADLINE_HIDDEN_R_TMC} class='removertmc' href='#'><img src="/templates/images/cross.png" /></a>
                        </td>
                    </tr>
                    
                    <!-- END r_tmc_row -->
                   
                    <tr class="r_tmc_no_rows" style="{NO_R_TMC_ROWS}">
                        <td colspan="5"><p align="center" style="color: #FF0000;"><strong>Список пуст</strong></p></td>
                    </tr>
                    
                </tbody>
            </table>
            <hr />

</div>