<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Добавление номенклатуры</h4>
</div>
<div class="modal-body">
    <form name="newNomenclatureForm" id="nomenclature">
        <div class="form-group">
            <label for="category">Категория</label>
            <select id="category" class="form-control" required ng-model="category" ng-change="onCategoryChanged()" ng-options="value.title for value in categories track by value.id"></select>
        </div>
        <div class="form-group">
            <label for="title">Название</label>
            <input id="title" type="text" class="form-control" required ng-model="title">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="is_metrical"> Метрическая (Без серийного номера)
            </label>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary" ng-disabled="!newNomenclatureForm.$valid" ng-click="ok()">Добавить</button>
    <button type="button" class="btn btn-default" ng-click="cancel()">Отмена</button>
</div>
