<div class="modal-header">
    <h3 class="modal-title">Добавить в заявку</h3>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <label>Наименование</label>
            <ui-select ng-model="selected.nomenclature" required>
                <ui-select-match>{{$select.selected.title|| $select.selected}}</ui-select-match>
                <ui-select-choices repeat="item in nomenclature | filter: $select.search">
                    <div ng-bind-html="item.title | highlight: $select.search"></div>
                    <small>
                        категория: <span ng-bind-html="''+item.category.title | highlight: $select.search"></span>
                    </small>
                </ui-select-choices>
            </ui-select>
        </div>
        
        <div class="form-group">
            <label>Поставщик</label>
            <ui-select ng-model="selected.partner">
                <ui-select-match allow-clear>{{$select.selected.title|| $select.selected}}</ui-select-match>
                <ui-select-choices repeat="item in partners | filter: $select.search">
                    <div ng-bind-html="item.title | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        
        <div class="form-group">
            <label>Количество</label>
            <div class="input-group">
                <input type="number" ng-model="quantity" min="1" class="form-control">
            </div>
        </div>
    </form>   
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-click="ok()">Сохранить</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Закрыть</button>
</div>