<script type="text/ng-template" id="/local/fixed-filter-placeholder.html">
    <input type="text" name="[[name]]" ng-disabled="$filterRow.disabled" ng-model="params.filter()[name]" class="input-filter form-control" placeholder="" />
</script>

<div class="modal-header">
    <h3 class="modal-title">Расчёт контрагенту</h3>
</div>
<div class="modal-body">
    <form name="taskTypeWorksForm">
        <div class="table-responsive clearfix">
            <p class="lead">Работы</p>
            <table ng-table="cnt.tableWorks" class="table table-bordered table-striped table-condensed">
                <tr ng-repeat="row in $data track by row.id">
                    <td data-title="'#'" filter="{'id': '/local/fixed-filter-placeholder.html'}">[[row.id]]</td>
                    <td data-title="'Договор №'" filter="{'agr_id': '/local/fixed-filter-placeholder.html'}">[[row.agr_id]]</td>
                    <td data-title="'Название'" filter="{'title': '/local/fixed-filter-placeholder.html'}">[[row.title]]</td>
                    <td data-title="'Описание'" filter="{'s_title': '/local/fixed-filter-placeholder.html'}">[[row.s_title]]
                        <p ng-if="row.p_comment">[[row.p_comment]]</p>
                    </td>
                    <td data-title="'Баллы'" filter="{'price': '/local/fixed-filter-placeholder.html'}">[[row.price]]</td>
                    <td>
                        <button ng-click="cnt.addItem(row)" ng-show="!row.isSelected" class="btn btn-success">
                            <span title="Добавить" class="glyphicon glyphicon-plus-sign"></span>
                        </button>
                        <button ng-click="cnt.removeItem(row)" ng-show="row.isSelected" class="btn btn-warning">
                            <span title="Удалить" class="glyphicon glyphicon-minus-sign"></span>
                        </button>
                    </td>
                </tr>
                <tr ng-show="$data.length == 0">
                    <td colspan="[[cnt.tableWorks.data.visibleColumnCount]]" class="text-center text-muted">
                        Список пуст
                    </td>
                </tr>
            </table>
        </div>
        <hr/>
        <div class="table-responsive clearfix">
            <p class="lead">Осметирование</p>
            <table ng-table="cnt.tableEstimates" class="table table-bordered table-striped table-condensed">
                <tr ng-repeat="row in $data track by row.id">
                    <td data-title="'#'">[[row.id]]</td>
                    <td data-title="'Договор №'">[[row.agr_id]]</td>
                    <td data-title="'Название'">[[row.title]]</td>
                    <td data-title="'Описание'">[[row.s_title]]
                        <p ng-if="[[row.p_comment]]">[[row.p_comment]]</p>
                    </td>
                    <td data-title="'Сумма'">
                        <input type="number" ng-model="row.estimate" ng-required="selectedItems.indexOf(row) > -1">
                    </td>
                    <td>
                        <button ng-click="cnt.addItem(row)" ng-show="!row.isSelected" class="btn btn-success">
                            <span title="Добавить" class="glyphicon glyphicon-plus-sign"></span>
                        </button>
                        <button ng-click="cnt.removeItem(row)" ng-show="row.isSelected" class="btn btn-warning">
                            <span title="Удалить" class="glyphicon glyphicon-minus-sign"></span>
                        </button>
                    </td>
                </tr>
                <tr ng-show="$data.length == 0">
                    <td colspan="[[cnt.tableEstimates.data.visibleColumnCount]]" class="text-center text-muted">
                        Список пуст
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-disabled="taskTypeWorksForm.$invalid" ng-click="ok()">Сохранить</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Закрыть</button>
</div>
