<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Состав перемещения</h4>
</div>
<div class="modal-body ">
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
    <form name="itemsForm">
        <div class="table-responsive">
            <table class="table" id="modal-table">
                <tr>
                    <th>Категория</th>
                    <th>Название</th>
                    <th>Поставщик</th>
                    <th class="text-nowrap">S/N</th>
                    <th>Кол-во</th>
                    <th></th>
                </tr>
                <tr ng-repeat="itm in move.items track by $id(itm)">
                    <td>{{ itm.property.nomenclature.category.title}}</td>
                    <td>{{ itm.property.nomenclature.title}}</td>
                    <td>{{ itm.property.partner.title}}</td>
                    <td>
                <span ng-if="!itm.nomenclature.is_metrical">
                    <input ng-enter-pressed type="text" class="form-control serial" ng-model="itm.serial" required>
                </span>
                        <span ng-if="itm.nomenclature.is_metrical" class="text-nowrap">(б/н)</span>
                    </td>
                    <td>
                        <input ng-if="itm.nomenclature.is_metrical" min="1" max="itm.total" ng-model="itm.quantity">
                        <span ng-if="!itm.nomenclature.is_metrical" class="text-nowrap">{{ itm.quantity}}</span>
                    </td>
                    <td>
                        <button type="button" class="btn btn-default" ng-click="removeItem(itm)"><span
                                class="glyphicon glyphicon-remove"></span></button>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Отмена</button>
    <button type="submit" class="btn btn-primary" ng-disabled="itemsForm.$invalid" ng-click="ok()">Cохранить</button>
</div>

