<script type="text/ng-template" id="/local/fixed-filter-placeholder.html">
    <input type="text" name="[[name]]" ng-disabled="$filterRow.disabled" ng-model="params.filter()[name]" class="input-filter form-control" placeholder="" />
</script>

<div class="modal-header">
    <h3 class="modal-title">Штрафы</h3>
</div>
<div class="modal-body">
    <div class="table-responsive clearfix">
        <table ng-table="cnt.table" class="table table-bordered table-striped table-condensed">
            <tr ng-repeat="row in $data track by row.id">
                <td data-title="'#'" filter="{'id': '/local/fixed-filter-placeholder.html'}">[[row.id]]</td>
                <td data-title="'Название'" filter="{'short_title': '/local/fixed-filter-placeholder.html'}" >[[row.short_title]]</td>
                <td data-title="'Описание'" filter="{'p_comment': '/local/fixed-filter-placeholder.html'}">[[row.p_comment]]</td>
                <td data-title="'Баллы'" filter="{'price': '/local/fixed-filter-placeholder.html'}">[[row.price | currency ]]</td>
                <td>
                    <button ng-click="cnt.addItem(row)" ng-show="!row.isSelected" class="btn btn-danger">
                        <span title="Наказать" class="glyphicon glyphicon-plus-sign"></span>
                    </button>
                    <button ng-click="cnt.removeItem(row)" ng-show="row.isSelected" class="btn btn-success">
                        <span title="Пощадить" class="glyphicon glyphicon-minus-sign"></span>
                    </button>
                </td>
            </tr>
            <tr ng-show="$data.length == 0">
                <td colspan="[[cnt.table.data.visibleColumnCount]]" class="text-center text-muted">
                    Список пуст
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Сохранить</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Закрыть</button>
</div>
