<script type="text/ng-template" id="/local/fixed-filter-placeholder.html">
    <input type="text" name="[[name]]" ng-disabled="$filterRow.disabled" ng-model="params.filter()[name]" class="input-filter form-control" placeholder="" />
</script>

<div class="modal-header">
    <h3 class="modal-title">Установка</h3>
</div>
<div class="modal-body">
    <p ng-if="techsSelect.options.length > 1"><label for="techSelect">Техник:</label>
        <select name="techSelect" id="techSelect"
                ng-options="option.fio for option in techsSelect.options track by option.id"
                ng-model="techsSelect.selected" ng-change="cnt.updateTable()"></select>
    </p>
    <div class="table-responsive clearfix">
    <table ng-table="cnt.availableItemsTable" class="table table-bordered table-striped table-condensed">
        <tr ng-repeat="row in $data track by row.id">
            <td data-title="'Наименование'" filter="{'nomenclature.title': '/local/fixed-filter-placeholder.html'}">
                <div>[[row.nomenclature.title]]</div>
                <small class="text-muted">[[row.nomenclature.category.title]]</small>
            </td>
            <td data-title="'Партнёр'" filter="{'partner.title': '/local/fixed-filter-placeholder.html'}">[[row.partner.title]]</td>
            <td data-title="'Кол-во'">[[row.total]]</td>
            <td data-title="'S/N'" filter="{'serial': '/local/fixed-filter-placeholder.html'}">[[row.serial]]</td>
            <td>
                <button ng-click="cnt.addItem(row)" ng-show="!row.isSelected" class="btn btn-success">
                    <span title="Установить" class="glyphicon glyphicon-minus-sign"></span>
                </button>
                <button ng-click="cnt.removeItem(row)" ng-show="row.isSelected" class="btn btn-warning">
                    <span title="Отмена" class="glyphicon glyphicon-plus-sign"></span>
                </button>
            </td>
        </tr>
        <tr ng-show="$data.length == 0">
            <td colspan="[[cnt.availableItemsTable.data.visibleColumnCount]]" class="text-center text-muted">
                Список пуст
            </td>
        </tr>
    </table>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-disabled="selectedItems.length <= 0" ng-click="ok()">Сохранить</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Закрыть</button>
</div>
