<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">Отчёт по заявке</h3>
</div>
<div class="modal-body">
    <form name="calcForm">
        <div ng-if="taskPerms.canCalcServiceWorks">
            <p class="lead">
                <strong>Расчёт техника СКП</strong>
                <button ng-click="openServiceWorksModal('lg')" title="Добавить работу" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span>
                    Работу
                </button>
            </p>
            <div class="table-responsive clearfix">
                <table ng-table="cnt.serviceTable" class="table table-bordered table-striped table-condensed table-responsive">
                    <tr ng-repeat="row in $data track by row.id">
                        <td data-title="'Код'">
                            [[row.contrcode]]
                        </td>
                        <td data-title="'Наименование'">
                            [[row.work.title]]
                        </td>
                        <td data-title="'Кол-во'">
                            <input type="number" ng-model="row.quantity" min="[[row.ei_min]]" required pu-elastic-input
                                   pu-elastic-input-minwidth="3em" pu-elastic-input-maxwidth="10em"/>
                        </td>
                        <td data-title="'Баллы'">
                            [[ row.quantity * row.price ]]
                        </td>
                        <td>
                            <button ng-click="cnt.removeServiceWork(row)" class="btn btn-danger"><span class="glyphicon glyphicon-remove-sign"></span></button>
                        </td>
                    </tr>
                    <tr ng-ig="false" ng-show="$data.length > 0">
                        <td colspan="[[cnt.serviceTable.data.visibleColumnCount-2]]" class="text-right">
                            Итого, баллов:
                        </td>
                        <td>[[ _.sumBy(cnt.serviceTable.data, sumWorks) ]]</td>
                        <td></td>
                    </tr>
                    <tr ng-show="$data.length == 0">
                        <td colspan="[[cnt.serviceTable.data.visibleColumnCount]]" class="text-center text-muted">
                            Список пуст
                        </td>
                    </tr>
                </table>
            </div>
            <p>
                <span>Сумма полученных денежных средств:</span>
                <input type="text" ng-model="cnt.cash" required />
            </p>
        </div>
        <div ng-if="taskPerms.canCalcPartnerWorks">
            <p class="lead">
                <strong>Расчёт по договору</strong>
                <button ng-click="openAgreementWorksModal('lg')" title="Добавить работу" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span>
                    Работу
                </button>
            </p>
            <div class="table-responsive clearfix">
                <table ng-table="cnt.billTable" class="table table-bordered table-striped table-condensed table-responsive">
                    <tr ng-repeat="row in $data track by row.id">
                        <td data-title="'Вид работ'">
                            [[row.title]]
                            <div ng-if="row.p_comment" class="text-muted">
                                <small>[[row.p_comment]]</small>
                            </div>
                            <div ng-if="row.s_title" class="text-muted">
                                <small>[[row.s_title]]</small>
                            </div>
                        </td>
                        <td data-title="'Кол-во'">
                            <input type="number" ng-if="row.price_type != 'smeta'" ng-model="row.quantity" min="1" required pu-elastic-input
                                   pu-elastic-input-minwidth="3em" pu-elastic-input-maxwidth="10em"/>
                        </td>
                        <td data-title="'Баллы'">
                        <span ng-if="row.price_type == 'smeta'">
                            [[ row.estimate * row.price/100 ]]
                        </span>
                        <span ng-if="row.price_type != 'smeta'">
                            [[ row.quantity * row.price  ]]
                        </span>
                        </td>
                        <td data-title="'Сметная'">
                        <span ng-if="row.price_type == 'smeta'">
                            [[ row.estimate ]] <span class="text-muted">([[row.price]]%)</span>
                        </span>
                        </td>
                        <td>
                            <button ng-click="cnt.removeBilledWork(row)" class="btn btn-danger"><span class="glyphicon glyphicon-remove-sign"></span></button>
                        </td>
                    </tr>
                    <tr ng-show="$data.length == 0">
                        <td colspan="[[cnt.billTable.data.visibleColumnCount]]" class="text-center text-muted">
                            Список пуст
                        </td>
                    </tr>
                </table>
            </div>
            <hr/>
        </div>

        <div ng-if="taskPerms.canCalcTechWorks">
            <p class="lead">
                <strong>Расчёт по зарплате</strong>
                <button ng-click="openTaskTypesWorksModal('lg')" title="Добавить работу" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span>
                    Работу
                </button>
                <button ng-click="openPenaltiesModal('lg')" title="Добавить штраф" class="btn btn-danger"><span class="glyphicon glyphicon-plus-sign"></span> Штраф
                </button>
            </p>
            <div class="table-responsive clearfix">
                <table ng-table="cnt.techProfitTable" class="table table-bordered table-striped table-condensed table-responsive">
                    <tr ng-repeat="row in $data track by row.id">
                        <td data-title="'Вид работ'">[[row.short_title]]</td>
                        <td data-title="'Кол-во'">
                            <input type="number" ng-if="row.price_type != 'smeta'" ng-model="row.quantity" min="1" required pu-elastic-input
                                   pu-elastic-input-minwidth="3em" pu-elastic-input-maxwidth="10em"/>
                        </td>
                        <td data-title="'Баллы'">
                        <span ng-if="row.price_type == 'smeta'">
                            [[ row.estimate * row.price/100 ]]
                        </span>
                        <span ng-if="row.price_type != 'smeta'">
                            [[ row.quantity * row.price  ]]
                        </span>
                        </td>
                        <td data-title="'Сметная'">
                        <span ng-if="row.price_type == 'smeta'">
                            [[ row.estimate ]] <span class="text-muted">([[row.price]]%)</span>
                        </span>
                        </td>
                        <td>
                            <button ng-click="cnt.removeTechWork(row)" class="btn btn-danger"><span class="glyphicon glyphicon-remove-sign"></span></button>
                        </td>
                    </tr>
                    <tr ng-show="$data.length == 0">
                        <td colspan="[[cnt.techProfitTable.data.visibleColumnCount]]" class="text-center text-muted">
                            Список пуст
                        </td>
                    </tr>
                </table>
            </div>

            <hr/>
        </div>

        <div ng-if="taskPerms.canDoInstall">
            <p class="lead">
                <strong>Установленное оборудование/материалы</strong>
                <button ng-click="openInstallationModal('lg')" data-title="'Установить'" class="btn btn-success" ng-disabled="isInstallationModalOpen">
                    <span class="glyphicon glyphicon-minus-sign" ng-if="!isInstallationModalOpen"></span>
                    <span class="fa fa-spinner fa-pulse fa-fw" ng-if="isInstallationModalOpen"></span>
                </button>
            </p>
            <div class="table-responsive clearfix">
                <table ng-table="cnt.installedItemsTable" class="table table-bordered table-striped table-condensed table-responsive">
                    <tr ng-repeat="row in $data">
                        <td data-title="'Техник'" ng-if="installItems.length > 1">[[row.fio]]</td>
                        <td data-title="'Наименование'">
                            <div>[[row.nomenclature.title]]</div>
                            <small class="text-muted">[[row.nomenclature.category.title]]</small>
                        </td>
                        <td data-title="'Партнёр'">[[row.partner.title]]</td>
                        <td data-title="'Кол-во'">
                            <input type="number" ng-model="row.quantity" min="1" max="[[row.total]]" ng-if="row.nomenclature.is_metrical" required pu-elastic-input
                                   pu-elastic-input-minwidth="3em" pu-elastic-input-maxwidth="10em"/>
                            <span ng-if="!row.nomenclature.is_metrical">[[row.quantity]]</span>
                        </td>
                        <td data-title="'S/N'">
                            <span data-title="'S/N'" ng-if="!row.nomenclature.is_metrical">[[row.serial]]</span>
                        </td>
                        <td data-title="'Аренда'"><input data-title="'Аренда?'" type="checkbox" ng-model="row.lease" ng-if="!row.nomenclature.is_metrical"/></td>
                        <td>
                            <button ng-click="cnt.removeInstalledItem(row)" class="btn btn-danger"><span class="glyphicon glyphicon-remove-sign"></span></button>
                        </td>
                    </tr>
                    <tr ng-show="$data.length == 0">
                        <td colspan="[[cnt.installedItemsTable.data.visibleColumnCount]]" class="text-center text-muted">
                            Список пуст
                        </td>
                    </tr>
                </table>
            </div>
            <hr/>
        </div>

        <div ng-if="taskPerms.canDoUninstall">
            <p class="lead">
                <strong>Демонтированное оборудование</strong>
                <button ng-click="openUninstallModal('md')" data-title="'Демонтировать'" class="btn btn-warning"><span class="glyphicon glyphicon-plus-sign"></span>
                </button>
            </p>
            <div class="table-responsive clearfix">
                <table ng-table="cnt.uninstalledItemsTable" class="table table-bordered table-striped table-condensed">
                    <tr ng-repeat="row in $data">
                        <td data-title="'Наименование'">
                            <div>[[row.nomenclature.title]]</div>
                            <small class="text-muted">[[row.nomenclature.category.title]]</small>
                        </td>
                        <td data-title="'Партнёр'">[[row.partner.title]]</td>
                        <td data-title="'Кол-во'">[[row.quantity]]</td>
                        <td data-title="'S/N'"><span ng-if="!row.nomenclature.is_metrical">[[row.serial]]</span></td>
                        <td data-title="'Дополнительно'">
                            <small><b>Причина:</b> [[row.data.reason]]</small>
                            <br/>
                            <small><b>Комментарий:</b> [[row.data.comment]]</small>
                        </td>
                        <td>
                            <button ng-if="row.bro != 1" ng-click="cnt.removeUninstalledItem(row)" class="btn btn-danger"><span
                                    class="glyphicon glyphicon-remove-sign"></span></button>
                        </td>
                    </tr>
                    <tr ng-show="$data.length == 0">
                        <td colspan="[[cnt.installedItemsTable.data.visibleColumnCount]]" class="text-center text-muted">
                            Список пуст
                        </td>
                    </tr>
                </table>
            </div>
            <hr/>
        </div>

        <div ng-if="taskPerms.canEditOds">
            <p class="lead">
                <strong>ОДС</strong>
            </p>
            <div class="input-group">
                <ui-select ng-model="ods.selected">
                    <ui-select-match placeholder="Введите часть адреса или телефона..." allow-clear>[[$select.selected.title]]</ui-select-match>
                    <ui-select-choices
                            repeat="odsItem in ods.list | propsFilter: { address: $select.search, fio: $select.search, comment: $select.search , tel: $select.search, title: $select.search }"
                            refresh="refreshOdsList($select.search)"
                            refresh-delay="500"
                            minimum-input-length="3">
                        <div ng-bind-html="odsItem.title | highlight: $select.search"></div>
                        <small class="text-muted" allow-clear>
                            Адрес: [[odsItem.address]]<br/>
                            Телефон: <span ng-bind-html="''+odsItem.tel | highlight: $select.search"></span><br/>
                            Контакт: <span ng-bind-html="''+odsItem.fio | highlight: $select.search"></span><br/>
                            Комментарий: <span ng-bind-html="''+odsItem.comment | highlight: $select.search"></span>
                        </small>
                    </ui-select-choices>
                </ui-select>
                <span class="input-group-btn">
                    <button class="btn btn-warning" type="button" ng-if="!!ods.selected">
                        <span class="glyphicon glyphicon-pencil"></span> Редактировать
                    </button>

                    <button class="btn btn-success" type="button" ng-if="!ods.selected">
                        <span class="glyphicon glyphicon-plus"></span> Добавить
                    </button>
                </span>
            </div><!-- /input-group -->

            <div class="row" ng-if="ods.selected">
                <hr class="col-xs-12"/>
                <div class="col-sm-12">
                    <address>
                        <span class="text-muted">Название:</span> <strong>[[ods.selected.title]]</strong><br>
                        <span class="text-muted">Адрес:</span> [[ods.selected.address]]<br>
                        <span class="text-muted">Контактное лицо:</span> [[ods.selected.fio]]<br>
                        <abbr title="Телефон">Тел:</abbr> [[ods.selected.tel]]
                    </address>
                </div>
            </div>
        </div>
        <div ng-if="taskPerms.canManageTaskPhotos && taskPhotos.length > 0">
            <hr/>
            <p class="lead">
                <strong>Фотоотчёт по заявке</strong>
            </p>
            <div class="table-responsive clearfix">
                <table ng-table="cnt.photosTable" class="table table-bordered table-striped table-condensed">
                    <tr ng-repeat="row in $data track by row.id">
                        <td data-title="'Наименование'">[[row.title]]</td>
                        <td data-title="'Файл'">
                            <div ng-if="row.photos.length < 1">
                                <div class="btn btn-success btn-upload"
                                     upload-button
                                     url="/connections/addphoto"
                                     param="pict"
                                     data="{task_id: taskId, file_type_id: row.id}"
                                     on-success="cnt.reloadPhotos()"
                                     required="row.required"
                                >Добавить фото
                                </div>
                            </div>
                            <div ng-if="row.photos.length > 0">
                                <a href="/comments/getfile?id=[[row.photos[0].file.id]]" target="_blank">
                                    <img class="img img-responsive" ng-src="/comments/getfile?id=[[row.photos[0].file.id]]"
                                         style="max-height: 100px; max-width: 100px;"/>
                                </a>
                                <a ng-click="cnt.deletePhoto(row)" class="btn btn-danger" title="Удалить фото"><span
                                        class="glyphicon glyphicon-remove"></span></a>
                            </div>
                        </td>
                    </tr>
                    <tr ng-show="$data.length == 0">
                        <td colspan="[[cnt.photosTable.data.visibleColumnCount]]" class="text-center text-muted">
                            Список пуст
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-disabled="!taskPerms.canEditCalcForm ||
    calcForm.$invalid ||
    (taskPerms.canCalcServiceWorks && cnt.serviceTable.data.length <= 0)" ng-click="ok()">Сохранить</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Закрыть</button>
</div>
