<div class="modal-header">
    <h3 class="modal-title">Демонтаж</h3>
</div>
<div class="modal-body" ng-form='uninstallItemForm'>
    <uib-alert ng-repeat="alert in alerts" type="[[alert.type]]" close="closeAlert($index)">[[alert.msg]]</uib-alert>

    <div class="form-group">
        <label>Наименование</label>
        <ui-select ng-model="nomenclatureNonMetrical.selected" required>
            <ui-select-match>[[$select.selected.title || $select.selected]]</ui-select-match>
            <ui-select-choices repeat="item in nomenclatureNonMetrical | propsFilter: { title: $select.search }">
                <div ng-bind-html="item.title | highlight: $select.search"></div>
                <small class="text-muted">
                    <span ng-bind-html="''+item.category.title | highlight: $select.search"></span>
                </small>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="form-group">
        <label>Партнёр (контрагент, "даватель")</label>
        <ui-select ng-model="partners.selected" required>
            <ui-select-match>[[$select.selected.title || $select.selected]]</ui-select-match>
            <ui-select-choices repeat="item in partners | propsFilter: { title: $select.search }">
                <div ng-bind-html="item.title | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="form-group">
        <label>S/N</label>
        <input type="text" class="form-control" placeholder="Серийный номер" ng-model="serial" required>
    </div>
    <div class="form-group">
        <label>Причина демонтажа</label>
        <select ng-model="reason" class="form-control" required ng-options="option.title for option in uninstallReasons track by option.id"
                ng-model="uninstallReason"></select>
    </div>
    <div class="form-group">
        <label>Комментарий</label>
        <select ng-model="comment" class="form-control" required ng-options="option.title for option in uninstallComments track by option.id"
                ng-model="uninstallComment"></select>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-disabled="!uninstallItemForm.$valid" ng-click="ok()">Сохранить</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Закрыть</button>
</div>
