<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Назначить перевозчика</h4>
</div>
<div class="modal-body">
    <input class="form-control" typeahead-min-length="0" type="text" ng-model="selected" typeahead-editable="false" typeahead-on-select="onSelect($item)" uib-typeahead-editable="false" typeahead-wait-ms="500" uib-typeahead="item.name for item in items | filter:$viewValue">
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Отмена</button>
    <button type="submit" class="btn btn-primary" ng-click="ok()">Сохранить</button>
</div>
