Установленное оборудование/материалы:
{% dump %}
{% for item in items %}
    Наименование: {{ item.nomenclature.title }}/{{ item.nomenclature.category.title }}
    Партнёр: {{ item.partner.title }}
    Кол-во: {{ item.quantity }}
    S/N: {{ item.serial }}
    {% if item.lease %} Арендован {% endif %}

{% endfor %}
