Демонтированное оборудование:
{% for item in items %}
    Наименование: {{ item.nomenclature.title }}/{{ item.nomenclature.category.title }}
    Партнёр: {{ item.partner.title }}
    Кол-во: {{ item.quantity }}
    S/N: {{ item.serial }}
    Причина: {{ item.data.reason }}
    Комментарий: {{ item.data.comment }}

{% endfor %}
