<table class="table table-striped">
    <caption>Расчёт техника СКП</caption>
    <thead>
    <tr>
        <th>Наименование</th>
        <th>Кол-во</th>
        <th>Стоимость</th>
    </tr>
    </thead>
    <tbody>
    {% for item in items %}
        <tr>
            <td>{{ item.work.title }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price }}</td>

        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th colspan="3" align="right">
            Итого: {{ amount }}
        </th>
    </tr>
    </tfoot>
</table>
