{% extends "::base.html.twig" %}

{% block meta %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, height=device-height, user-scalable=no"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="HandheldFriendly" content="true"/>
{% endblock %}

{% block title %}Горсвязь{% endblock %}
