{% extends "GorservGerpCoreBundle::layout.html.twig" %}

{% block body %}
    {% include 'GorservGerpAppBundle::includes/navbar.html.twig' %}

    <div id="content" class="{% block container_class %}container-fluid{% endblock %}">
        {% if maintenance %}
            <div class="alert alert-danger text-center" role="alert">
                <h2 style="margin: 0px;">{{ maintenance }}</h2>
            </div>
        {% endif %}

        {% block breadcrumbs %}{% endblock %}
        {% block h1 %}
            <h1 class="hidden-print">{% block head %}{{ block('title') }}{% endblock %}</h1>
        {% endblock %}
        {% block container %}{% endblock %}
    </div>

    {% include 'GorservGerpCoreBundle::includes/footer.html.twig' %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets
        'components/nprogress/nprogress.css'
        'components/select2/dist/css/select2.min.css'
        'components/ng-table/dist/ng-table.min.css'
        'components/angular-ui-select/dist/select.min.css'
        'components/angular-upload/src/directives/btnUpload.min.css'
        'components/font-awesome/css/font-awesome.min.css'
        'templates/twozero/css/bootstrap.min.css'
        'templates/twozero/css/style_bs.css'
        'templates/twozero/css/lightbox.css'
        'components/font-awesome/css/font-awesome.min.css'
        'assets/legacy/bug_report.css'
        'assets/legacy/desktop_10.16.css'
        'assets/legacy/cut_from_inline.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts
        'components/jquery/dist/jquery.min.js'
        'components/angular/angular.min.js'
        'components/angular-route/angular-route.min.js'
        'components/angular-i18n/angular-locale_ru-ru.js'
        'components/angular-sanitize/angular-sanitize.js'
        'components/angular-ui-select/dist/select.js'
        'components/ng-table/dist/ng-table.min.js'
        'components/angular-bootstrap/ui-bootstrap-tpls.min.js'
        'components/angular-confirm-modal/angular-confirm.min.js'
        'components/angular-file-upload/dist/angular-file-upload.min.js'
        'components/angular-upload/angular-upload.min.js'
        'components/angular-elastic-input/dist/angular-elastic-input.min.js'
        'components/ya-map/ya-map-2.1.min.js'
        'components/select2/dist/js/select2.min.js'
        'components/select2/dist/js/i18n/ru.js'
        'components/lodash/dist/lodash.min.js'
        'components/ng-table-to-csv/dist/ng-table-to-csv.js'
        'components/moment/min/moment-with-locales.min.js'
        'assets/wf/angular-select-modal.js'
        'assets/wf/wf-ng-enter.js'
        'legacy_js/bootstrap.min.js'
        'legacy_js/default.js'
        'components/nprogress/nprogress.js'
        'legacy_js/selectors.js'
        'legacy_js/obzvon.js'
        'legacy_js/lightbox.js'
        'assets/legacy/cut_from_inline.js'
        'assets/legacy/bug_report.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
