<table class="t1 table-condensed" width="100%">
<thead>
    <tr>
        <th class="visible-xs hidden-sm hidden-md hidden-lg"></th>
        <th class="hidden-xs hidden-sm">№</th>
        <th class="hidden-xs hidden-sm">Тип/Вид</th>
        <th>Время</th>
        <th class="hidden-xs hidden-sm">Контрагент</th>
        <th>Адрес</th>
        <th>Статус</th>
        <th class="hidden-xs hidden-sm"></th>
        <th></th>
        <th></th>
        <th><a class="printallords" style="cursor: pointer;" target="_blank" href="{MULTIPLEPRINTFORTECHPERDAY}" onclick="if (confirm('Печать с Комментариями?')) {window.open('{MULTIPLEPRINTFORTECHPERDAY}&printcomments'); return false;} else {window.open('{MULTIPLEPRINTFORTECHPERDAY}'); return false;}"><img border="0" src="/templates/images/print.png" /></a></th>
        <!-- BEGIN istechcallth -->
        <th></th>
        <!-- END istechcallth -->
    </tr>
</thead>
<tbody>
<!-- BEGIN item -->
    <tr>
        <td class="visible-xs hidden-sm hidden-md hidden-lg"><a target="_blank" href="{EDITTASKHREF}">{ITEM_ID}<br />{ITEM_TYPE}</a><br />{ITEM_CTGR}</td>
        <td class="hidden-xs hidden-sm"><a target="_blank" href="{EDITTASKHREF}">{ITEM_ID}</a></td>
        <td class="hidden-xs hidden-sm"><a target="_blank" href="{EDITTASKHREF}">{ITEM_TYPE}</a></td>
        <td >{ITEM_TIME}</td>
        <td class="hidden-xs hidden-sm">{ITEM_CTGR}</td>
        <td >{ITEM_ADDR}</td>
        <td style="{ITEM_STATUS_COLOR}">{ITEM_STATUS}</td>
        <td class="hidden-xs hidden-sm"><a style="cursor: pointer;" target="_blank" href="{EDITTASKHREF}"><img src="/templates/images/pencil.png" border="0" /></a></td>
        <td><a {HIDEDELTICKET} {HIDEELEM} tech_id="{TECH_ID}" c_date="{C_DATE}" id="{ITEM_ID}" href="#" class="deletefromgfx" title="Убрать из графика"><img src="/templates/images/cross.png" /></a></td>
        <td><a {HIDEELEM} task_area="{TASK_AREA}" duration="{DURATION}" durationdel="{DURATIONDEL}" task_time="{TASK_TIME}" task_ods="{ODS_NAME}" ods="{ODS_ID}" kladr="{DOM_ID}" id="{ITEM_ID}" contr="{TASK_CONTR}" task_type="{TASK_TYPE}"  task_title="{TASK_TITLE}" task_addr="{ITEM_ADDR}" task_sc="{TASK_SC}" href="#" class="movetonewcell" title="Перенести задачу"><img src="/templates/images/arrow.png" /></a></td>
        <td><a title="Печать Заказ-наряда" style="cursor:pointer;" onclick="if (confirm('Печать с Комментариями?')) {window.open('{HREF_ORDER}&printcomments'); return false;} else {window.open('{HREF_ORDER}'); return false;}"><img src="/templates/images/print.png" border="0" /></a></td>
        <!-- BEGIN istechcallbody -->
        <td><a  class="calltotech {NOCALLSINTASK}" title="Позвонить клиенту" task_id="{TC_TASK_ID}" calltoc="{CLIENTPHONENUMBER}" callfrom="{TECHVIRTEXT}" ><img src="/templates/twozero/images/phone.gif"  /></a></td>
        <!-- END istechcallbody -->
    </tr>
<!-- END item -->
</tbody>
</table>