<td valign="{TICKALIGN}" width="100%" height="150px">
<div class="ftholder" style="height: 150px; overflow-y: scroll; overflow-style: scrollbar;">
<!-- BEGIN ticklist -->
<div class="freeticklist ftlul">
<!-- BEGIN titem -->
<div class="freeticket ftitem" style="float: left; background: {STATUS_COLOR};" timeslot="{NBNTIMESLOT}" link="{TASK_HREF}" area_id="{TASK_AREA_ID}" contr_id="{TASK_CONTR_ID}" task_type_id="{TASK_TYPE_ID}" task_area="{TASK_AREA}" duration="{DURATION}" durationdel="{DURATIONDEL}" task_time="{TASK_TIME}" task_ods="{ODS_NAME}" ods="{ODS_ID}" kladr="{DOM_ID}" id="{TASK_ID}" contr="{TASK_CONTR}" task_type="{TASK_TYPE}"  task_title="{TASK_TITLE}" task_addr="{TASK_ADDR}" task_sc="{TASK_SC}">{TICKTITLE}</div>
<!-- END titem -->
</div>
<!-- END ticklist -->
<!-- BEGIN no-tick -->
<p class="noft red" style="text-align: center;font-size: 18pt;">-- нет заявок --</p>
<!-- END no-tick -->
</div>
</td>