<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>


<title>{EVENT_TITLE} &mdash; {SYS_NAME}</title>
<meta name="viewport" content="width=device-width, initial-scale=0.6, maximum-scale=1.0, user-scalable=no">
<meta name="MobileOptimized" content="320"/>
<meta name="HandheldFriendly" content="true"/>

<link rel="shortcut icon" href="/favicon.ico" />
<link rel="stylesheet" type="text/css" href="/templates/twozero/css/style_bs.css" />
<link rel="stylesheet" type="text/css" href="/templates/twozero/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/templates/twozero/css/filter.css" />
<link rel="stylesheet" type="text/css" href="/templates/twozero/css/jquery-ui.css" />
<!--[if lte IE 6]>
<link rel="stylesheet" type="text/css" href="/templates/twozero/css/ie.css">
<![endif]-->

<style type="text/css">
    #content ul {
        list-style-type: none;
    }
    a.button {
        display: inline-block;
        line-height: 100%;
        width: 180px;
        margin: 0.3em;
    }
     .floatingform {
        display:none;
        background-color: #FBEECE;
         border: 1px solid #CECECE;
        border-radius:10px;
        -moz-border-radius:10px;
        position:absolute;
        width:400px auto;
        height:160px auto;
        padding:5px;
        max-width: 700px;
        min-width: 350px;

    }
</style>

<script type="text/javascript" src="/legacy_js/jquery.js"></script>
<script type="text/javascript" src="/legacy_js/bootstrap.min.js"></script>
<script type="text/javascript" src="/legacy_js/default.js"></script>
<script type="text/javascript" src="/legacy_js/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="/templates/twozero/css/multiple-select.css" />
<script type="text/javascript" src="/legacy_js/jquery.multiple.select.js"></script>
<script type="text/javascript">
    var settogfx = false;
    var dur;
    var task_id;
    var objParent;
    var move = false;
    $(document).ready(function(){

        $("select[name='sc']").change(function() {
            var link = "";
            if (!$(this).hasClass('addscsel')) {
	            $(".addscsel").find("option").each(function() {
                    $(this).prop("selected", false);
	            });
	            $(".addscsel").find("option[value="+$(this).val()+"]").prop("selected", true);
            }
            if ($(this).val() == 0) {
                link = "adm_areas/getAreaList1_ajax";
            } else {
                link = "adm_areas/getAreaListA1";
            }
            $("body").css("cursor", "wait");
            $.post(link2(link), {sc_id: $(this).val()})
            .success(function(data) {
                if (data == "error") {
                    $("body").css("cursor", "default");
                    alert('Ошибка обмена данными с сервером. Обратитесь к разработчикам!');
                    return false;
                } else {
                    //$("select[name='filter_area_id[]']").dropdownchecklist("destroy");
                    $("select[name='filter_area_id[]']").html(data);
                    //$("select[name='filter_area_id[]']").dropdownchecklist({{ENABLEALLAREAS} maxDropHeight: 200 });
                    //$(".ui-dropdownchecklist").offset({ top: $(".ui-dropdownchecklist").offset().top + 5});

                    $(".arealist").multipleSelect('refresh');

                    $('.arealist').multipleSelect('checkAll');

                    $("body").css("cursor", "default");
                }
            })
            .fail(function() {
                $("body").css("cursor", "default");
                alert('Ошибка обмена данными с сервером. Обратитесь к разработчикам!');
                return false;
            });
       });

        $(".arealistfloat").change(function () {

    		$(".arealistnonfloat").html($(".arealistfloat").html());
    	});
        $(".arealistnonfloat").change(function () {

    		$(".arealistfloat").html($(".arealistnonfloat").html());
    	});

        if (is_touch_device()) {
            $(".addnewtickets").css("position", "absolute");
            $(".addnewtickets").css("bottom", 0);

        } else {
            //$(".addnewtickets").css("position", "relative");
            $(".addnewtickets").css("bottom", 0);
        }

        $('.wtypeid').multipleSelect({
            name: 'wtype_id',
            onClose: function(v) {
                if (!$('.wtypeid').find('option:selected').length) {
                    $('.wtypeid').multipleSelect('checkAll');
                }
            }

        });

        if (!$('.wtypeid').find('option:selected').length) {
            $('.wtypeid').multipleSelect('checkAll');
        }

        $('.arealist').multipleSelect({
            name: 'filter_area_id',
            onClose: function(v) {
                if (!$('.arealist').find('option:selected').length) {
                    $('.arealist').multipleSelect('checkAll');
                }
            }

        });

        if (!$('.arealist').find('option:selected').length) {
            $('.arealist').multipleSelect('checkAll');
        }


        $(window).scroll(function () {
              var obj;
              if ($(".gfxrow").find("td.seltf").length) {
                $(".gfxrow").each(function() {
                    if ($(this).find("td.seltf").length) {
                        obj = $(this);
                    }
                });
              if ($(this).scrollTop() > 235 && !is_touch_device()) {
                  $(".fixed").css("display", "block");
                  /*$('#gfxhead').css("top", 60);
                  $('#gfxhead').css('left', ($(this).scrollLeft()*(-1)+38));

               	  $('#gfxcopy').css("width",  $("#gfxbody").width() + 2);



                   $(".filterform").css("width",  $("#gfxbody").width() + 2);
                  //alert();
                  $('#gfxcopy').find(".fiodaten table").css("width", 124);
                  */

                  $('#gfxhead').css("left", 21);
                  //$('.gfxrow').find("td:first").css("width", $('#gfxcopy').find("th:first").width());
                  $('#gfxhead').css("top", $(document).find(".navbar-header:first").parents(".container-fluid:first").height()+1);
                  $('#gfxcopy').css("width",  $("#gfxbody").parents(".content_holder:first").width());
                  $(".filterform").css("width",  $("#gfxbody").parents(".content_holder:first").width());
                  //$(".gfxrow td:first").css("width", $('#gfxcopy').find(".fiodaten table").width());

                  //$('#gfxcopy').find(".fiodaten table").css("width", 124);

                  $('#gfxhead').show();

                  $("#gfxcopy").html("<thead>" + $("#gfxbody thead").html() + "</thead>");
                  $("#gfxbody thead th").each(function(r) {
                    var a = $(this);
                    $("#gfxcopy thead th").each(function(b) {
                         var c = $(this);
                         if (b==r) {
                            c.width(a.width());
                         }
                    });
                  });
                  $('#gfxcopy').find(".fiodaten").width($("#gfxbody").find(".fiodaten").width()+5);


                  //$('#gfxcopy').find(".fiodaten").css("width", obj.find("td:first").width()-1);

              } else {

                  $('#gfxhead').hide();
              }
            }
      });


        $(window).resize(function() {
          var obj;
              if ($(".gfxrow").find("td.seltf").length) {
                $(".gfxrow").each(function() {
                    if ($(this).find("td.seltf").length) {
                        obj = $(this);
                    }
                });
              if ($(this).scrollTop() > 235 && !is_touch_device()) {
                  $(".fixed").css("display", "block");
                  /*$('#gfxhead').css("top", 60);
                  $('#gfxhead').css('left', ($(this).scrollLeft()*(-1)+38));

               	  $('#gfxcopy').css("width",  $("#gfxbody").width() + 2);



                   $(".filterform").css("width",  $("#gfxbody").width() + 2);
                  //alert();
                  $('#gfxcopy').find(".fiodaten table").css("width", 124);
                  */

                  $('#gfxhead').css("left", 21);
                  //$('.gfxrow').find("td:first").css("width", $('#gfxcopy').find("th:first").width());
                  $('#gfxhead').css("top", $(document).find(".navbar-header:first").parents(".container-fluid:first").height()+1);
                  $('#gfxcopy').css("width",  $("#gfxbody").parents(".content_holder:first").width());
                  $(".filterform").css("width",  $("#gfxbody").parents(".content_holder:first").width());
                  //$(".gfxrow td:first").css("width", $('#gfxcopy').find(".fiodaten table").width());

                  //$('#gfxcopy').find(".fiodaten table").css("width", 124);

                  $('#gfxhead').show();

                  $("#gfxcopy").html("<thead>" + $("#gfxbody thead").html() + "</thead>");
                  $("#gfxbody thead th").each(function(r) {
                    var a = $(this);
                    $("#gfxcopy thead th").each(function(b) {
                         var c = $(this);
                         if (b==r) {
                            c.width(a.width());
                         }
                    });
                  });
                  $('#gfxcopy').find(".fiodaten").width($("#gfxbody").find(".fiodaten").width()+5);


                  //$('#gfxcopy').find(".fiodaten").css("width", obj.find("td:first").width()-1);

              } else {

                  $('#gfxhead').hide();
              }
            }
      });


        $(".showtickets").show();
        //$(".hide").hide();
        $(".newtick").hide();

        $(document).on("click", ".showtickets", function() {
             $(".newtick").toggle();
             //$(".showtickets").toggle();
        });
        $("#footer").css('box-shadow', 'none');

        $("#content a.disabled").click(function(){
            return false;
        });

        /*$(document).on("touchstart", ".seltf", function() {
           $(this).click();
           return false;
        });*/

        $(document).on("click", '.seltf', function () {
            if (settogfx) return false;
            $('body').css('cursor', 'wait');

            objParent = $(this);
            $('.float-emptylist').hide();
            $('td.seltf').removeClass('selItem');
            $(this).addClass('selItem');
            $('.float-title').html('Техник: ' + $('.'+$(this).find('input[name=user_id]').val()).html());


            var el;
            el = $(this);
            $.post(link2('gfx/view_details'), {user_id: $(this).find('input[name=user_id]').val(), c_date: $(this).find('input[name=date]').val()}).success(function(data) {
                if (data == 'error') {
                    $('body').css('cursor', 'default');
                    alert('Ошибка на стороне сервера. Обратитесь к разработчикам!');

                } else {

                   if (data == 'empty') {
                    	$('.float-subtitle').html( objParent.find('input[name=rudate]').val());
                       $('.float-contents').html('');
                        $('.float-emptylist').show();
                    } else {
                        $('.float-contents').html(data);
                        $('.float-subtitle').html( objParent.find('input[name=rudate]').val() +"<a title='Печать заявок из ячейки графика' target='_blank' href='/gfx/printtickets?user_id=" + objParent.find('input[name=user_id]').val() + "&c_date=" + objParent.find('input[name=date]').val() + "' style='float:right;'><img src='/templates/images/orange_printer.png' /></a>");
                        $('a.printallords').attr('title', 'Пакетная печать Заказ-нарядов на ' + $(el).find('input[name=rudate]').val());
                    }

                    $('#viewdayparams').modal('show');
                    $('body').css('cursor', 'default');
                }
            }).fail(function(){
                $('body').css('cursor', 'default');
                alert('Ошибка обмена данными с сервером! Обратитесь к разработчикам!')
            });
        });

        $(document).on("touchstart", '.seltf', function () {
            if (settogfx) return false;
            $('body').css('cursor', 'wait');

            objParent = $(this);
            $('.float-emptylist').hide();
            $('td.seltf').removeClass('selItem');
            $(this).addClass('selItem');
            $('.float-title').html('Техник: ' + $('.'+$(this).find('input[name=user_id]').val()).html());


            var el;
            el = $(this);
            $.post(link2('gfx/view_details'), {user_id: $(this).find('input[name=user_id]').val(), c_date: $(this).find('input[name=date]').val()}).success(function(data) {
                if (data == 'error') {
                    $('body').css('cursor', 'default');
                    alert('Ошибка на стороне сервера. Обратитесь к разработчикам!');

                } else {

                   if (data == 'empty') {
                    	$('.float-subtitle').html( objParent.find('input[name=rudate]').val());
                       $('.float-contents').html('');
                        $('.float-emptylist').show();
                    } else {
                        $('.float-contents').html(data);
                        $('.float-subtitle').html( objParent.find('input[name=rudate]').val() +"<a title='Печать заявок из ячейки графика' target='_blank' href='/gfx/printtickets?user_id=" + objParent.find('input[name=user_id]').val() + "&c_date=" + objParent.find('input[name=date]').val() + "' style='float:right;'><img src='/templates/images/orange_printer.png' /></a>");
                        $('a.printallords').attr('title', 'Пакетная печать Заказ-нарядов на ' + $(el).find('input[name=rudate]').val());
                    }

                    $('#viewdayparams').modal('show');
                    $('body').css('cursor', 'default');
                }
            }).fail(function(){
                $('body').css('cursor', 'default');
                alert('Ошибка обмена данными с сервером! Обратитесь к разработчикам!')
            });
        });


        $('#viewdayparams').on('hidden.bs.modal', function () {
            $(".selItem").removeClass("selItem");
        });

        $(document).on("click", ".freeticket", function(e) {
            $(".freeticket").removeClass("ft_selected");
            if (jQuery.type($(this)) == 'strong') {
                var obj = $(this).parents('.freeticket:first');
            } else {
                var obj = $(this);
            }
            $(".ft_id").html(obj.attr('id'));
            $(".ft_idhref").attr("href", obj.attr('link'));
            if (obj.attr("timeslot")!= " - " && obj.attr('contr') == "НБН") {
                $(".ft_timeslot").html(obj.attr('timeslot'));

                $(".timeslot").show();
            } else {
                $('.timeslot').hide();
            }
            $(".ft_type").html(obj.attr('task_title'));
            $(".ft_contr").html(obj.attr('contr'));
            $(".ft_wtype").html(obj.attr('task_type'));
            $(".ft_addr").html(obj.attr('task_addr'));
            $(".ft_sc").html(obj.attr('task_sc'));
            $(".ft_area").html(obj.attr('task_area'));
            $(".ft_time").html(obj.attr('task_time'));
            $(".ft_ods").html(obj.attr('task_ods'));
            $(".ft_time").html(obj.attr('duration'));
            $("input[name=ods_id]").val(obj.attr('ods'));
            $("input[name=dom_id]").val(obj.attr('kladr'));
            $("input[name=task_id]").val(obj.attr('id'));
            $("input[name=newticketid]").val(obj.attr('id'));

            $("input[name=settogfx]").attr("task_id", obj.attr('id'));
            $("input[name=settogfx]").attr("dom_id", obj.attr('kladr'));
            $("input[name=settogfx]").attr("ods_id", obj.attr('ods'));
            $("input[name=settogfx]").attr("durationdel", obj.attr('durationdel'));

            $(this).addClass('ft_selected');

            $('#freeticketparams').modal('show');


        });

        $(document).on("click", function(e) {
            //alert(e.target.nodeName);
            if (!e.target.className.match(/freeticket/)) {
                //alert(e.target.className);
                $("#freeticketparams").modal('hide');
                $(".freeticket").removeClass("ft_selected");
            }
        });

        $(document).on("click", "input[name=settogfx]", function() {
            //alert($(".seltf").length);
            /*return false;
            settogfx = true;
            move = false;
             $(".printdocs").hide();

             dur = $(this).attr('durationdel');
            //alert(dur);
            $("td.seltfi").each(function() {
                if (!$(this).hasClass("busytf")) {
                    $(this).addClass("selb");
                } else {
                    $(this).find('table.sched').hide();//addClass('selbg');
                    $(this).find('table.schedtf').hide();//addClass('selbg');
                    $(this).addClass("selbg");
                    $(this).removeClass("seltf");

                }
            });
            var s_ods = $("input[name=ods_id]").val();
            var s_addr = $("input[name=dom_id]").val();
            $("td.start").each(function() {
                if ($(this).attr("ods") == s_ods && s_ods != "00000000000" && s_ods != '') {
                    elOffset = $(this).offset();
                    $(this).append("<div class=\"odsval\" style=\"font-size: 8pt;\">одс</div>");
                    $(this).find(".odsval").css("position", "absolute");
                    $(this).find(".odsval").css("top", elOffset.top+$(this).height());
                    $(this).find(".odsval").css("left", elOffset.left);
             }
                if ($(this).attr("kladr") == s_addr) {
                    elOffset = $(this).offset();
                    $(this).append("<div class=\"addrval\" style=\"font-size: 8pt;\">адрес</div>");
                    $(this).find(".addrval").css("position", "absolute");
                    $(this).find(".addrval").css("top", elOffset.top-$(".addrval").height()-8);
                    $(this).find(".addrval").css("left", elOffset.left);
             }

             });
            $("td.seltfi_empty").each(function() {

                    $(this).addClass("selbg");

            });

            $(".showtickets").hide();

            $("#freeticketparams").modal('hide');
            $(".freeticket").removeClass("ft_selected");
            $(".newtick").toggle();
            $(".ftodsval").hide();
            $(".ftaddrval").hide();

            //$(".showtickets").toggle();
            $(".cancelsettogfx").show();
             //alert($(this).attr('task_id') + " " + $(this).attr('dom_id') + " " + $(this).attr('ods_id')+ " " + + $(this).attr('duration'));
            */
            $("#freeticketparams").modal("hide");
            $("#freeticketsmodal").modal("hide");


        });

        $(document).on("click", ".cancelsettogfx", function() {
             settogfx = false;
            $(".printdocs").show();
             $("td.seltfi_empty").removeClass("selbg");
             $("td.seltfi").removeClass("selb");
             $("td.seltfi").addClass("seltf");
             $("td.seltfi table.sched").show();//addClass('selbg');
             $("td.seltfi table.schedtf").show();//addClass('selbg');
             $(".selbg").removeClass("selbg");
             $(this).hide();
             $(".showtickets").show();
             $(".odsval").remove();
             $(".addrval").remove();
             //$(".newtick").toggle();
             $(".ftodsval").show();
             $(".ftaddrval").show();
             //refreshFilter();

        });

        $(document).on("click", ".closeinsert", function() {

            $("#viewticketparams").hide();
            $(this).removeClass('busyColor');
            $(this).removeClass('freeColor');
            $(this).nextAll().andSelf().slice(0,dur).removeClass('busyColor');
            $(this).nextAll().andSelf().slice(0,dur).removeClass('freeColor');
            return false;
        });

        $(document).on("touchend", "#settogfxmob", function() {
            var obj = $(document).find(".tf").each(function() {
                if ($(this).hasClass('freeColor')) {
                    $(this).click();
                    return false;
                }
            });
            return false;
        });


        $(document).on("mouseover", ".tf", function(e){

            if (!settogfx) return false;

            if ($(this).hasClass('busy')) {
                $("#viewticketparams").addClass('busyColor');
                $(this).nextAll().andSelf().slice(0,dur).addClass('busyColor');
            } else {

                freeCount = $(this).nextAll(".free").length > $(this).nextUntil(".busy").length ? $(this).nextUntil(".busy").length : $(this).nextAll(".free").length;
                if (dur <= freeCount+1) {
                    $(this).nextAll().andSelf().slice(0,dur).addClass('freeColor');
                    $("#viewticketparams").removeClass('busyColor');
                    //$("#viewticketparams").addClass('freeColor');

                } else {
                    $(this).nextAll().andSelf().slice(0,dur).addClass('busyColor');
                    //$("#viewticketparams").removeClass('freeColor');
                    $("#viewticketparams").addClass('busyColor');
                }

            }
            $(this).mousemove(function(event) {
                if (!settogfx) return false;
                $("#viewticketparams").css("top", parseInt( $(this).offset().top + $(this).height()));
                if (parseInt(event.pageX + $("#viewticketparams").width()+50) < $(document).width()) {
                        $("#viewticketparams").css('left',event.pageX);
                    } else {
                        $("#viewticketparams").css('left',event.pageX - (event.pageX+$("#viewticketparams").width()+50-$(document).width()));
                    }
                tf_start = $(this).parents('table.seltf').first().find("input[name=tf_start]").val();
                var cnt = 0;
                //alert( $(this).prevAll().length);
                $(this).prevAll().each(function() {
                     if ($(this).attr('duration')) {
                        cnt += parseInt($(this).attr('duration'));
                     } else {
                        cnt += 1;
                     }
                });

                ticketstart = parseInt(parseInt(tf_start) + cnt*30);
                hourStart = Math.floor(ticketstart/60).length == 1 ? "0" + Math.floor(ticketstart/60) : Math.floor(ticketstart/60);
                minStart = Math.floor(ticketstart%60) == 0 ? "00" : Math.floor(ticketstart%60);
                $(".cinterval").html(hourStart + ":" + minStart);
                $("#viewticketparams").show();


            });


        });


        $(document).on("touchstart", ".tf", function(e){
             alert('1');
            if (!settogfx) return false;
            $(".busyColor").removeClass('busyColor');
            $(".freeColor").removeClass('freeColor');
            //$(this).nextAll().andSelf().slice(0,dur).removeClass('busyColor');
            //$(this).nextAll().andSelf().slice(0,dur).removeClass('freeColor');
            if ($(this).hasClass('busy')) {
                $("#viewticketparams").addClass('busyColor');
                $(this).nextAll().andSelf().slice(0,dur).addClass('busyColor');
            } else {

                freeCount = $(this).nextAll(".free").length > $(this).nextUntil(".busy").length ? $(this).nextUntil(".busy").length : $(this).nextAll(".free").length;
                if (dur <= freeCount+1) {
                    $(this).nextAll().andSelf().slice(0,dur).addClass('freeColor');
                    $("#viewticketparams").removeClass('busyColor');
                    //$("#viewticketparams").addClass('freeColor');

                } else {
                    $(this).nextAll().andSelf().slice(0,dur).addClass('busyColor');
                    //$("#viewticketparams").removeClass('freeColor');
                    $("#viewticketparams").addClass('busyColor');
                }

            }
            $(this).touchmove(function(event) {
                if (!settogfx) return false;
                $("#viewticketparams").css("top", parseInt( $(this).offset().top + $(this).height()));
                if (parseInt(event.pageX + $("#viewticketparams").width()+50) < $(document).width()) {
                        $("#viewticketparams").css('left',event.pageX);
                    } else {
                        $("#viewticketparams").css('left',event.pageX - (event.pageX+$("#viewticketparams").width()+50-$(document).width()));
                    }
                tf_start = $(this).parents('table.seltf').first().find("input[name=tf_start]").val();
                var cnt = 0;
                //alert( $(this).prevAll().length);
                $(this).prevAll().each(function() {
                     if ($(this).attr('duration')) {
                        cnt += parseInt($(this).attr('duration'));
                     } else {
                        cnt += 1;
                     }
                });

                ticketstart = parseInt(parseInt(tf_start) + cnt*30);
                hourStart = Math.floor(ticketstart/60).length == 1 ? "0" + Math.floor(ticketstart/60) : Math.floor(ticketstart/60);
                minStart = Math.floor(ticketstart%60) == 0 ? "00" : Math.floor(ticketstart%60);
                $(".cinterval").html(hourStart + ":" + minStart);
                $("#viewticketparams").show();


            });


        });


        $(document).on("mouseout", ".tf", function(){
            if (!settogfx) return false;
            $("#viewticketparams").hide();
            $(this).removeClass('busyColor');
            $(this).removeClass('freeColor');
            $(this).nextAll().andSelf().slice(0,dur).removeClass('busyColor');
            $(this).nextAll().andSelf().slice(0,dur).removeClass('freeColor');

        });


        $(document).on("click", ".tf", function() {
            if ($(this).hasClass('freeColor')) {
                user_id = $(this).parents('table.seltf').first().find('input[name=user_id]').val();
                user_name = $("p."+user_id).attr("title");
                //user_name = user_name.replace(new RegExp(/<br><small .*>/), "");
                c_date = $(this).parents('table.seltf').first().find('input[name=date]').val();
                interface_date = $(this).parents('table.seltf').first().find('input[name=rudate]').val();
                task_id = $("input[name=task_id]").val();
                tf_start = $(this).parents('table.seltf').first().find("input[name=tf_start]").val();
                var reason = prompt('Причина переноса?');
                var cnt = 0;
                //alert( $(this).prevAll().length);
                $(this).prevAll().each(function() {
                     if ($(this).attr('duration')) {
                        cnt += parseInt($(this).attr('duration'));
                     } else {
                        cnt += 1;
                     }
                });
                ticketstart = parseInt(parseInt(tf_start)+ cnt*30);
                hourStart = Math.floor(ticketstart/60).length == 1 ? "0" + Math.floor(ticketstart/60) : Math.floor(ticketstart/60);
                minStart = Math.floor(ticketstart%60) == 0 ? "00" : Math.floor(ticketstart%60);
                var obj = $(this).parents("td.seltfi");
                //alert(obj.length);
                //alert(user_id + " " + c_date + " " + task_id + " " + hourStart + " " + minStart);
                //return false;
                if (confirm("Установка заявки в График работ.\r\n - заявка № " + task_id + "\r\n - техник: " + user_name + "\r\n - дата: " + interface_date + "\r\n - время: " + hourStart + ":" + minStart + "\r\n Продолжить?")) {
                    $('body').css('cursor', 'wait');
                    if (move) {
                        var moveVal = "1";
                    } else {
                        var moveVal = "0";
                    }
                    $.post(link2('gfx/getgfxcell_ajax'), {user_id: user_id, task_id: task_id, taskstart: ticketstart, targetdate: c_date, move: moveVal, reason_text: reason})
                        .success(function(json) {
                            alert(json);
                            settogfx = false;
                            $("#viewticketparams").hide();
                            try
                            {
                                var data = $.parseJSON( json );
                                $("body").css("cursor", "default");
                                if (data.ok == "ok") {
                                    if (move) {
                                        objParent.html(data.tplprev);
                                    }

                                    obj.html(data.tpl);
                                    $(".freeticket").each(function() {
                                        if ($(this).attr("id") == task_id) {
                                            $(this).remove();
                                        }
                                    });
                                    $(".cancelsettogfx").click();
                                    refreshFilter();
                                    return false;
                                } else {
                                    alert("Ошибка на сервере: " + data.error);
                                    return false;
                                }
                            }
                            catch (exeption) {
                                $("body").css("cursor", "default");
                                if (json.match(/login/ig)) {
                                    $("body").html(json);
                                } else {
                                    alert("Ошибка выполнения: " + exeption);
                                }

                                return false;
                            }
                        })
                        .fail(function() {
                            alert('Ошибка обмена данными с сервером! Обратитесь к разработчикам!');
                            settogfx = false;
                        })
                }
            }
            if ($(this).hasClass('busyColor')) {
                alert('Вы не можете добавить заявку в этот временной интервал! Недостаточно свободного времени!')
            }
        });
        $(".cancelsettogfx").hide();

        $(document).on("click", ".deletefromgfx", function() {
           var task_id = $(this).attr("id");
           var c_date = $(this).attr("c_date");
           var user_id = $(this).attr("tech_id");
           if (!objParent.length) {
                alert('Ошибка интерфейса! Обратитесь к разработчикам!');
                return false;
           }
           if (confirm('Удалить заявку из графика?')) {
                $('body').css('cursor', 'wait');
                $.post(link2('gfx/deletefromgfxcell_ajax'), {user_id: user_id, task_id: task_id, targetdate: c_date, sc_id: $("select[name=sc]").val()})
                        .success(function(json) {
                            $("body").css("cursor", "default");
                            $("#viewdayparams").modal('hide');
                            try
                            {
                                var data = $.parseJSON(json);
                                if (data.ok == "ok") {
                                    objParent.html(data.tpl);
                                    if (data.freeticktpl) {
                                        $(".freeticklist").html(data.freeticktpl);
                                    }
                                    refreshFilter();
                                    return false;
                                } else {
                                    alert("Ошибка на сервере: " + data.error);
                                    return false;
                                }
                            }
                            catch (exeption) {
                                $("body").css("cursor", "default");
                                if (json.match(/login/ig)) {
                                    $("body").html(json);
                                } else {
                                    alert("Ошибка выполнения: " + exeption);
                                }

                                return false;
                            }
                        })
                        .fail(function() {
                            alert('Ошибка обмена данными с сервером! Обратитесь к разработчикам!');

                        })
           }
           return false;
        });

        $(document).on("click", ".movetonewcell", function() {
            move = true;
           var obj = $(this);
           if (confirm('Перенос заявки?')) {
               $(".ft_id").html(obj.attr('id'));
               $(".ft_type").html(obj.attr('task_title'));
               $(".ft_contr").html(obj.attr('contr'));
               $(".ft_wtype").html(obj.attr('task_type'));
               $(".ft_addr").html(obj.attr('task_addr'));
               $(".ft_sc").html(obj.attr('task_sc'));
               $(".ft_area").html(obj.attr('task_area'));
               $(".ft_time").html(obj.attr('task_time'));
               $(".ft_ods").html(obj.attr('task_ods'));
               $(".ft_time").html(obj.attr('duration'));
               $("input[name=ods_id]").val(obj.attr('ods'));
               $("input[name=dom_id]").val(obj.attr('kladr'));
               $("input[name=task_id]").val(obj.attr('id'));
               $("input[name=settogfx]").attr("task_id", obj.attr('id'));
               $("input[name=settogfx]").attr("dom_id", obj.attr('kladr'));
               $("input[name=settogfx]").attr("ods_id", obj.attr('ods'));
               $("input[name=settogfx]").attr("durationdel", obj.attr('durationdel'));

               task_id = obj.attr('id');
               settogfx = true;
                $(".printdocs").hide();
                dur = $(this).attr('durationdel');
                //alert(dur);
                $("td.seltfi").each(function() {
                    if (!$(this).hasClass("busytf")) {
                        $(this).addClass("selb");
                    } else {
                        $(this).find('table.sched').hide();//addClass('selbg');
                        $(this).find('table.schedtf').hide();//addClass('selbg');
                        $(this).addClass("selbg");
                        $(this).removeClass("seltf");

                    }
                });

               var s_ods = $("input[name=ods_id]").val();
                var s_addr = $("input[name=dom_id]").val();
                $("td.start").each(function() {
                    if ($(this).attr("ods") == s_ods && s_ods != "00000000000" && s_ods != '') {
                        elOffset = $(this).offset();
                        $(this).append("<div class=\"odsval\" style=\"font-size: 8pt;\">одс</div>");
                        $(this).find(".odsval").css("position", "absolute");
                        $(this).find(".odsval").css("top", elOffset.top+$(this).height());
                        $(this).find(".odsval").css("left", elOffset.left);
                    }
                    if ($(this).attr("kladr") == s_addr) {
                        elOffset = $(this).offset();
                        $(this).append("<div class=\"addrval\" style=\"font-size: 8pt;\">адрес</div>");
                        $(this).find(".addrval").css("position", "absolute");
                        $(this).find(".addrval").css("top", elOffset.top-$(".addrval").height()-8);
                        $(this).find(".addrval").css("left", elOffset.left);
                    }

                });


               $("td.seltfi_empty").each(function() {

                   $(this).addClass("selbg");

               });

               $(".showtickets").hide();
                $("#viewdayparams").modal('hide');
                $("#freeticketparams").modal('hide');
                $(".freeticket").removeClass("ft_selected");
                $(".newtick").hide();
                $(".ftodsval").hide();
                $(".ftaddrval").hide();
                //$(".showtickets").toggle();
                $(".cancelsettogfx").show();

               refreshGFX();


               // movefromgfxcell_ajax

           }
           return false;
        });

        $(document).on("change", "select[name=filter_cnt_id]", function() {
            var targetContr = $(this).val();
            var targetArea = $('select[name=filter_area]').val();
            var targetWType = $('select[name=filter_type]').val();
            $(".ftitem").each(function() {
                if (targetContr == "0") {
                    $(this).show();
                    if (targetArea != "0") {
                            if ($(this).attr('area_id') != targetArea) {
                                $(this).hide();
                            }
                        }
                        if (targetWType != "0") {
                            if ($(this).attr('task_type_id') != targetWType) {
                                $(this).hide();
                            }
                        }
                } else {
                    if ($(this).attr('contr_id') != targetContr) {
                        $(this).hide();
                    } else {
                        $(this).show();
                        if (targetArea != "0") {
                            if ($(this).attr('area_id') != targetArea) {
                                $(this).hide();
                            }
                        }
                        if (targetWType != "0") {
                            if ($(this).attr('task_type_id') != targetWType) {
                                $(this).hide();
                            }
                        }
                    }
                }
            });
            if ($('.ftitem').length==0) {
                $('.noft').remove();
                $('.ftholder').append('<p class="noft red" style="text-align: center;font-size: 18pt;" >-- нет заявок --</p>');
            } else {
                $('.noft').remove();
            }

        });
        $(document).on("change", "select[name=filter_type]", function() {
            var targetContr = $("select[name=filter_cnt_id]").val();
            var targetArea = $('select[name=filter_area]').val();
            var targetWType = $(this).val();
            $(".ftitem").each(function() {
                if (targetWType == "0") {
                    $(this).show();
                    if (targetArea != "0") {
                            if ($(this).attr('area_id') != targetArea) {
                                $(this).hide();
                            }
                        }
                        if (targetContr != "0") {
                            if ($(this).attr('contr_id') != targetContr) {
                                $(this).hide();
                            }
                        }
                } else {
                    if ($(this).attr('task_type_id') != targetWType) {
                        $(this).hide();
                    } else {
                        $(this).show();
                        if (targetArea != "0") {
                            if ($(this).attr('area_id') != targetArea) {
                                $(this).hide();
                            }
                        }
                        if (targetContr != "0") {
                            if ($(this).attr('contr_id') != targetContr) {
                                $(this).hide();
                            }
                        }
                    }
                }
            });
            if ($('.ftitem').length==0) {
                $('.noft').remove();
                $('.ftholder').append('<p class="noft red" style="text-align: center;font-size: 18pt;" >-- нет заявок --</p>');
            } else {
                $('.noft').remove();
            }


        });
        $(document).on("change", "select[name=filter_area]", function() {
            var targetContr = $("select[name=filter_cnt_id]").val();
            var targetArea = $(this).val();
            var targetWType = $('select[name=filter_type]').val();
            $(".ftitem").each(function() {
                if (targetArea == "0") {
                    $(this).show();
                        if (targetWType != "0") {
                            if ($(this).attr('task_type_id') != targetWType) {
                                $(this).hide();
                            }
                        }
                        if (targetContr != "0") {
                            if ($(this).attr('contr_id') != targetContr) {
                                $(this).hide();
                            }
                        }
                } else {
                    if ($(this).attr('area_id') != targetArea) {
                        $(this).hide();
                    } else {
                        $(this).show();
                        if (targetWType != "0") {
                            if ($(this).attr('task_type_id') != targetWType) {
                                $(this).hide();
                            }
                        }
                        if (targetContr != "0") {
                            if ($(this).attr('contr_id') != targetContr) {
                                $(this).hide();
                            }
                        }
                    }
                }
            });
            if ($('.ftitem').length==0) {
                $('.noft').remove();
                $('.ftholder').append('<p class="noft red" style="text-align: center;font-size: 18pt;" >-- нет заявок --</p>');
            } else {
                $('.noft').remove();
            }
        });

        refreshGFX();
    });


    Array.prototype.in_array = function(p_val) {

        for(var i = 0, l = this.length; i < l; i++)  {

            if(this[i] == p_val) {

                return true;

            }

        }

        return false;

    };

    $(window).resize(function() {

    });

    function refreshFilter() {

        $("select[name=filter_area]").change();
        $("select[name=filter_cnt_id]").change();
        $("select[name=filter_type]").change();
        refreshGFX();
    }

    function refreshGFX() {
        var ods_number = 1;
        var addr_number = 1;
        var ods_a = [];
        var addr_a = [];
        var is_ods = false;
        var is_addr = false;
        $(".ftodsval").remove();
        $(".ftaddrval").remove();
        $(".ftodsvalft1").remove();
        $(".ftaddrvalft1").remove();
        $("td.start").each(function() {
                ods = $(this).attr('ods');
                addr = $(this).attr('addr');

                $(".freeticket").each(function() {

                    if ($(this).attr("ods") == ods && ods != "00000000000" && ods != '' && !ods_a.in_array(ods)) {
                        is_ods = true;
                        $(this).append("<span class='pull-left badge ftodsvalft'>" + ods_number + "</span>");
                    }
                });

            if (is_ods || ods_a.in_array(ods)) {
                    if (!is_ods) {
                        for (i=0; i<ods_a.length; i++) {
                            if (ods_a[i] == ods) {
                                odsnum = i+1;
                            }
                        }
                        $(this).append("<span class='badge pull-right badge-danger ftodsvalft1'>" + odsnum + "</span>");


                    } else {
                        $(this).append("<span class='badge pull-right badge-danger ftodsvalft1'>" + ods_number + "</span>");
                        ods_number += 1;
                        ods_a[ods_a.length] = ods;
                        is_ods = false;
                    }


            }

                if (is_addr || addr_a.in_array(addr)) {
                    if (!is_addr) {
                        for (i=0; i<addr_a.length; i++) {
                            if (addr_a[i] == addr) {
                                addrnum = i+1;
                            }
                        }
                        $(this).append("<span class='badge pull-right badge-danger ftaddrvalft1'>" + addrnum + "</span>");
                    } else {
                        $(this).append("<span class='badge pull-right badge-danger ftaddrvalft1'>" + addr_number + "</span>");
                        addr_number += 1;
                        addr_a[addr_a.length] = addr;
                        is_addr = false;
                    }
                    /*elOffset = $(this).offset();
                    $(this).find(".ftaddrval").css("position", "absolute");
                    $(this).find(".ftaddrval").css("top", elOffset.top-$(".addrval").height()-8);
                    $(this).find(".ftaddrval").css("left", elOffset.left);
                    */
                }

        });


    }

</script>
<style>
.fixed {position:fixed;
z-index: 1000;

display: none;
}
.filter {
    margin: 1em 0;
    padding: 1em;
    /*background-color: #f5f5f5 !important;*/

    background-color: #DFDFDF !important;
    zoom: 1;

    border: 1px solid #88888a;
}

</style>
</head>
<body>
<div id="gfxhead" class="fixed hidden-xs hidden-sm hidden-md" style="display: none;">
    <table style="background: #FFFFFF;" class="filterform table-condensed"><tr><td>
    <div class="navbar">
        <button {TECHRASPHIDDEN} class="btn-primary" type="button" onclick="goTo('adm_emplsched'); return false;"><span class="glyphicon glyphicon-calendar"></span> Расписание техников</button>&nbsp;&nbsp;&nbsp;
        <button type="button" onclick="goTo('{PREVWEEKLINK}'); return false;"><span class="glyphicon glyphicon-chevron-left"></span> предыдущий период</button>&nbsp;
        <button class="btn-default" type="button" onclick="goTo('{CURRENTWEEKLINK}'); return false;" type="button"><span class="glyphicon glyphicon-asterisk"></span> текущий период</button>&nbsp;
        <button class="btn-info" onclick="goTo('{NEXTWEEKLINK}'); return false;" type="button">следующий период <span
            class="glyphicon glyphicon-chevron-right"></span></button>
    </div>

        <form method="POST" class="form form-inline" role="form" action="" style="background: #FFFFFF !important;">
        <!-- BEGIN sc-list1 -->
        <div class="form-group">
            <label>Сервисный центр
            {SCLIST1} </label>
        </div>
        <!-- END sc-list1 -->
        <div class="form-group"><label>Период {PERIODLIST}</label></div>
        <div class="form-group"><input type="checkbox" name="tech-w-tf" id="tech-w-tf" {TECH_W_TF_CHECKED} {TECHRASPHIDDEN} /><label {TECHRASPHIDDEN} for="tech-w-tf">Только техники, у кого есть рабочий интервал</label></div>
        <div class="buttons pull-right">
            <button type="submit" class="btn-primary">Фильтр</button>
        </div>


        </form>
    </td></tr></table>
    <table class="t2" id="gfxcopy" width="100%"
           style="margin-top: -5px !important; border:1px solid #808080 !important; background: #cccccc !important;">

    </table>

</div>
<!-- INCLUDE ../../templates/headline_bs.inc.html -->
<div class="floatingform form1" id="viewticketparams" style="z-index: 1000 !important; max-width: 350px;">
    <h2 class="" style="padding:0; margin:0;color:#000000;">Заявка № <span class="ft_id"></span></h2>
    <small><label>Вид работ: </label><strong class="ft_wtype"></strong></small><br />
    <small style="margin: 0;"><label>Адрес: </label><strong class="ft_addr"></strong></small><br />
    <small style="margin: 0;"><label>ОДС: </label><strong class="ft_ods"></strong></small><br />
    <small style="margin: 0;"><label>СЦ: </label><strong class="ft_sc"></strong></small><br />
    <small><label>Длительность: </label><strong class="ft_time"></strong> мин</small>
    <p><label>Время: </label><strong style="font-size: 14pt;"><span class="cinterval"></span></strong></p>
    <div class="pull-right hidden-md hidden-lg"><button id="settogfxmob" class="btn-success btn-lg"><span class="glyphicon glyphicon-ok"></span></button>
&nbsp;<button class="closeinsert btn-danger  btn-lg"><span class="glyphicon glyphicon-remove"></span></button></div>
</div>

<div class="modal fade" id="viewdayparams" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title float-title"></h4>
          <h5 class="float-subtitle"></h5>
          <h4 class="float-emptylist" align="center">нет заявок</h4>
        </div>
        <div class="modal-body">
            <div class="float-contents"></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="freeticketparams" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Заявка ID: <a target="_blank" class="freeticketparams ft_id ft_idhref"></a></h4>
        </div>
        <div class="modal-body">

            <p class="freeticketparams" style="margin: 0; padding: 0;"><strong>Тип заявки:</strong> <span class="freeticketparams ft_type"></span></p>
            <p class="freeticketparams" style="margin: 0; padding: 0;"><strong>Контрагент:</strong> <span class="freeticketparams ft_contr"></span></p>
            <p class="freeticketparams" style="margin: 0; padding: 0;"><strong>Вид работ:</strong> <span class="freeticketparams ft_wtype"></span></p>
            <p class="freeticketparams" style="margin: 0; padding: 0;"><strong>Длительность:</strong> <span class="freeticketparams ft_time"></span></p>
            <p class="freeticketparams timeslot" style="margin: 0; padding: 0;"><strong>Временной слот:</strong> <span class="freeticketparams ft_timeslot"></span></p>
            <p></p>
            <p class="freeticketparams" style="margin: 0; padding: 0;"><strong>СЦ:</strong> <span class="freeticketparams ft_sc"></span></p>
            <p class="freeticketparams" style="margin: 0; padding: 0;"><strong>Адрес:</strong> <span class="freeticketparams ft_addr"></span></p>
            <p class="freeticketparams" style="margin: 0; padding: 0;"><strong>ОДС:</strong> <span class="freeticketparams ft_ods"></span></p>
            <br />
            <form method="post" action="/gfx/insertticket">
                <input type="submit" class="btn-success btn-lg" name="settogfx" value="Поставить в график" />
                <input type="hidden" name="task_id" />
                <input type="hidden" name="dom_id" />
                <input type="hidden" name="ods_id" />
                <input type="hidden" name="duration" />
                <input type="hidden" name="newticketid" />
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
          </div>
      </div>
    </div>
</div>

<div id="content" class="container-fluid">
<h1>{EVENT_TITLE} <span class="hidden-sm hidden-xs">на <!-- BEGIN cweekword --><strong style="color: #FF0000;">текущий </strong><!-- END cweekword -->период с {INT_START} по {INT_END}</span></h1>
    <table class="content_holder table-condensed"><tr><td>
        <div class="navbar center">
        <button {TECHRASPHIDDEN} class="btn-primary" type="button" onclick="goTo('adm_emplsched'); return false;"><span class="glyphicon glyphicon-calendar"></span> Расписание техников</button>&nbsp;&nbsp;&nbsp;
        <button type="button" onclick="goTo('{PREVWEEKLINK}'); return false;"><span class="glyphicon glyphicon-chevron-left"></span> предыдущий период</button>&nbsp;
        <button class="btn-default" type="button" onclick="goTo('{CURRENTWEEKLINK}'); return false;" type="button"><span class="glyphicon glyphicon-asterisk"></span> текущий период</button>&nbsp;
            <button class="btn-info" onclick="goTo('{NEXTWEEKLINK}'); return false;" type="button">следующий период
                <span class="glyphicon glyphicon-chevron-right"></span></button>
        </div>
        <form method="POST" role="form" class="form form-inline" action="">
            <div class="buttons pull-right hidden-xs">
                <button type="submit" value="" class="btn-primary">Фильтр</button>
            </div>

            <!-- BEGIN sc-list -->
            <div class="form-group">
            <label>Сервисный центр {SCLIST}</label></div>
            <!-- END sc-list -->
            <div class="form-group">
                <label>Вид работ (Техник) <select class="wtypeid" style="width:250px;"  multiple="multiple"  name="wtype_id[]">{WTYPELIST}</select></label>
            </div>
            <div class="form-group">
                <label>Период {PERIODLIST}</label>
            </div>
            <div class="form-group">
                <input type="checkbox" name="tech-w-tf" id="techtf" {TECH_W_TF_CHECKED} {TECHRASPHIDDEN} /><label {TECHRASPHIDDEN} for="techtf"> Только техники, у кого есть рабочий интервал</label>
            </div>
            <div class="buttons center visible-xs hidden-md hidden-sm hidden-lg">
                <button type="submit" class="btn-block btn-primary" value="Фильтр">Фильтр</button>

            </div>
            <input type="hidden" name="startDate" value="{CURRENTSTARTDATE}" />
            <table class="t2" id="gfxbody" width="100%" style="border:1px solid #808080;" style="table-layout:fixed;">
                <thead>
                    <tr>
                        <th class="fiodaten">
                            <table cellpadding="0" cellspacing="0" width="100%"><tr><td><span class="glyphicon glyphicon-chevron-down"></span> ФИО</td><td>Дата <span class="glyphicon glyphicon-chevron-right"></span></td></tr></table>
                        </th>
                        <!-- BEGIN dateGridHead -->
                        <th {GRIDHEADCURRENTDAY} width="{GRIDWIDTH}" valign="top">{GRIDHEADDATE}&nbsp;
                            <a target="_blank" href="{MULTIPLECELLPRINT}" title="Печать заявок на {GRIDHEADDATETITLE}" style="text-align: right;" class="printdocs"><span style="color: red;" class="glyphicon glyphicon-print"> </span></a>&nbsp;
                            <a target="_blank" href="{MULTIPLEPRINTPERDAY}" onclick="if (confirm('Печать с Комментариями?')) {window.open('{MULTIPLEPRINTPERDAY}&printcomments'); return false;} else {window.open('{MULTIPLEPRINTPERDAY}'); return false;}" title="Пакетная печать Заказ-нарядов на {GRIDHEADDATETITLE}" style="text-align: right;" class="printdocs"><span class="glyphicon glyphicon-print"> </span></a>


                        </th>
                        <!-- END dateGridHead -->
                    </tr>
                </thead>
                <tbody>
                    <!-- BEGIN userList -->
                    <tr class="gfxrow">
                        <td width="10%" class="t2fio" style="height: 50px !important; overflow: hidden; ">
                        <table width="100%">
                        <tr>
                            <td width='100%' bgcolor="{DEBTLIMITCOLOR}" style="{DEBTLIMIT}" title="{DEBTTITLE}">
                                <div style="float: left;">
                                    <p class="{USERID}" title="Техник: {FIO}. Телефон: {USERPHONE}"><a target="_blank"
                                                                                                       href="/adm_empl/edit?id={USERID}">{FIO}</a><br/>
                                        <small style="font-size: 8pt;">{USERPHONE}</small>
                                    </p>
                                </div>
                                <small style="color:#ff0000"><strong>{DEBTTITLE}</strong></small>
                            </td>
                            <!-- BEGIN showcallto -->
                            <td {HIDEIFNOPHONE}>
                                <!-- BEGIN calltotechfio -->
                                <input src="/templates/twozero/images/phone.gif" type="image" class="callfromgfx" name="callto" title="Позвонить на {USERPHONENUM}" callfrom="{CALLUSERFROM}" callto="{USERPHONENUM}" /><br />
                                <!-- END calltotechfio -->
                            </td>
                            <!-- END showcallto -->
                        </tr>
                        </table></td>
                        <td {SELCURRENTDATE0}>{SCHED0}</td>
                        <!-- BEGIN sc1 -->
                        <td {SELCURRENTDATE1}>{SCHED1}</td>
                        <!-- END sc1 -->
                        <!-- BEGIN sc2 -->
                        <td {SELCURRENTDATE2}>{SCHED2}</td>
                        <!-- END sc2 -->
                        <!-- BEGIN sc3 -->
                        <td {SELCURRENTDATE3}>{SCHED3}</td>
                        <!-- END sc3 -->
                        <!-- BEGIN sc4 -->
                        <td {SELCURRENTDATE4}>{SCHED4}</td>
                        <!-- END sc4 -->
                        <!-- BEGIN sc5 -->
                        <td {SELCURRENTDATE5}>{SCHED5}</td>
                        <!-- END sc5 -->
                        <!-- BEGIN sc6 -->
                        <td {SELCURRENTDATE6}>{SCHED6}</td>
                        <!-- END sc6 -->
                    </tr>
                    <!-- END userList -->
                </tbody>
            </table>
            <div class="navbar center">
                <button {TECHRASPHIDDEN} class="btn-primary" type="button" onclick="goTo('adm_emplsched'); return false;"><span class="glyphicon glyphicon-calendar"></span> Расписание техников</button>&nbsp;&nbsp;&nbsp;
                <button type="button" onclick="goTo('{PREVWEEKLINK}'); return false;"><span class="glyphicon glyphicon-chevron-left"></span> предыдущий период</button>&nbsp;
                <button class="btn-default" type="button" onclick="goTo('{CURRENTWEEKLINK}'); return false;" type="button"><span class="glyphicon glyphicon-asterisk"></span> текущий период</button>&nbsp;
                <button class="btn-info" onclick="goTo('{NEXTWEEKLINK}'); return false;" type="button">следующий период
                    <span class="glyphicon glyphicon-chevron-right"></span></button>
            </div>
        </form>
    </td></tr></table>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $(".freetickets").click(function() {
            $("#freeticketsmodal").modal("show");
        });
    });
</script>


<div class="modal fade" id="freeticketsmodal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">

            <h4 class="modal-title float-title">Нераспределенные заявки</h4>

        </div>
        <div class="modal-body">

            <table width="100%" border="0">

                <tr >
                    <td>
                        <ul class="gfxfilter">
                            <li>
                                <label>Контрагент</label>
                                <select style="width: 200px;" name="filter_cnt_id">
                                    <option value="0">--все</option>
                                    {FILTER_CNT_OPTIONS}
                                </select>
                            </li>
                            <li>
                                <label>Вид работ</label>
                                <select style="width: 200px;" name="filter_type" >
                                    <option value="0">--все</option>
                                    {FILTER_TYPE_OPTIONS}
                                </select>
                            </li>
                            <li>
                                <label id="areaidlabel">Район</label>
                                <select style="width: 200px;" name="filter_area">
                                    <option value="0">--все</option>
                                    {FILTER_AREA_OPTIONS}
                                </select>
                            </li>
                            <!--li class="buttons">
                                <input type="submit" value="Фильтр" />
                            </li-->
                        </ul>
                    </td>
                </tr>
                <tr >
                    <td height="150px" valign="top" style="padding: 5px;">
                        <table width="100%" style="background: #FFFFFF; border: 1px dashed #000000;">
                            <tr class="freeticklist">
                                <td valign="{TICKALIGN}" width="100%" style='max-height:450px;'>
                                   <div class="ftholder" style="max-height: 450px; overflow-y: scroll; overflow-style: scrollbar;">
                                   <!-- BEGIN ticklist -->
                                   <div class="freeticklist ftlul">
                                   <!-- BEGIN titem -->
                                   <div class="freeticket ftitem" style="float: left; background: {STATUS_COLOR};" timeslot="{NBNTIMESLOT}" link="{TASK_HREF}" area_id="{TASK_AREA_ID}" contr_id="{TASK_CONTR_ID}" task_type_id="{TASK_TYPE_ID}" task_area="{TASK_AREA}" duration="{DURATION}" durationdel="{DURATIONDEL}" task_time="{TASK_TIME}" task_ods="{ODS_NAME}" ods="{ODS_ID}" kladr="{DOM_ID}" id="{TASK_ID}" contr="{TASK_CONTR}" task_type="{TASK_TYPE}"  task_title="{TASK_TITLE}" task_addr="{TASK_ADDR}" task_sc="{TASK_SC}">{TICKTITLE}</div>
                                   <!-- END titem -->
                                   </div>
                                   <!-- END ticklist -->
                                   <!-- BEGIN no-tick -->
                                   <p class="noft red" style="text-align: center;font-size: 18pt;">-- нет заявок --</p>
                                   <!-- END no-tick -->
                                   </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

            </table>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
</div>


<div class="{IS_TECH_NO_ACCESS} addnewtickets">

    <table width="100%" border="0">
    <tr>
        <td align="center" style="padding: 2px;">
        <button class="freetickets showtickets btn-info btn-lg" type="button" id="freetickets" value="Нераспределенные заявки &#9650;"><span сlass="freetickets">Нераспределенные заявки</span></button>
        </td>
    </tr>


    </table>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $('.pull-down').each(function() {
        $(this).css('margin-top', $(this).parent().height()-$(this).height())
    });
})
</script>

<!--div id="footer">
    <div class="footer">
         <!-- INCLUDE ../../templates/footer.inc.html -->
    </div>
</div-->

</body>
</html>
