<tr row_id="{ROW_ID}" task_id="{ROW_TASK_ID}" item_code="{ITEM_CODE}" class="prow">
<td class="rownum"></td>
<td>{ROW_DOC_TYPE}</td>
<td><a href="{TASK_LINK}" target="_blank">{ROW_TASK_ID}</a></td>
<td>{ROW_TASK_CONTR_ID}</td>
<td>{ROW_TASK_TYPE}</td>
<td>{ROW_TASK_WTYPE}</td>
<td>{ROW_TASK_ADDR}</td>
<td style="background-color: {STATUS_COLOR};">{STATUS_NAME}</td>
<td>{ROW_TASK_DD}</td>
<td width="16"><a href="#" class="rem" id="{ROW_TASK_ID}" item_code="{ITEM_CODE}" title="Удалить"><img src="/templates/images/cross.png" /></a></td>
</tr>