.filter, .search_filter {
    margin: 1em 0;
    padding: 1em;
    /*background-color: #f5f5f5 !important;*/
    
    background-color: #EAEAEA !important;
    zoom: 1;     
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 3px;
    border: 1px solid #88888a;
    /*-webkit-box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.75);*/
}
.filter ul, .search_filter  ul {
    list-style-type: none;
    margin: 1em 0;
    padding: 0;    
}
.filter ul li, .search_filter ul li {
    margin: 0em 0;
    padding: 0;
    display: inline-block;
    margin-right: 1em;
    white-space: nowrap;
}
.search_filter ul li input[type=text], .filter ul li input[type=text]/*, .filter ul li select*/ {
    width: 10em;
} 
.filter input[type=reset], .search_filter input[type=reset] {
    font-weight: normal;
}
.filter ul li.buttons, .search_filter ul li.buttons {
    float: right; 
    text-align: center;
}
.filter ul li.buttons button, .filter ul li.buttons .button, .filter ul li.buttons input[type=button], .filter ul li.buttons input[type=submit], .filter ul li.buttons input[type=reset] {
    margin-bottom: 0.5em;    
}

.search_filter ul li.buttons button, .search_filter ul li.buttons .button, .search_filter ul li.buttons input[type=button], .search_filter ul li.buttons input[type=submit], .search_filter ul li.buttons input[type=reset] {
    margin-bottom: 0.5em;    
}


.filter_sort_ids [filter_sort_id] {
    cursor: pointer;
}





