@import url('../fonts/PTSans.css');

.blinking_red {
    background: url("/templates/twozero/images/red_blinking_gif.gif");
}

@media all and (max-width: 800px) {
	body {
		height: 100%;
        min-height: 100%;
        background: #ECECEC !important;
	}

    #header {
        height: auto !important;
        min-height: 25px !important;
        max-height: 250px !important;
        min-width: 480px;
        display: block;
        z-index: 1000 !important;
        -webkit-backface-visibility: hidden !important;
        width: 100%;

    }
    #footer {
        display: none;
    }

    .dtitems li {
        margin: 15px !important;
    }

    #sysname {
        display: none;
    }


    .nbncheck {
        display: none;
    }
    #userinfo {
        display: none;
    }
    .left-context-menu {
        z-index: 900 !important;
    }

    .addnewtickets {
        position: fixed !important;
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;

    }
    .floatingform1 {
        z-index: 10000 !important;
    }

    /*#calc_ticket {
        display: none;
    }*/
}

@media all and (max-width: 500px) {

    .desktopitem {
        width: 100% !important;
        display: inline-table;
        float: left;
    }

    .dtitems {
        display: table;
        table-layout: fixed;
        width: 350px !important;
    }

    .dtitems li {
        display: table-cell;
        width: 100% !important;

        margin: 10px 0px !important;
        padding: 0 !important;
    }

    .left-context-menu {
        z-index: 900 !important;
    }

    .floatingform1 {
        z-index: 10000 !important;
    }
    /*#calc_ticket {
        display: none;
    }*/

}

.corp-font {
	font-family: 'PT Sans';
    font-size: 115%;
}
.corp-font-bold {
	font-family: 'PT Sans';
    font-weight: bold;
    font-size: 115%;
}
.corp-font-light {
	font-family: 'PT Sans';
    font-size: 115%;
}
h1 {
  color: #000;
  font: bold 27px 'PT Sans';
}
h2 {
  color: #444444;
  font: bold 22px 'PT Sans';
}
h3 {
  color: #444444;
  font: normal 18px 'PT Sans';
}
h4 {
  color: #303030;
  font: bold 16px 'PT Sans';
}
h5 {
  color: #444444;
  font: normal italic 15px Arial;
}



#suggestion {
    border: solid 1px gray;
    padding: 5px;
    width: 300px;
    overflow: auto;
    background-color: white;
    position: absolute;
    display: none;
    z-index: 100 !important;
    -webkit-box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.75);
}
#suggestion div {
    padding: 1px;
    cursor: pointer;
}
#suggestion div.selected {
    color: white;
    background-color: #000080;
}


.suggestion {
    border: solid 1px gray;
    padding: 1px;
    width: 300px;
    overflow: auto;
    background-color: white;
    position: absolute;
    display: none;
    z-index: 100 !important;
}
.suggestion div {
    padding: 1px;
    cursor: pointer;
}
.suggestion div.selected {
    color: white;
    background-color: #000080;
}

input[type=text], input[type=password], select, textarea, .input {
    border: 1px solid #689431 !important;
    /*box-shadow: inset 1px 1px 4px #c2d2aa;*/
    padding: 2px 3px;

    background: #fefefe; /* Old browsers */
    /*background: -moz-linear-gradient(top,  #fefefe 0%, #efefef 100%); /* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top,  #fefefe 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top,  #fefefe 0%,#efefef 100%); /* Opera 11.10+ */
    /*background: -ms-linear-gradient(top,  #fefefe 0%,#efefef 100%); /* IE10+ */
    /*background: linear-gradient(top,  #fefefe 0%,#efefef 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
    max-width: 100% !important;
    border-radius: 3px;
}

select {
  height: 28px;
  border: solid;
  border-radius: 3px;
  border-width: 1px;
  border-color: #689431;
  padding: 2px 20px 2px 2px;
  -webkit-appearance: none;
  background: url(../images/s2.jpg) #FFFFFF;
  background-repeat: no-repeat;
  background-position: 98% 50%;

}


.input {
	min-height: 25px;
	min-width: 10em;
	display: inline-block;
	cursor: text;
    max-width: 100% ;
}
input[type=text][disabled], input[type=text].disabled, input[type=password][disabled], input[type=password].disabled, select[disabled], select.disabled, textarea[disabled], textarea.disabled {
    border-color: #bbb;
    max-width: 100% !important;
    color: #808080;
}
input[type=button], input[type=submit], input[type=reset], button, .button {
	border: solid 1px gray;
    /*text-shadow: #ffce60 1px 1px 1px;*/
    color: #000;
    font-family: 'PT Sans';

    background: #EFEFEF;
    /*background: -moz-linear-gradient(100% 100% 90deg, #fbfbfb, #cacaca);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fbfbfb), to(#cacaca));
	background: -webkit-linear-gradient(#fbfbfb, #cacaca);
	background: -o-linear-gradient(#fbfbfb, #cacaca);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfbfb', endColorstr='#cacaca');

    text-shadow: #ffffff 1px 1px 1px;

    border-radius: 3px;
    */
    text-decoration: none;
}
.button {
    padding: 0.5em 1em;
    line-height: 300%;
}

.buttonsel {
    background: #d4e73a;
    /*background: -moz-linear-gradient(100% 100% 90deg, #d4e73a, #8cc541);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d4e73a), to(#8cc541));
	background: -webkit-linear-gradient(#d4e73a, #8cc541);
	background: -o-linear-gradient(#d4e73a, #8cc541);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4e73a', endColorstr='#8cc541');
    */border: solid 1px gray;
    /*text-shadow: #ffffff 1px 1px 1px;*/
    color: #000;
    font-family: 'PT Sans';


    border-radius: 3px;
    text-decoration: none;

}

input[type=button][disabled], input[type=submit][disabled], input[type=reset][disabled], button[disabled],
input[type=button].disabled, input[type=submit].disabled, input[type=reset].disabled, button.disabled, .button.disabled {
	border-color: #aaa;
    text-shadow: none;
    color: #808080;

	background: #EEEEEE; /* Old browsers */
    /*background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
    /*background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
    /*background: linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */

}

a.disabled, a.disabled:link, a.disabled:hover, a.disabled:visited {
    color: #EEEEEE !important;
    display: none;
    text-decoration: none;

}

html {
    height: 100%;

}

.content_holder {
    width: 100%;
    background: #FFFFFF;
    padding: 3px;
    margin: 0;
    border: 1px solid #BBBBBB;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background: #CCCCCC; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #cccccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#cccccc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#cccccc 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#cccccc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
    min-width: 480px;
    background-attachment: fixed;
}
* html body {
    height: 100%;

}
#content {
    padding-top: 70px;
    padding-bottom: 40px; /* место для футера */
    margin: 0 1em;
    min-width: 550px;
}
#header {
    background: #555555;
    color: #111111;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-box-shadow:  0px 3px 5px 1px #555555;
    box-shadow:  0px 3px 5px 1px #555555;
    /*-webkit-box-shadow: 0px 3px 15px 3px rgba(50, 50, 50, 1);
-moz-box-shadow:    0px 3px 15px 3px rgba(50, 50, 50, 1);
box-shadow:         0px 3px 15px 3px rgba(50, 50, 50, 1);
    */
    z-index: 20000;
    height: 58px;
    max-height: 100px !important;
    float: right;
}
#header > div {
    padding: 0px 10px;
}
#sysname {
    background: #555555;
    float: left;
    font-family: 'PT Sans';
    font-size: 130%;
    color: #FFFFFF;
    font-weight: normal;
}

.sysname {
    background: #555555;
    padding-left: 5px;
    font-family: 'PT Sans';
    font-size: 100%;
    color: #FFFFFF;
    font-weight: normal;

}
#userinfo {
    float: right;
    margin-top: 7px;
    color: #FFFFFF;
}
#header #mainmenu {
    background: #555555;

    /*background: -moz-linear-gradient(100% 100% 90deg, #fbfbfb, #cacaca);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fbfbfb), to(#cacaca));
	background: -webkit-linear-gradient(#fbfbfb, #cacaca);
	background: -o-linear-gradient(#fbfbfb, #cacaca);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfbfb', endColorstr='#cacaca');
	text-shadow: #ffffff 1px 1px 1px;  */
    padding: 0;
    /*border: solid 1px #9b9b9b;*/
    overflow: visible;
    zoom: 0;
}
#header #mainmenu a {
    padding: 3px 0.5em;
    margin: 0;
    color: #d4e73a;
    font-family: 'PT Sans';
    font-size: 105%;
    border: none;
    /*border-right: solid 1px #9b9b9b;*/
    float: left;
}
#header #mainmenu a.right {
    float: right;
    /*border-left: solid 1px #9b9b9b;
    border-right: none;*/
}
#header #mainmenu a:hover {
    background: #FEFEFE;
    color: #000000;
    /*background: #ececec;
    background: -moz-linear-gradient(top,  #ececec 0%, #bebebe 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(100%,#bebebe));
    background: -webkit-linear-gradient(top,  #ececec 0%,#bebebe 100%);
    background: -o-linear-gradient(top,  #ececec 0%,#bebebe 100%);
    background: -ms-linear-gradient(top,  #ececec 0%,#bebebe 100%);
    background: linear-gradient(to bottom,  #ececec 0%,#bebebe 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#bebebe',GradientType=0 );
    color: #626262;*/
}
#header #mainmenu a.selected {
    color: #ffab23;
    border: none;

    margin: 0;
    padding: 3px 0.7em;

    color: #000000;
    font-weight: normal;
    background: #FEFEFE;
    /*background: -moz-linear-gradient(100% 100% 90deg, #d4e73a, #8cc541);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d4e73a), to(#8cc541));
	background: -webkit-linear-gradient(#d4e73a, #8cc541);
	background: -o-linear-gradient(#d4e73a, #8cc541);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4e73a', endColorstr='#8cc541');

    border-right: solid 1px #9b9b9b;*/
}
.dialog #header {
    background: black;
    position: fixed;
    width: 100%;
    top: 0;
}
.dialog #mainmenu, .dialog #userinfo {
    display: none;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto !important;
    height: 24px;
    min-height: 24px;
    overflow: hidden;

    border-top: solid 1px #7b7b7b;
    background: #fbfbfb; /* Old browsers */
    /*background: -moz-linear-gradient(top,  #fbfbfb 0%, #cbcbcb 100%); /* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#cbcbcb)); /* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top,  #fbfbfb 0%,#cbcbcb 100%); /* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top,  #fbfbfb 0%,#cbcbcb 100%); /* Opera 11.10+ */
    /*background: -ms-linear-gradient(top,  #fbfbfb 0%,#cbcbcb 100%); /* IE10+ */
    /*background: linear-gradient(to bottom,  #fbfbfb 0%,#cbcbcb 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#cbcbcb',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow:  0px 1px 5px 1px #808080;
    box-shadow:  0px 1px 5px 1px #808080;

    position: fixed;
    bottom: 0;
    width: 100%;
}
#footer div {

    padding: 4px 10px;
}
.dialog #footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.dialog #content {
    padding-top: 1em;
    padding-bottom: 3em;
}
body, p, td, th {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
form, img {
    margin: 0;
    padding: 0;
    border: 0;
}
.clear {
    clear: both;
}
.floats-container {
    overflow: auto;
    zoom: 1;
}
.central {
    width: 1000px;
    margin: 0 auto !important;
}
.center {
    text-align: center;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.no-border {
    border: none !important;
}
.red {
    color: red;
}
.redborder {
    box-shadow: 0 0 10px red !important;
}
.nowrap {
    white-space: nowrap;
}
.help {
    cursor: help;
}

#header a {
    color: #111111;
    text-decoration: none;
    border-bottom: dashed 1px #111111;
}
.form1 ul, .form1 ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.form1 ul li {
    margin: 1em 0;
}
.form1 ul li label {
    font-size: 100%;
    display: inline-block;
    width: 10em;
}
.biginputs input, .form1 ul li input, .form1 ul li select {
    font-size: 125%;
}
.form1 ul li input[type=text], .form1 ul li input[type=password], .form1 ul li select, .form1 ul li textarea {
    width: 15em;
    min-width: 5em;
    max-width: 100%;
}
.form1 ul li textarea {
    width: 25em;
    height: 5em;
}
.biginputs input[type=button], .biginputs input[type=submit], .biginputs input[type=reset], .biginputs button,
.form1 ul li input[type=button], .form1 ul li input[type=submit], .form1 ul li input[type=reset], .form1 ul li button {
    padding: 0.2em 1em;
    font-size: 110%;
    background: #FEFEFE;
}
ul.pages, ul.pages li, ul.pages_ajax, ul.pages_ajax li {
    display: inline-block;
    margin: 0;
    padding: 0;
}
ul.pages li a, ul.pages_ajax li a {
    color: black;
}
ul.pages li.prev a, ul.pages li.next a, ul.pages_ajax li.prev a, ul.pages_ajax li.next a {
    text-decoration: none;
}
ul.pages li.selected, ul.pages li.selected {
    font-weight: bold;
}
table.t1 {
    margin: 1em auto;
    border-collapse: collapse;
    border-spacing: 0;
}
table.t1 td, table.t1 th {
    border: solid 1px #9b9b9b;
    padding: 2px;
    font-size:10pt;
}
table.t1 th {
    border: solid 1px #9b9b9b;
    padding: 4px;
    font-size:10pt;
}
table.t1 th {
    color: #181818;
    background: #d4e73a;
    /*background: -moz-linear-gradient(100% 100% 90deg, #d4e73a, #8cc541);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d4e73a), to(#8cc541));
	background: -webkit-linear-gradient(#d4e73a, #8cc541);
	background: -o-linear-gradient(#d4e73a, #8cc541);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4e73a', endColorstr='#8cc541');
    */
    text-shadow: #FFF6B2 1px 1px 1px;

    border: solid 1px #9b9b9b;

    font-weight: normal;
    white-space: nowrap;
}

table.t1 th.gridheadsel {
    /*color: #000000;
    background: #fabc74;*/
    color: #181818;
    background: #d4e73a;
    /*background: -moz-linear-gradient(100% 100% 90deg, #fabc74, #ffeeb2);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fabc74), to(#ffeeb2));
	background: -webkit-linear-gradient(#fabc74, #ffeeb2);
	background: -o-linear-gradient(#fabc74, #ffeeb2);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fabc74', endColorstr='#ffeeb2');
    */
    border: solid 1px #9b9b9b;

    font-weight: normal;
    white-space: nowrap;
}


table.t1 tr {
    background-color: #FFFFFF !important;
}
table.t1 tr.even {
    /*background-color: #FFFBE8;*/
    background-color: #F4F4F4 !important;
}
.tablesorter .header div {
    background: url('../images/sort-bg.gif') right center no-repeat;
    padding-right: 20px;
    cursor: pointer;
}
.tablesorter .header.headerSortUp div {
    background-image: url('../images/sort-asc.gif');
}
.tablesorter .header.headerSortDown div {
    background-image: url('../images/sort-desc.gif');
}

#content input.user_browse {
    background: #fff url('../images/user-medium.png') right center no-repeat;
    padding-right: 16px;
    filter: none;
}

#content .form1 input.user_browse {
    background-image: url('../images/user.png');
    background-position: 99% center;
    width: 272px;
    padding-right: 24px;
}



#content input.wtype_browse {
    background: #fff url('../images/arrow.png') right center no-repeat;
    padding-right: 16px;
    filter: none;
}

#content .form1 input.wtype_browse {
    background-image: url('../images/arrow.png');
    background-position: 99% center;
    width: 272px;
    padding-right: 24px;
}

a.filetype {
	padding-left: 20px;
    line-height: 18px;
	padding-top: 1px;
	padding-bottom: 1px;
	background: url('../images/filetypes/page_white.png') left center no-repeat;
}
a.filetype[href$='.txt'], a.filetype[href$='.TXT'], a.filetype[href$='.rtf'], a.filetype[href$='.RTF'] { background-image: url('../images/filetypes/page_white_text.png'); }
a.filetype[href$='.bmp'], a.filetype[href$='.BMP'], a.filetype[href$='.png'], a.filetype[href$='.PNG'], a.filetype[href$='.jpg'], a.filetype[href$='.JPG'], a.filetype[href$='.jpeg'], a.filetype[href$='.JPEG'], a.filetype[href$='.gif'], a.filetype[href$='.GIF'], a.filetype[href$='.tif'], a.filetype[href$='.TIF'] { background-image: url('../images/filetypes/picture.png'); }
a.filetype[href$='.pdf'], a.filetype[href$='.PDF'] { background-image: url('../images/filetypes/page_white_acrobat.png'); }
a.filetype[href$='.zip'], a.filetype[href$='.ZIP'], a.filetype[href$='.rar'], a.filetype[href$='.RAR'] { background-image: url('../images/filetypes/page_white_compressed.png'); }
a.filetype[href$='.doc'], a.filetype[href$='.DOC'], a.filetype[href$='.docx'], a.filetype[href$='.DOCX'] { background-image: url('../images/filetypes/page_white_word.png'); }
a.filetype[href$='.docx'], a.filetype[href$='.DOCX'], a.filetype[href$='.docx'], a.filetype[href$='.DOCX'] { background-image: url('../images/filetypes/page_white_word.png'); }
a.filetype[href$='.xls'], a.filetype[href$='.XLS'] { background-image: url('../images/filetypes/page_white_excel.png'); }
a.filetype[href$='.xlsx'], a.filetype[href$='.XLSX'] { background-image: url('../images/filetypes/page_white_excel.png'); }
a.filetype[href$='.ppt'], a.filetype[href$='.PPT'] { background-image: url('../images/filetypes/page_white_powerpoint.png'); }
a.filetype[href$='.htm'], a.filetype[href$='.HTM'], a.filetype[href$='.html'], a.filetype[href$='.HTML'], a.filetype[href$='.mht'], a.filetype[href$='.MHT'] { background-image: url('../images/filetypes/page_white_world.png'); }
a.filetype[href$='.ai'], a.filetype[href$='.AI'], a.filetype[href$='.cdr'], a.filetype[href$='.CDR'], a.filetype[href$='.eps'], a.filetype[href$='.EPS'] { background-image: url('../images/filetypes/page_white_vector.png'); }
a.filetype[href$='.vsd'], a.filetype[href$='.VSD'] { background-image: url('../images/filetypes/page_white_office.png'); }
a.filetype[href$='.wav'], a.filetype[href$='.WAV'], a.filetype[href$='.ogg'], a.filetype[href$='.OGG'], a.filetype[href$='.mp3'], a.filetype[href$='.MP3'] { background-image: url('../images/filetypes/page_sound.gif'); }
a.filetype[href$='.avi'], a.filetype[href$='.AVI'], a.filetype[href$='.mpg'], a.filetype[href$='.MPG'] { background-image: url('../images/filetypes/page_video.gif'); }
a.filetype[href$='.xml'], a.filetype[href$='.XML'] { background-image: url('../images/filetypes/page_code.gif'); }

.redmessage {
    background: #8f0222; /* Old browsers */
    /*background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
    /*background: -ms-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
    /*background: linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */

    color: white;
    margin: 1em auto;
    width: 50%;
    padding: 1em;
    /*border-radius: 5px;*/
    border: solid 1px #800000;
}

a.link, a.link:link, a.link:visited, a.link:hover {
    color: blue;
}

a.bnulink, a.bnulink:link, a.bnulink:visited, a.bnulink:hover {
    color: black;
    text-decoration:none;
}



.float-panel50 {
    float: left;
    width: 50%;

}
.ticket-panels ul {
    margin: 1em;
    padding: 0;
    list-style-type: none;
    background-color: #edefea;
    border: solid 1px gray;
    border-radius: 1px;
    overflow-x: hidden;
    /*box-shadow: 2px 2px 8px rgba(85,85,85,0.5);*/
}
.ticket-panels ul li {
    margin: 1em;
    padding: 0;
}
.ticket-panels ul li label {
    display: inline-block;
    width: 30%;
    text-align: right;
    margin-right: 1em;
    vertical-align: top;
}
.ticket-panels ul li label + label {
    width: auto;
    text-align: left;
}
.ticket-panels ul li input[type=text] {
    max-width: 100%;
    width: 15em;
    min-width: 5em;
}
.ticket-panels ul li textarea {
    width: 60%;
    height: 4em;
    max-width: 100%;
}

.selYellow, .selYellowm {
    background: yellow !important;
}
.graySel {
    background: #DEDEDE !important;
}

.counted {
    color: #0080FF;
}

.countedandincluded {
    color: #FF0000;
}

.tbl2, .tbl2 td {
    background: none !important;
}

ul.menu {
    list-style: none;
    padding-left: 0px;
}

ul.menu li {
    list-style: none;
    float:left;
}


.floatingform1 {
        display:none;
        /*background-color: #fff5dc;*/
        background-color: #ffffff;
        position: fixed;
        border:1px solid #808080;
        width:400px auto;
        height:160px auto;
        padding:10px;
        max-width: 900px;
        min-width: 200px;
        z-index: 15000 !important;
         -webkit-box-shadow:  5px 5px 140px 1px rgba(000, 000, 000, 0.4);
        box-shadow:  5px 5px 140px 1px rgba(000, 000, 000, 0.4);
}


.floatingform {
    background: #FFFFFF !important;
    -webkit-box-shadow:  5px 5px 140px 1px rgba(000, 000, 000, 0.4) !important;
    box-shadow:  5px 5px 140px 1px rgba(000, 000, 000, 0.4) !important;
    border: 1px solid #808080;

}

.sched {
    vertical-align: top !important;
    border: 1px solid #808080 !important;
    border-collapse: collapse !important;
    height: 30px !important;
    width:100% !important;
}



.tf {
    border: 1px solid #CECECE !important;
    border-collapse: collapse;
    height: 30px;
    margin:0 !important;
    padding:0 !important;


}



table.t2 {
    margin: 1em auto;
    border-collapse: collapse;
    border-spacing: 0;
}
table.t2 td, table.t2 th {
    border: solid 1px #9b9b9b;
    padding: 4px;
}
table.t2 th {
    color: #181818;
    background: #d4e73a;
    /*background: -moz-linear-gradient(100% 100% 90deg, #d4e73a, #8cc541);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d4e73a), to(#8cc541));
	background: -webkit-linear-gradient(#d4e73a, #8cc541);
	background: -o-linear-gradient(#d4e73a, #8cc541);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4e73a', endColorstr='#8cc541');
    */
    text-shadow: #FFF6B2 1px 1px 1px;
    border: solid 1px #9b9b9b;

    font-weight: normal;
    white-space: nowrap;
}

table.t2 th.gridheadsel {
    color: #000000;
    background: #fabc74;
    /*background: -moz-linear-gradient(100% 100% 90deg, #fabc74, #ffeeb2);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fabc74), to(#ffeeb2));
	background: -webkit-linear-gradient(#fabc74, #ffeeb2);
	background: -o-linear-gradient(#fabc74, #ffeeb2);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fabc74', endColorstr='#ffeeb2');
      */
    border: solid 1px #9b9b9b;

    font-weight: normal;
    white-space: nowrap;
}

table.t2 th.gridheadselgray {
    color: #808080;
    background: #fbfbfb;
    /*background: -moz-linear-gradient(100% 100% 90deg, #fbfbfb, #cbcbcb);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fbfbfb), to(#cbcbcb));
	background: -webkit-linear-gradient(#fbfbfb, #cbcbcb);
	background: -o-linear-gradient(#fbfbfb, #cbcbcb);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfbfb', endColorstr='#cbcbcb');
      */
    border: solid 1px #9b9b9b;

    font-weight: normal;
    white-space: nowrap;
}


table.t2 td {
    background-color: #FFFFFF;
}

.schedtf, .schedtf td {
    border:0 !important;
}
.seltf:hover {
    /*background-color: #FFFBE8;*/
    background-color: #ffeeb2 !important;
    cursor: pointer;
}

.selItem {
    background-color: #ffeeb2 !important;
}

.gridbodysel {
    background: #ffeeb2 !important;
}

.t2fio {
    background: #f6fbdb  !important;
}

h2.float-title {
    font-size:13pt;
}

h3.float-subtitle {
    font-size:9pt;
}

.float-emptylist {
    color: #FF0000;
}

.connections {
    /*background: #00baff !important;
    border: 1px solid #00baff !important;*/
    margin:0 !important;
    padding:0 !important;

}

.services {
    /*background: #fffc00 !important;
    border: 1px solid #FFFC00 !important;*/
    margin:0 !important;
    padding:0 !important;

}

.start {
    border-top: 1px solid #000000 !important;
    border-left: 2px solid #000000 !important;
    border-bottom: 1px solid #000000 !important;
}

.end {
    border-top: 1px solid #000000 !important;
    border-right: 2px solid #000000 !important;
    border-bottom: 1px solid #000000 !important;
}

.floatingform {
    display: none;
    width: auto;
}

.odsval {
     -webkit-box-shadow:  2px 2px 5px 1px rgba(000, 000, 000, 0.3);
     box-shadow:  2px 2px 5px 1px rgba(000, 000, 000, 0.3);
     border-radius:18px;
     -moz-border-radius:18px;
     border: 3px #CECECE solid;
     background: red;
     color: white;
     padding: 2px 4px 3px 4px;
     font-weight: bold;
}

.addrval {
    -webkit-box-shadow:  2px 2px 5px 1px rgba(000, 000, 000, 0.3);
     box-shadow:  2px 2px 5px 1px rgba(000, 000, 000, 0.3);
     border-radius:18px;
     -moz-border-radius:18px;
     border: 3px #CECECE solid;
     background: blue;
     color: white;
     padding: 2px 4px 3px 4px;
     font-weight: bold;
}


.ftodsvalft {
     border-radius:18px;
     -moz-border-radius:18px;
     border: 3px #CECECE solid;
     background: red;
     color: white;
     padding: 2px 4px 3px 4px;
     font-weight: normal;
     margin: -5px 5px 0 0;
}

.ftaddrvalft {
     border-radius:18px;
     -moz-border-radius:18px;
     border: 3px #CECECE solid;
     background: blue;
     color: white;
     padding: 2px 4px 3px 4px;
     font-weight: normal;
     margin: -5px 0 0 5px;
}


.ftodsval {
     border-radius:18px;
     -moz-border-radius:18px;
     border: 3px #CECECE solid;
     background: red;
     color: white;
     padding: 2px 4px 3px 4px;
     font-weight: normal;

}

.ftaddrval {
     border-radius:18px;
     -moz-border-radius:18px;
     border: 3px #CECECE solid;
     background: blue;
     color: white;
     padding: 2px 4px 3px 4px;
     font-weight: normal;

}

.busyColor {
    background: #ffa4a4 !important;
}

.freeColor {
    background: #acff8f !important;
}

.seltfbusy {
    background: #FFFFFF !important;
}

.leftmenu {
    -webkit-box-shadow:  2px 2px 5px 1px rgba(000, 000, 000, 0.3);
    box-shadow:  2px 2px 5px 1px rgba(000, 000, 000, 0.3);
    position: absolute;
    width: 200px;
    top:0;
    left:0;
    height:100%;
    margin: 65px 0 0 0;
    background: #edefea !important;
    display: none;
}

.lm li {
    margin: 5px;
}

.buttonsel1 {
    font-weight: bold;
}

.lm_item a, .lm_item a:link,.lm_item a:hover,.lm_item a:visited {
    color: blue;
    font-size: 9pt;
}

.hidden {
    display: none;
}

.selected_row, .selected_row td {
    background: #E8F5FF !important;
}

h2 a, h2 a:link, h2 a:visited, h2 a:hover {
    color: blue;
}

h3 a, h3 a:link, h3 a:visited, h3 a:hover {
    color: blue;
}

.outdated {
    background: red !important;
    color: white !important;
}

.purpleback {
    background: #ccc0da;
}

.addnewtickets {
    bottom: 0px;
    position: fixed;
    width: 100%;
    background: #FFFCA3;
    /*background: -moz-linear-gradient(100% 100% 90deg, #fbfbfb, #cacaca);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fbfbfb), to(#cacaca));
	background: -webkit-linear-gradient(#fbfbfb, #cacaca);
	background: -o-linear-gradient(#fbfbfb, #cacaca);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfbfb', endColorstr='#cacaca');
	*/text-shadow: #ffffff 1px 1px 1px;
    padding: 0;
    border: solid 1px #9b9b9b;
    overflow: hidden;
    border-radius: 10px;
    box-shadow:  5px 5px 5px 5px rgba(000, 000, 000, 0.3);
    margin-right: 20px !important;

}

.freetickets {

}

.hidden {
    display: none;
}

.freeticklist {
    padding: 0;
    margin: 0;
}

.freeticklist li {
    border: 1px solid #000000;
    height: 20px;
    float: left;
    margin: 5px;
    vertical-align: middle;
    padding: 5px 5px 2px 4px;
    cursor: pointer;
    list-style: none;
}

.freeticklist li:hover {
    border: 1px solid #000000;
    height: 20px;
    list-style: none;
    float: left;
    margin: 5px;
    vertical-align: middle;
    padding: 5px 5px 2px 4px;
    cursor: pointer;
    background: #FFFCA3 !important;
}

.ft_selected {
    background: #FFFCA3 !important;
}

.selb {
    /*border: 1px solid #FF0000 !important;*/
}

.selbg {
    background: #CCCCCC !important;
}

.gfxfilter {
    list-style: none;
    padding: 0;
    margin: 0 0 0 20px;
}

.gfxfilter li {
    list-style: none;
    float: left;
    margin: 0 5px 0 5px;
}


.desktopitem {
    width: 182px;
    height: 135px !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #FFFFFF;
    border:1px solid #A0A0A0 !important;
}

ul.dtitems {
    max-width: 860px !important;
    text-align: center;
    padding: 0;
}

.dtitems, .dtitems li {
    list-style: none;
    float: left;
    text-align: center !important;
}

.dtitems li {
    margin: 15px;
}

.od {
    margin: 16px 18px 4px 0px !important;
}

a.dtitem, a.dtitem:link, a.dtitem:hover, a.dtitem:visited, .dtitem {
    text-decoration: none !important;
    color: #525252 !important;
    font-style: italic;
    font-size: 11pt !important;
}

/*  task comments */

    .task_comment {
        margin: 1em 0;
        border: solid 1px gray;
        background: white;
        border-radius: 3px;
        /*box-shadow: 2px 2px 8px rgba(85,85,85,0.5);*/
    }
    .task_comment .cmm_title {
        padding: 0.5em;
        border-bottom: solid 1px gray;
        background: #eee;
    }
    .task_comment .cmm_tag {
        margin: 0.5em;
        font-style: italic;
        color: #444;
        border-bottom: solid 1px #ccc;
    }
    .task_comment .cmm_text {
        margin: 0.5em;
        padding-top: 0;
    }

    .cmm_panel {
        float: left;
        width: 99%;
        background: #EEEEEE;
        border: 1px solid #808080;
        border-radius: 3px;
    }
    .cmm_panel h3 {
        margin:0.5em 0.5em 1em 1em;
        color: #000000;
        font-weight: normal;
        font-size: 14pt;
    }
    .cmm_panel textarea {
        width: 90%;
        height: 15em;
        margin: 0.5em 5%;
        background: #FFFFFF !important;
    }
    .cmm_panel ul {
        list-style-type: none;
        margin: 0 auto;
        padding: 0;
        width: 60%;
        border: solid 1px #ccc;
        background: white;
    }

    /*.cmm_panel {
        float: left;
        width: 99%;
        background: #BBBBBB;
        border-radius: 5px;
        padding: 5px;
        box-shadow: 2px 2px 8px rgba(85,85,85,0.5);
    }
    .cmm_panel h3 {
        margin-left: 1em;
        color: #000000;
        font-weight: bold;
    }
    .cmm_panel textarea {
        width: 90%;
        height: 13em;
        margin: 1em 2%;
    }
    .cmm_panel ul {
        list-style-type: none;
        margin: 0 0 0 30px;
        padding: 0;
        width: 60%;
        border: solid 1px #ccc;
        background: white;
    }*/
    .cmm_panel ul li {
        padding: 0.4em;
    }
    .cmm_panel .status_name {
        font-weight: bold;
    }
    .cmm_panel .poruch input[type=text] {
        width: 100%;
        max-width: 100%;
    }
    #poruch_user_names {
        padding-left: 2em;
        font-style: italic;
        overflow: hidden;
    }
    #task_comment_loader, #task_file_loader {
        margin: 1em 0;
        color: #555;
        display: none;
    }
    #uploadiframe {
        display: none;
        /*width: 500px;
        height: 200px;        */
    }

.ffstatus {
    list-style: none;
    margin: 5px 0 5px 0;
    padding: 0;
}

.ffsti {
    list-style: none;
    float: left;
    border: 1px solid #808080;
    margin: 4px;
    padding: 2px 3px;
    border-radius: 3px;
    font-size: 9pt !important;
    text-transform: lowercase;
    cursor: pointer;
}

.ffstisel {
    font-weight: bold;
    border: 1px solid #AAAAAA;
    font-size: 9pt !important;
    color: #000000 !important;
    background: #FFFFFF !important;
    margin: 4px;
}

.filelist {
    margin: 1em !important;
    width:auto !important;
    border:1px solid #808080;
    border-radius: 3px;
}

.lmsubmenu {

}

a.selected_lm:hover {
    font-weight: bold;
}

.closed {
    display: none;
}

.userlinkhead, .userlinkhead:link, .userlinkhead:hover, .userlinkhead:visited {
    color: #FFFFFF !important;
    border-bottom: 1px dashed #FFFFFF !important;
}

    .audiocontrol {
        padding: 0;
        margin:0;
        list-style: none;
        display: table-row;
    }

    .audiocontrol  li{
        list-style: none;
        float: left;
    }


