{% macro breadcrumbs(items) %}
    <ol class="breadcrumb">
        {% for item in items %}
            {% if item.route is defined %}
                {% set params = item.route_params is defined ?: {} %}
                <li><a href="{{ path(item.route, params) }}">{{ item.title }}</a></li>
            {% elseif item.url is defined %}
                <li><a href="{{ item.url }}">{{ item.title }}</a></li>
            {% else %}
                 <li class="active">{{ item.title }}</li>
            {% endif %}
        {% endfor %}
    </ol>
{% endmacro %}

{% macro delete_button() %}
    <button type="submit" class="btn btn-danger" onclick="return confirm('Действительно удалить запись?');">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Удалить
    </button>
{% endmacro %}
