{% extends 'GorservGerpCoreBundle::layout_bootstrap.html.twig' %}
{% import 'GorservGerpCoreBundle::macro/ui.html.twig' as ui %}

{% block breadcrumbs %}
     {{ ui.breadcrumbs([
            { url: '/', title: 'Рабочий стол '},
            { route: 'bu_index', title: 'Бизнес-юниты'},
            { title: 'Редактировать запись «' ~ businessUnit.title ~ '»'}
        ]) }}
{% endblock %}

{% block title %}Редактировать «{{ businessUnit.title }}»{% endblock %}

{% block container %}
    {{ form(edit_form) }}
    
    {{ form_start(delete_form) }}
        {{ ui.delete_button }}
    {{ form_end(delete_form) }}
{% endblock %}
