{% extends 'GorservGerpCoreBundle::layout_bootstrap.html.twig' %}
{% import 'GorservGerpCoreBundle::macro/ui.html.twig' as ui %}

{% block breadcrumbs %}
     {{ ui.breadcrumbs([
            { url: '/', title: 'Рабочий стол '},
            { title: 'Бизнес-единицы' }
        ]) }}
{% endblock %}

{% block title %}Бизнес-единицы{% endblock %}

{% block container %}
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Заголовок</th>
                <th>Описание</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for businessUnit in businessUnits %}
                <tr>
                    <td>{{ businessUnit.id }}</td>
                    <td><a href="{{ path('bu_show', { 'id': businessUnit.id }) }}">{{ businessUnit.title }}</a></td>
                    <td>{{ businessUnit.description }}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="...">
                            <a class="btn btn-default" href="{{ path('bu_show', { 'id': businessUnit.id }) }}"><span class="fa fa-eye"></span></a>
                            <a class="btn btn-default"  href="{{ path('bu_edit', { 'id': businessUnit.id }) }}"><span class="fa fa-edit"></span></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('bu_new') }}"><span class="glyphicon glyphicon-plus"></span> Добавить</a>
{% endblock %}
