{% extends 'GorservGerpCoreBundle::layout_bootstrap.html.twig' %}
{% import 'GorservGerpCoreBundle::macro/ui.html.twig' as ui %}

{% block breadcrumbs %}
     {{ ui.breadcrumbs([
            { url: '/', title: 'Рабочий стол '},
            { route: 'bu_index', title: 'Список'},
            { title: 'Новая бизнес-единица' }
        ]) }}
{% endblock %}

{% block title %}Новая бизнес-единица{% endblock %}

{% block container %}
    {{ form(form) }}
{% endblock %}
