{% extends 'GorservGerpCoreBundle::layout_bootstrap.html.twig' %}
{% import 'GorservGerpCoreBundle::macro/ui.html.twig' as ui %}

{% block breadcrumbs %}
     {{ ui.breadcrumbs([
            { url: '/', title: 'Рабочий стол '},
            { route: 'bu_index', title: 'Бизнес-юниты'},
            { title: businessUnit.title }
        ]) }}
{% endblock %}

{% block title %}{{ businessUnit.title }}{% endblock %}

{% block container %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ businessUnit.id }}</td>
            </tr>
            <tr>
                <th>Название</th>
                <td>{{ businessUnit.title }}</td>
            </tr>
            <tr>
                <th>Описание</th>
                <td>{{ businessUnit.description }}</td>
            </tr>
        </tbody>
    </table>

    {{ form_start(delete_form) }}
        <a class="btn btn-primary" href="{{ path('bu_edit', { 'id': businessUnit.id }) }}">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            Редактировать
        </a>
        {{ ui.delete_button }}
    {{ form_end(delete_form) }}
{% endblock %}
