<div id="footer">
    <div class="footer">
        <small>{{ system_name }} &copy; 2011-{{ 'now'|date('Y') }}</small>
        <small style="float:right;">
            <a href="mailto:{{ system_developer_email }}">
                {{ system_developer_email }}
            </a>
        </small>
    </div>
</div>
{{ float_button | raw }}
{{ impersonate|raw }}
