.error {
    position: absolute;
    width: 600px;
    left: 50%;
    margin-left: -300px;
    top: 30%;
}
.error fieldset {
    border: solid 1px #800000;
    padding: 0;
    font-weight: bold;
    font-size: 125%;
    text-align: center;
    background: #fefefe;
}
.error fieldset legend {
    padding: .5em 10px;
    margin: 0 -1px;
    display: block;
    width: 574px;
    border: solid 1px #800000;
    border-radius: 10px 10px 0 0;
    color: #fff;
    text-align: left;
    
    background: #bc0322; /* Old browsers */
    background: -moz-linear-gradient(top,  #bc0322 0%, #510005 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bc0322), color-stop(100%,#510005)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #bc0322 0%,#510005 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #bc0322 0%,#510005 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #bc0322 0%,#510005 100%); /* IE10+ */
    background: linear-gradient(top,  #bc0322 0%,#510005 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc0322', endColorstr='#510005',GradientType=0 ); /* IE6-9 */
}
.error ul {
    color: red;    
    text-align: left;
}
.error input {
    font-size: 150%;
    margin: 1em;
    padding: .1em 1em;
}