.filter {
    margin: 1em 0;
    padding: 0 1em;
    background-color: #edefea;
    border-top: solid 1px #9b9b9b; 
    
    zoom: 1;     
}
.filter ul {
    list-style-type: none;
    margin: 1em 0;
    padding: 0;    
}
.filter ul li {
    margin: 0.5em 0;
    padding: 0;
    display: inline-block;
    margin-right: 1em;
    white-space: nowrap;
}
.filter ul li input[type=text]/*, .filter ul li select*/ {
    width: 10em;
} 
.filter input[type=reset] {
    font-weight: normal;
}
.filter ul li.buttons {
    float: right; 
    text-align: center;
}
.filter ul li.buttons button, .filter ul li.buttons .button, .filter ul li.buttons input[type=button], .filter ul li.buttons input[type=submit], .filter ul li.buttons input[type=reset] {
    margin-bottom: 0.5em;    
}
.filter_sort_ids [filter_sort_id] {
    cursor: pointer;
}