.loginform {
    position: relative;
    width: 450px;
    margin: 0 auto;
    margin-top: 10%;
    padding: 30px 20px 20px 20px;
    z-index: 0;
    border: 1px solid #808080;
    height: 270px;
    background: #FFFFFF; /* Old browsers */
    background: -moz-linear-gradient(top,  #FFFFFF 0%, #EEEEEE  100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#EEEEEE)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #FFFFFF 0%, #EEEEEE 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #FFFFFF 0%,#EEEEEE 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #FFFFFF 0%,#EEEEEE 100%); /* IE10+ */
    background: linear-gradient(top,  #FFFFFF 0%,#EEEEEE 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#EEEEEE',GradientType=0 ); /* IE6-9 */
    /*-webkit-box-shadow:  0px 5px 240px 1px rgba(000, 000, 000, 0.4);
    box-shadow:  0px 5px 240px 1px rgba(000, 000, 000, 0.4);*/
    /*-webkit-box-shadow:  0px 2px 5px 1px rgba(000, 000, 000, 0.3);
     box-shadow:  0px 2px 5px 1px rgba(000, 000, 000, 0.3);*/
     /*-webkit-box-shadow: 1px 0px 90px 6px rgba(55, 55, 55, 0.09);
     -moz-box-shadow:    1px 0px 90px 6px rgba(55, 55, 55, 0.09);
     box-shadow:         1px 0px 90px 6px rgba(55, 55, 55, 0.09);*/
     border-radius: 10px !important;
}
.loginform ul {
    padding: 0;
    list-style-type: none;        
    position: relative; 
}
.loginform ul li input[type=text], .loginform ul li input[type=password], .loginform ul li select {
    width: 300px;  
    border: 1px solid #808080 !important;          
}
#loginbg {
    position: absolute;
    width: 100%;
    height: 400px;
    bottom: 0;
}
#content .form1 ul li label {
    width: 150px;
}

#header {
    background: #808080;
    color: #FFFFFF;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-box-shadow:  2px 2px 5px 1px rgba(000, 000, 000, 0.3);
    box-shadow:  2px 2px 5px 1px rgba(000, 000, 000, 0.3);
   
    
}
#sysname {
    padding: 4px 10px;
    margin: 0;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 170%;
    color: #FFFFFF;
    font-weight: bold;
    background: #808080;
}

body {
    background: #FFFFFF !important;
}