<tbody class="paysbody">
    			<!--  BEGIN payments -->
<tr class="paymentrow pr{PID}">
    				<td align="center">{PID}</td>
    				<td>{PDATE}</td>
    				<td align="right">{PAMMOUNT}</td>
    				<td>{PAYMENT_TYPE}</td>
    				<td>{PUSER}</td>
    				<td>{POPDATE}</td>
					<td style="width: 16px;"><a class="deletepayment" style="cursor: pointer;" id="{PID}" title="Удалить платеж из счета"><img src="/templates/images/cross.png" border="0" /></a></td>
        		</tr>
    			<!--  END payments -->
    			<tr {NOPAYSHIDDEN} class="nopayments">
    				<td colspan="7" align="center"><p class="redmessage">Оплаты отсутствуют!</p></td>
    			</tr>
    			</tbody>
    			<tfoot class="paysfoot">
    				<tr>
    					<td colspan="2" align="right"><b>Оплачено:</b></td>
    					<td align="right"><b {PAIDMORETHAN}>{TOTALPAID}</b></td>
						<td colspan="4">Выставлено по счету: <b>{TOTALREQUIRED}</b></td>
    				</tr>
    			</tfoot>