<!-- BEGIN srow -->
<tr class="skp_data_row">
<td nowrap><a href="#" id="{ID}"  wtypeminval="{EI_MINVAL}" wtypeprice="{PRICENONFORMAT}" wtypecode="{WTYPECODE}" wtypetitle="{WTYPETITLE}" class="selectskpwt_link">{WTYPECODE}</a></td>
<td><a href="#" id="{ID}" wtypeminval="{EI_MINVAL}" wtypeprice="{PRICENONFORMAT}" wtypecode="{WTYPECODE}" wtypetitle="{WTYPETITLE}" class="selectskpwt_link">{WTYPETITLE}</a></td>
<td nowrap>{EDIZM}</td>
<td nowrap align="center">{EI_MINVAL}</td>
<td align="right" nowrap>{PRICE}</td>
<td align="left"  class="hidden-xs hidden-sm" nowrap>{CTGR}</td>
</tr>
<!-- END srow -->
