<small class="hasrecords">Будет показано максимум 15 записей...</small>
<table class="t1" cellpadding="0" cellspacing="0" width="100%">
<thead>
    <tr>
        <th>Код</th>
        <th>Наименование</th>
        <th class="hidden-xs">Ед. изм</th>
        <th>Мин ед. изм</th>
        <th>Цена</th>
    </tr>
</thead>
<!-- BEGIN srow -->
<tr class="skp_data_row">
<td nowrap><a id="{ID}"  wtypeminval="{EI_MINVAL}" wtypeprice="{PRICENONFORMAT}" wtypecode="{WTYPECODE}" wtypetitle="{WTYPETITLE}" class="selectskpwt_link1">{WTYPECODE}</a></td>
<td><a id="{ID}" wtypeminval="{EI_MINVAL}" wtypeprice="{PRICENONFORMAT}" wtypecode="{WTYPECODE}" wtypetitle="{WTYPETITLE}" class="selectskpwt_link1">{WTYPETITLE}</a></td>
<td  class="hidden-xs" nowrap>{EDIZM}</td>
<td nowrap align="center">{EI_MINVAL}</td>
<td align="right" nowrap>{PRICE}</td>
</tr>
<!-- END srow -->
<!-- BEGIN srownorows -->
<tr>
    <td width="100%" colspan="5" align="center"><p class="redmessage">Нет записей!</p></td>
</tr>
<!-- END srownorows -->
</table>
<small class="hasrecords">Будет показано максимум 15 записей...</small>