<div class="modal fade" id="gochangeods_inform" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Изменение ОДС</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label class="control-label col-sm-3" for="title">Выберите ОДС: </label><select name="newodsid_inform" id="newodsid_inform"></select> 
            </div><br />
            <center><button class="btn-primary" type="button" id="gosavechange_inform" value="Сохранить" ><span class="glyphicon glyphicon-save"></span> Сохранить</button>&nbsp;&nbsp;&nbsp;
            <button  class="btn-success"  type="button" id="goaddnew_inform" value="Создать ОДС" >Создать ОДС</button>&nbsp;&nbsp;&nbsp;<button type="button" class="btn-default" id="cancel_c_ods_inform" value="Отменить" >Отменить</button> </center><br />
        </div>
      </div>
    </div>
</div>
<div class="modal fade" id="goeditods" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Редактор ОДС</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="control-label col-sm-3" for="title">Название ОДС: </label><div class="col-sm-6"><input name="ods_name_inform" style="width: 250px;" id="ods_name_inform" type="text" value="{E_ODS_TITLE}" /></div></div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="title">Адрес: </label><div class="col-sm-6"><input name="ods_addr_inform" style="width: 300px;" id="ods_addr_inform" type="text"  value="{E_ODS_ADDR}" /></div></div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="title">Телефоны: </label><div class="col-sm-6"><input name="ods_tel_inform" style="width: 250px;" id="ods_tel_inform" type="text"  value="{E_ODS_TEL}" /></div></div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="title">Контакты: </label><div class="col-sm-6"><input name="ods_contact_inform" style="width: 290px;" id="ods_contact_inform" type="text"  value="{E_ODS_CONTACT}"  /></div></div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="title">Комментарий: </label><div class="col-sm-6"><textarea name="ods_comment_inform" style="width: 290px;" id="ods_comment_inform" >{E_ODS_COMMENT}</textarea></div></div>
            <br />
            
            <center><button class="btn-primary" type="button" id="gosave_inform" value="Сохранить" ><span class="glyphicon glyphicon-save"></span> Сохранить</button> 
            <button type="button" class="btn-default" id="cancel_ods_inform" value="Отменить" >Отменить</button> </center><br />
            </form>
        </div>
    </div>
    </div>
</div>
<div class="modal fade" id="gocreateods" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Создание новой ОДС</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" role="form">
                <div class="form-group"><label class="control-label col-sm-3" for="title">Название ОДС: </label><div class="col-sm-6"><input name="new_ods_name_inform" style="width: 250px;" id="new_ods_name_inform" type="text" /></div></div>
                <div class="form-group"><label class="control-label col-sm-3" for="title">Адрес: </label><div class="col-sm-6"><input name="new_ods_addr_inform" style="width: 300px;" id="new_ods_addr_inform" type="text"  /></div></div>
                <div class="form-group"><label class="control-label col-sm-3" for="title">Телефоны: </label><div class="col-sm-6"><input name="new_ods_tel_inform" style="width: 250px;" id="new_ods_tel_inform" type="text"  /></div></div>
                <div class="form-group"><label class="control-label col-sm-3" for="title">Контакты: </label><div class="col-sm-6"><input name="new_ods_contact_inform" style="width: 290px;" id="new_ods_contact_inform" type="text"  /></div></div>
                <div class="form-group"><label class="control-label col-sm-3" for="title">Комментарий: </label><div class="col-sm-6"><textarea name="new_ods_comment_inform" style="width: 290px;" id="new_ods_comment_inform" ></textarea></div></div>
            <br />
            </form>
            <center><button class="btn-primary" type="button" id="gocreate_inform" value="Создать и выбрать" ><span class="glyphicon glyphicon-save"></span> Создать и выбрать</button> 
            <button type="button" class="btn-default" id="cancel_create_ods_inform" value="Отменить" >Отменить</button> </center><br />
        </div>
      </div>
    </div>
</div>
<div id="report_c">
<input type="hidden" name="readonly" value="1" />
<h4 style="margin-bottom: 5px; margin-top:0;">1. Расчет по договору</h4>
<table  border="0" width="100%">
    <tr>
        <td valign="top" width="100%">
            <!-- BEGIN cpriceupdated -->
            <p style="margin-bottom:0;color: #FF0000; font-weight:bold;">ВНИМАНИЕ! Прайс был обновлен. Расчет выполняется по старой цене, указанной в прайсе на дату расчета. Новая цена выделена красным цветом.</p><small>Для того, чтобы изменить цены в соответствии с новым прайсом - замените элементы со старыми ценами. После этого - сохраните отчет.</small>
            <!-- END cpriceupdated -->
            
            <table class="t1" style="margin-top: 0 !important;" width="100%">
                <thead>
                    <tr>
                        <th width="65%">Вид работ</th><th width="1%">Кол-во</th><th width="15%">Стоимость</th><th width="15%">Смета</th>
                    </tr>
                </thead>
                <tbody class="contr_works">
                    <!-- BEGIN cw_row -->
                    <tr val='csr' class="{CW_TYPE}{CW_ID}" {CW_OLDPRICETITLE}>
                        <td><input type="hidden" name="rowo_ids[]" value="{CWR_ID}" /><input type="hidden" name="{CW_TYPE_T}" value="{CW_ID_VAL}" />
                        <input type="hidden" name="{CW_TYPE_T_VAL}" value="{CW_ID_VAL_CVAL}" />{CW_TYPE_TITLE}</td>
                        <td><center>{CW_QUANT}</center></td>
                        <td><center>{CW_PRICE}</center></td>
                        <td><center>{CW_SMETA}</center></td>
                    </tr>
                    <!-- END cw_row -->
                    <!-- BEGIN cw_norows -->
                    <tr class="cw_no_rows">
                        <td colspan="4"><p align="center" style="color: #FF0000;"><strong>Список пуст</strong></p></td>
                    </tr>
                    <!-- END cw_norows -->
                    
                </tbody>
            </table>
        </td>
        <td valign="top" width="13%" align="center">
        </td>
    </tr>
    <tr><td colspan="3"></td></tr>
</table>
<hr />
<h4 style="margin-bottom: 5px; margin-top:0;">2. Расчет по зарплате</h4>
<p>Расчет Техника: <strong>{CALC_TECH_NAME}</strong><br />
Дата Расчета: <strong>{CALC_DATE}</strong></p>
<table  border="0" width="100%">
    
    <tr>
        <td valign="top" width="100%">
            <!-- BEGIN priceupdated -->
            <p style="margin-bottom:0;color: #FF0000; font-weight:bold;">ВНИМАНИЕ! Прайс был обновлен. Расчет выполняется по старой цене, указанной в прайсе на дату расчета. Новая цена выделена красным цветом.</p><small>Для того, чтобы изменить цены в соответствии с новым прайсом - замените элементы со старыми ценами. После этого - сохраните отчет.</small>
            <!-- END priceupdated -->
            <table class="t1" style="margin-top: 0 !important;" width="100%">
                <thead>
                    <tr>
                        <th width="65%">Вид работ</th><th width="1%">Кол-во</th><th width="15%">Стоимость</th><th width="15%">Смета</th>
                    </tr>
                </thead>
                <tbody class="tech_works">
                    <!-- BEGIN tw_row -->
                    <tr val='tsr' class="{TW_TYPE}{TW_ID}" {TW_OLDPRICETITLE}>
                        <td><input type="hidden" name="row_ids[]" value="{TWR_ID}" /><input type="hidden" name="{TW_TYPE_T}" value="{TW_ID_VAL}" /><input type="hidden" name="{TW_TYPE_T_VAL}" value="{TW_ID_VAL_CVAL}" /><input type="hidden" name="{TW_TYPE_T_VAL2}" value="{TW_ID_VAL_CVAL2}" />{TW_TYPE_TITLE}</td>
                        <td><center>{TW_QUANT}</center></td>
                        <td><center>{TW_PRICE}</center></td>
                        <td><center>{TW_SMETA}</center></td>
                    </tr>
                    <!-- END tw_row -->
                    <!-- BEGIN tw_norows -->
                    <tr class="tw_no_rows">
                        <td colspan="4"><p align="center" style="color: #FF0000;"><strong>Список пуст</strong></p></td>
                    </tr>
                    <!-- END tw_norows -->
                    
                </tbody>
            </table>
        </td>
           
    </tr>
</table>
<hr />
<h4 style="margin-bottom: 5px; margin-top:0;">3. ТМЦ</h4>
<input type="hidden" name="target_sc_id" value="{TMC_SC_ID}" />
<table class="t1" border="0" width="100%">
                <thead>
                    <tr>
                        <th width="40%">ТМЦ</th><th width="25%">Серийный номер</th><th width="15%">Кол-во</th><th width="15%">Аренда</th>
                    </tr>
                </thead>
                <tbody class="tmc_list">
                    <!-- BEGIN tmc_row -->
                    <tr class="{TMC_ID}">
                        <td align="center">{TMC_TITLE}
                        <input type="hidden" name="row_id[]" value="{TMC_ROW_ID}" />
                        </td>
                        <td align="center">
                            {NO_SERIAL}
                            <!-- BEGIN hasserial -->
                            {TMC_SERIAL}
                            <input  value="{TMC_SERIAL}" name="tmc_serial_{TMC_S_ID}" type="hidden" style="width:130px;" />
                            <input type='hidden' name='tmcid_{TMC_S_ID}' value='{TMC_SERIAL}' />
                            <!-- END hasserial -->
                        </td>
                        <td align="center">
                            {TMC_COUNT}
                            <input type="hidden" name="tmc_ids[]" value="{TMC_ID}" />
                            <input   name="tmc_count_{TMC_ID}" value="{TMC_COUNT}" type="hidden" style="width:50px;" />
                        </td>
                        <td align="center">
                            {NO_ISRENT}
                            <!-- BEGIN isrent -->
                            <input type="checkbox" name="isrent{TMC_IR_ID}" {IS_RENT_CHECKED} />
                            <!-- END isrent -->
                        </td>
                    </tr>
                    
                    <!-- END tmc_row -->
                   
                    <tr class="tmc_no_rows" style="{NO_TMC_ROWS}">
                        <td colspan="5"><p align="center" style="color: #FF0000;"><strong>Список пуст</strong></p></td>
                    </tr>
                    
                </tbody>
            </table>
            <hr />
            
<h4 style="margin-bottom: 5px; margin-top:0;">3.1 ТМЦ - прием по заявке  (необязательно)</h4>
<input type="hidden" name="target_sc_id" value="{TMC_SC_ID}" />
<table border="0" width="100%">
     
    <tr>
        <td align="left" width="100%">
            <table class="t1" border="0" align="left" width="100%" style="margin-top: 0 !important;">
                <thead>
                    <tr>
                        <th width="55%">ТМЦ</th><th width="20%">Серийный номер</th><th width="25%">ФИО Техника</th> 
                    </tr>
                </thead>
                <tbody class="r_tmc_list">
                    <!-- BEGIN r_tmc_row -->
                    <tr class="r_tmc_rows rtmc_{R_TMC_ROW_ID} {R_TMC_ID} {R_TMC_ROW_ID}">
                        <td align="center">{R_TMC_TITLE}</td>
                        <td align="center">
                            {NO_R_TMC_SERIAL}
                            <!-- BEGIN r_tmc_hasserial -->
                            {R_TMC_SERIAL}
                            <!-- END r_tmc_hasserial -->
                        </td>
                        <td>{R_TMC_TECHFIO}</td>  
                    </tr>                    
                    <!-- END r_tmc_row -->
                    <tr class="r_tmc_no_rows" style="{NO_R_TMC_ROWS}">
                        <td colspan="5"><p align="center" style="color: #FF0000;"><strong>Список пуст</strong></p></td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
    </table>
    <hr />            

<h4 style="margin-bottom: 5px; margin-top:0;">4. ОДС</h4>
<table border="0">
    <tr>
        <td colspan="2"><input type="hidden" name="ods_id_inform" value="{ODS_ID}" />
    </tr>
    <tr>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td width="15%">Название ОДС</td>
        <td><strong id="e_ods_name_inform">{ODS_NAME}</strong></td>
    </tr>
    <tr>
        <td>Адрес ОДС</td>
        <td><strong id="e_ods_addr_inform">{ODS_ADDR}</strong></td>           
    </tr>
    <tr>
        <td>Телефон</td>
        <td><strong id="e_ods_tel_inform">{ODS_TEL}</strong></td>                    
    </tr>
    <tr>
        <td>Контакты</td>
        <td><strong id="e_ods_contact_inform">{ODS_CONTACTS}</strong></td>
    </tr>
    <tr>
        <td>Комментарий</td>
        <td><strong id="e_ods_comment_inform">{ODS_COMMENT}</strong></td>
    </tr>
    <tr><td colspan="2"><hr /></td></tr>
</table>
</div>