<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">Анкета клиента</h3>
</div>
<div class="modal-body">

    <uib-tabset active="activeForm">
        <uib-tab index="0" heading="Лояльность">
            <div class="panel panel-warning" ng-repeat="(i, question) in loyalty.questions track by i" ng-if="!!question.question">
                <div class="panel-heading"><h5 class="panel-title">[[question.question]]</h5></div>
                <div class="panel-body">
                    <div class="checkbox" ng-repeat="answer in question.answers">
                        <label>
                            <input
                                    type="radio"
                                    name="ans_[[i]]"
                                    ng-model="question.answered"
                                    ng-value="answer"
                            > [[answer]]
                        </label>
                    </div>
                </div>
            </div>

            <textarea class="form-control" rows="3" placeholder="Комментарий..."
                      ng-model="loyalty.comment"></textarea>
        </uib-tab>
        <uib-tab index="1" heading="Опрос">
            <div class="panel panel-warning " ng-repeat="(i, question) in questionnaire.questions track by i" ng-if="!!question.question">
                <div class="panel-heading"><h5 class="panel-title">[[question.question]]</h5></div>
                <div class="panel-body">
                    <div class="checkbox" ng-repeat="answer in question.answers">
                        <label>
                            <input
                                    type="checkbox"
                                    ng-checked="question.answered.indexOf(answer) > -1"
                                    ng-click="toggleSelection(question.answered, answer)"
                            > [[answer]]
                        </label>
                    </div>
                </div>
            </div>
            <textarea class="form-control" rows="3" placeholder="Комментарий..."
                      ng-model="questionnaire.comment"></textarea>
        </uib-tab>
    </uib-tabset>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-disabled="questionnaireForm.$invalid" ng-click="ok()">Сохранить</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Закрыть</button>
</div>
