<!-- BEGIN run -->
<table width="100%" class="noitems">
<tr>
    <td colspan="3"><strong>Опрос клиента был выполнен </strong>{RUNDATE}<br /><strong>Автор: </strong>{RUNUSER}</td>
</tr>
<tr>
    <td colspan="3">&nbsp;</td>
</tr>
</table>

<input value="{OP_TASK_ID}" type="hidden" />
<form method="POST" id="oprosform">
<table class="t1" width="100%">
<tr>
    <th>№</th><th>Вопрос</th><th>Ответ</th>
</tr>
<!-- BEGIN oitem -->
<tr class="qrow qrow{QID} {ADDCLASS}" id="{QID}">
<td rowspan="{TOTALROWSPAN}">{NUMBER}</td>
<td>{TITLE}</td>
<td rowspan="{TOTALROWSPAN}" align="center">
    <!-- BEGIN qyesmbno -->
    <table align="center">
        <tbody>
            <tr class="{QYMBNCLASS}">
                <td  style="border: 0px !important;" nowrap><strong>{YESMBNO_ANSWER}</strong></td>
            </tr>
        </tbody>
    </table>
    <!-- END qyesmbno -->    
    <!-- BEGIN qyesno -->
    <table align="center">
        <tbody>
            <tr class="{QYNCLASS}">
                <td  style="border: 0px !important;" nowrap><strong>{YESNO_ANSWER}</strong></td>
            </tr>
        </tbody>
    </table>
    <!-- END qyesno -->    
    <!-- BEGIN qball -->
    <table align="center">
        <tr class="{QBALLCLASS}">
            <td style="border: 0px !important;" nowrap><strong>{QBALL_ANSWER}</strong></td>
        </tr>
    </table>
    <!-- END qball -->
</td>
</tr>
<!-- BEGIN ammount -->
<tr class="{AADDCLASS}">
    <td align="right" nowrap><strong>Сумма: </strong>{AMMOUNT_ANSWER}</td>
</tr> 
<!-- END ammount -->
<!-- BEGIN comment -->
<tr class="{CADDCLASS}">
    <td align="right" style="text-align: right !important;"><strong>Комментарий: </strong>{COMMENT_ANSWER}</td>
</tr>
<!-- END comment -->

<!-- END oitem -->
<tr class="">
    <td colspan="2" align="right"><strong>Результаты опроса:</strong></td>
    <td class="oprresult" align="center" style="font-weight: bold; font-size: 125%;color: #FF0000;">{OPR_RESULT}</td>
</tr>
</table>
<strong>Комментарий по опросу:</strong> {RES_COMMENT}
</form>
<!-- END run -->