<table width="100%">
<!-- BEGIN wasdelayed -->
<tr class="noitems">
    <td colspan="3"><strong style="color:#FF0000;">Внимание!</strong> Опрос по данной заявке был отклонен клиентом {REJECT_DATE}!<br /><strong>Последний комментарий: </strong>{DELAYEDCOMMENT}</td>
</tr>
<tr>
    <td colspan="3"><input class="btn-default" id="reopen_qc_id" type="button" name="reopen_qc" value="Повторно открыть обзвон" onclick="document.getElementById('opros').setAttribute('force_reopen','1'); document.getElementById('opros').click();"/></td>
</tr>
<!--
<tr>
    <td colspan="3">&nbsp;</td>
</tr>
-->
<!-- END wasdelayed -->
</table>
