<!-- BEGIN run -->
<form method="POST" id="oprosform">
<input type="hidden" name="task_id" value="{QTASK_ID}" />
<table width="100%">
<!-- BEGIN wasdelayed -->
<tr>
    <td colspan="3"><strong style="color:#FF0000;">Внимание!</strong> Данный опрос уже переносился на {DELAYEDDATE}<br /><strong>Последний комментарий: </strong>{DELAYEDCOMMENT}</td>
</tr>
<tr>
    <td colspan="3">&nbsp;</td>
</tr>
<!-- END wasdelayed -->
<tr class="common common{CQTASK_ID}">
    <td colspan="3" align="left">Комментарий по опросу: <input type="text" name="oproscomment" style="width: 200px;" value="{RES_COMMENT_VAL}" /></td>
</tr>
</table>
<table border="0">
<tr>
    <td colspan="3" align="left">
    <button type="button" name="clientreject" disabled="disabled" value="Отказ клиента от опроса" class="btn-danger">Отказ клиента от опроса</button>&nbsp;&nbsp;&nbsp;-- или --
    &nbsp;&nbsp;&nbsp;<button type="button" class="btn-warning" disabled="disabled" name="clientdelay" value="Отложить опрос до">Отложить опрос до</button> <input type="text" name="delayto" disabled="disabled" style="width: 80px" class="date_input" />&nbsp;<input type="text" disabled="disabled" name="delaytotime" style="width: 40px" class="time_input" />
    <br />
    </td>
</tr>
</table>
<!-- BEGIN qlist -->
<input type="hidden" name="qlist[]" value="{QID_ITEM}" />
<!-- END qlist -->
<table class="t1">
<tr>
    <th>№</th><th>Вопрос</th><th>Ответ</th>
</tr>
<!-- BEGIN oitem -->
<tr class="qrow qrow{QID} {ADDCLASS}" id="{QID}">
<td rowspan="{TOTALROWSPAN}">{NUMBER}</td>
<td><strong>{TITLE}</strong><br /><small style="color: red;"><em>{DESC}</em></small></td>
<td rowspan="{TOTALROWSPAN}" align="center">
    <!-- BEGIN qyesmbno -->
    <table align="center">
        <tbody>
            <tr class="{QYMBNCLASS}">
                <td nowrap style="border:0px !important;"><input class="radioitem" oval="{YW}" type="radio" required="required" name="mbanswer{QYMBNID}" id="yes{QYMBNID}" value="yes:5" {YESMBNO_ANSWER_YES} /> <label for="yes{QYMBNID}">Да{5}</label></td>
                <td nowrap style="border:0px !important;"><input class="radioitem" oval="{MBW}" type="radio" required="required" name="mbanswer{QYMBNID}" id="mb{QYMBNID}" value="mb:2.5" {YESMBNO_ANSWER_MB} /> <label for="mb{QYMBNID}">Частично{2.5}</label></td>
                <td nowrap style="border:0px !important;"><input class="radioitem" oval="{NW}" type="radio" required="required" name="mbanswer{QYMBNID}" id="no{QYMBNID}" value="no:0" {YESMBNO_ANSWER_NO} /> <label for="no{QYMBNID}">Нет{0}</label></td>
            </tr>
        </tbody>
    </table>
    <!-- END qyesmbno -->    
    <!-- BEGIN qyesno -->
    <table align="center">
        <tbody>
            <tr class="{QYNCLASS}">
                <td nowrap style="border:0px !important;"><input class="radioitem" oval="{YESVAL}" type="radio" required="required" name="answer{QYNID}" id="yes{QYNID}" value="yes:{YESVAL}" {YESNO_ANSWER_YES} /> <label for="yes{QYNID}">Да{YESVAL_TXT}</label></td>
                <td nowrap style="border:0px !important;"><input class="radioitem" oval="{NOVAL}" type="radio" required="required" name="answer{QYNID}" id="no{QYNID}" value="no:{NOVAL}" {YESNO_ANSWER_NO} /> <label for="no{QYNID}">Нет{NOVAL_TXT}</label></td>
            </tr>
        </tbody>
    </table>
    <!-- END qyesno -->    
    <!-- BEGIN qball -->
    <table align="center">
        <tr class="{QBALLCLASS}">
            <td style="border: 0px !important;"><input class="oprosnumonly" type="text" style="width: 30px;" maxval="{QBALLMAX}" required="required" name="bcount{QBID}" value="{QBALL_ANSWER_VAL}" /></td>
        </tr>
    </table>
    <!-- END qball -->
</td>
</tr>
<!-- BEGIN ammount -->
<tr class="{AADDCLASS}">
    <td align="right"><strong>Сумма: </strong><input value="{AMMOUNT_ANSWER_VAL}" class="opr_ammounts" type="text" name="ammount{QAID}" style="width: 60px;" required="required" /></td>
</tr>
<!-- END ammount -->
<!-- BEGIN comment -->
<tr class="{CADDCLASS}">
    <td align="right" style="text-align: right !important;"><strong>Комментарий: </strong><input type="text" name="comment{QCID}" style="width: 300px;" value="{COMMENT_ANSWER_VAL}" /></td>
</tr>
<!-- END comment -->

<!-- END oitem -->
<tr class="">
    <td colspan="2" align="right"><strong>Результаты опроса:</strong></td>
    <td class="oprresult" align="center" style="font-weight: bold; font-size: 125%;color: #FF0000;">{OPR_RESULT}</td>
</tr>
</table>
<!-- BEGIN oproscomment -->
<table width="100%">
<tr class="common common{CQTASK_ID}">
    <td colspan="3" align="left">Комментарий по опросу: <input type="text" name="oproscomment1" style="width: 300px;" value="{RES_COMMENT_VAL1}" /></td>
</tr>
</table>
<!-- END oproscomment -->

</form>
<!-- END run -->
<!-- BEGIN noitems -->
<p class="redmessage noitems">-- отсутствуют вопросы для данного типа/статуса заявок --</p>
<!-- END noitems -->