<tr class="usernorec" {USER_NO_RECORDS}>
    <td colspan="12" align="center"><div style="text-align: center; width: 200px !important;" class="redmessage">Нет пользователей ЛК</div></td>
</tr>
<!-- BEGIN userrow -->
<tr class="user-row userrow{USER_ID}" style="background-color: {STATUS_COLOR} !important;">        
    <td width="1%" align="center"><input id="{USER_ID}" type="checkbox" class="toggleuseractivity" name="toggleactivity" {IS_ACTIVE} /></td>
    <td>{USER_FIO} <span class="hidden-lg hidden-sm hidden-md"><br /><strong>Логин: </strong>{USER_LOGIN}</span></td>
    <td class="hidden-xs">{USER_LOGIN}</td>
    <td><div class="pull-left wtypelist">
    <!-- BEGIN showallwlu -->
    <span class="showallwlu">-- все --</span>
    <!-- END showallwlu -->
    <!-- BEGIN wtype-user-lk-list -->
    <div>{USER_WTYPE_NAME} <span id="{USER_WTYPE_ID}" user_id="{USER_WTYPE_USER_ID}" style="cursor: pointer; color: #FF0000;" class="removeuserlkwtype pull-right glyphicon glyphicon-remove"></span></div>
    <!-- END wtype-user-lk-list -->                    
    </div><div class="pull-right"><button id="{USER_ID}" class="addwtype btn-primary"><span class="glyphicon glyphicon-plus"></span></button></div></td>
    <td class="hidden-xs">{USER_EMAIL}</td>
    <td>{USER_PHONE}
    <span class="hidden-sm hidden-lg hidden-md visible-xs"><br />{USER_EMAIL}</span></td>
    <td>
    <a href="#" onclick="if (!confirm('Удаление Пользователя из списка доступа Контрагента. Продолжить?')) { return false; } else {deleteUserFromContr('{USER_ID}'); return false;}" title="Удалить Пользователя из списка доступа ЛК Контрагента" class="del"><img src="/templates/images/cross.png" /></a>
    </td>
</tr>
<!-- END userrow -->


