
<div id="report_c">
    <input type="hidden" name="status_id" value="{CURRENTSTATUSID}" />
    <div>Расчет Техника: <strong>{CALC_TECH_NAME}</strong><input type="hidden" name="tech_id" value="{CALC_TECH_LIST}" /><br />
    Дата расчета: <strong>{CALC_DATE}</strong><input type="hidden" name="calc_date" value="{CALC_DATE}" />
    </div>
        <h5 style="margin-bottom: 5px; margin-top:0;"><strong>1. Список выполненных работ</strong></h5>


        <table align="left" class="left t1" width="100%">
                <thead>
                    <tr>
                        <th>Код</th><th>Вид работ</th><th>Кол-во</th><th>Стоимость</th>
                    </tr>
                </thead>
                <tbody class="tech_works">
                <!-- BEGIN tw_row -->
                <tr val='tsr' class="prow row{TW_ID}">
                    <input type="hidden" name="wtype_ids[]" value="{TW_ID}" />
                    <input type="hidden" name="prices{TW_ID}" value="{REALPRICE}" />
                    <input type="hidden" name="minval{TW_ID}" value="{MINVAL}" />
                    <td align="center">{TW_CODE}</td>
                    <td>{TW_TYPE_TITLE}</td>
                    <td><center>{TW_QUANT}</center></td>
                    <td><center class="itemprice" realprice="{REALPRICE}" >{TW_PRICE}</center></td>
                </tr>
                <!-- END tw_row -->
                <tr class="tw_no_rows" {HIDENOROWS}>
                    <td colspan="4"><p align="center" style="color: #FF0000;"><strong>Список пуст</strong></p></td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="tw_total" {HIDEIFNOROWS}>
                    <td colspan="3" align="right">Итого: </td>
                    <td align="center"><strong class="totalammount">{TOTALAMMOUNT}</strong></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>



    <br />
    <h5 style="margin-bottom: 5px; margin-top:0;"><strong>1.1. Полученные денежные средства</strong></h5>
    <div>
        <label>Сумма принятых ДС от клиента <strong>{CALCMRAMMOUNT}</strong></label>
    </div>
    <br />
    <h5 style="margin-bottom: 5px; margin-top:0;"><strong>2. ТМЦ</strong></h5>
    <input type="hidden" name="target_sc_id" value="{TMC_SC_ID}" />
    <table align="left" class="left t1"  width="100%">
                    <thead>
                        <tr>
                            <th>ТМЦ</th><th>Серийный номер</th><th>Кол-во</th><th>Аренда</th>
                        </tr>
                    </thead>
                    <tbody class="tmc_list">
                        <!-- BEGIN tmc_row -->
                        <tr class="{TMC_ID} {TMC_ROW_ID}">
                            <td align="center">{TMC_TITLE}
                            <input type="hidden" name="row_id[]" value="{TMC_ROW_ID}" />
                            </td>
                            <td align="center">
                                {NO_SERIAL}
                                <!-- BEGIN hasserial -->
                                {TMC_SERIAL}
                                <input readonly="readonly" value="{TMC_SERIAL}" name="tmc_serial_{TMC_S_ID}" type="hidden" style="width:130px;" />
                                <input type='hidden' name='tmcid_{TMC_S_ID}' value='{TMC_SERIAL}' />
                                <!-- END hasserial -->
                            </td>
                            <td align="center">
                                {TMC_COUNT}
                                <input type="hidden" name="tmc_ids[]" value="{TMC_ID}" />
                                <input readonly="readonly" name="tmc_count_{TMC_ID}" value="{TMC_COUNT}" type="hidden" style="width:50px;" />
                            </td>
                            <td align="center">
                                {NO_ISRENT}
                                <!-- BEGIN isrent -->
                                <input type="checkbox" readonly="readonly" name="isrent{TMC_IR_ID}" {IS_RENT_CHECKED} />
                                <!-- END isrent -->
                            </td>

                        </tr>

                        <!-- END tmc_row -->

                        <tr class="tmc_no_rows" style="{NO_TMC_ROWS}">
                            <td colspan="4"><p align="center" style="color: #FF0000;"><strong>Список пуст</strong></p></td>
                        </tr>

                    </tbody>
    </table>
    <br />
    <h5 style="margin-bottom: 5px; margin-top:0;"><strong>2.1 ТМЦ - прием по заявке</strong></h5>
    <input type="hidden" name="target_sc_id" value="{TMC_SC_ID}" />

    <table class="left t1" align="left" width="100%">
                    <thead>
                        <tr>
                            <th>ТМЦ</th><th>Серийный номер</th><th>ФИО Техника</th>
                        </tr>
                    </thead>
                    <tbody class="r_tmc_list">
                        <!-- BEGIN r_tmc_row -->
                        <tr class="r_tmc_rows rtmc_{R_TMC_ROW_ID} {R_TMC_ID} {R_TMC_ROW_ID}">
                            <td align="center">{R_TMC_TITLE}
                            <input type="hidden" name="r_tmc_row_id[]" value="{R_TMC_ROW_ID}" />
                            <input type="hidden" name="r_tmc_item_tech_id_{R_TMC_ROW_ID}" value="{R_TMC_TECH_ID}" />
                            <input type="hidden" name="r_tmc_tmc_ids[]" value="{R_TMC_ID}" />
                            </td>
                            <td align="center">
                                {NO_R_TMC_SERIAL}
                                <!-- BEGIN r_tmc_hasserial -->
                                <input readonly="readonly" value="{R_TMC_SERIAL}" name="tmc_serial_{R_TMC_S_ID}" type="text" style="width:130px;" />
                                <input type='hidden' name='tmcid_{R_TMC_S_ID}' value='{R_TMC_SERIAL}' />
                                <!-- END r_tmc_hasserial -->
                            </td>
                            <td>{R_TMC_TECHFIO}</td>

                        </tr>

                        <!-- END r_tmc_row -->

                        <tr class="r_tmc_no_rows" style="{NO_R_TMC_ROWS}">
                            <td colspan="3"><p align="center" style="color: #FF0000;"><strong>Список пуст</strong></p></td>
                        </tr>

                    </tbody>
    </table>
</div>