 


<div id="report_c">
    <input type="hidden" name="status_id" value="{CURRENTSTATUSID}" />
    <div>Расчет Техника: <strong>{CALC_TECH_NAME}</strong><input type="hidden" name="tech_id" value="{CALC_TECH_LIST}" /><br />
    Дата расчета: <strong>{CALC_DATE}</strong><input type="hidden" name="calc_date" value="{CALC_DATE}" />
    </div>
        <h5 style="margin-bottom: 5px; margin-top:0;"><strong>1. Список выполненных работ</strong></h5>
        <div id="intelsearch_holder" style="margin: 5px 0px;" title="Для быстрого заполнения отчетов вводите коды, названия или суммы видов работ. Система подберет варианты...">
            Поиск: <input type="text" name="intelsearch" style="width: 200px;" />&nbsp;&nbsp;<input style="display: none;" type="button" name="rst" value="Сбросить" /> <button {AFTERDEADLINE} type="button" id="tw_add" class="btn-primary" value="Обзор" ><span class="glyphicon glyphicon-search"></span> Обзор</button>
        
        </div>
        <!-- BEGIN priceupdated -->
        <p style="margin-bottom:0;color: #FF0000; font-weight:bold;">ВНИМАНИЕ! Прайс был обновлен. Расчет выполняется по старой цене, указанной в прайсе на дату расчета. Новая цена выделена красным цветом.</p><small>Для того, чтобы изменить цены в соответствии с новым прайсом - замените элементы со старыми ценами. После этого - сохраните отчет.</small>
        <!-- END priceupdated -->
        
        <table align="left" class="left t1" width="100%">
                <thead>
                    <tr>
                        <th>Код</th><th>Вид работ</th><th>Кол-во</th><th>Стоимость</th><th></th>
                    </tr>
                </thead>
                <tbody class="tech_works">
                <!-- BEGIN tw_row -->
                <tr val='tsr' class="prow row{TW_ID}">
                    <input type="hidden" name="wtype_ids[]" value="{TW_ID}" />
                    <input type="hidden" name="prices{TW_ID}" value="{REALPRICE}" />
                    <input type="hidden" name="minval{TW_ID}" value="{MINVAL}" />
                    <td align="center">{TW_CODE}</td>
                    <td>{TW_TYPE_TITLE}</td>
                    <td><center><input type="text" minval="{MINVAL}" name="quant{TW_ID}" class="skp_tw_quant" value="{TW_QUANT}" required="required" style="width: 60px;" /></center></td>
                    <td><center class="itemprice" realprice="{REALPRICE}" >{TW_PRICE}</center></td>
                    <td width="16"><a class="premove premove_{TW_ID}" style="cursor:pointer;"><img border="0" src="/templates/images/cross.png" /></a></td>
                </tr>
                <!-- END tw_row -->
                <tr class="tw_no_rows" {HIDENOROWS}>
                    <td colspan="5"><p align="center" style="color: #FF0000;"><strong>Список пуст</strong></p></td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="tw_total" {HIDEIFNOROWS}>
                    <td colspan="3" align="right">Итого: </td>
                    <td align="center"><strong class="totalammount">{TOTALAMMOUNT}</strong></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    
    
    
    <br />
    <h5 style="margin-bottom: 5px; margin-top:0;"><strong>1.1. Полученные денежные средства</strong></h5>
    <div>
        <label>Сумма принятых ДС от клиента <input type="text" required="required" style="width: 70px;" class="cmritem" name="mr_count" value="{CALCMRAMMOUNT}" /></label>
    </div>
    <br />
    <h5 style="margin-bottom: 5px; margin-top:0;"><strong>2. ТМЦ</strong></h5>
    <input type="hidden" name="target_sc_id" value="{TMC_SC_ID}" />
    <button  class="btn-primary" type="button" {AFTERDEADLINE} name="addtmc" id="add_tmc_to_task" value="Добавить" ><span class="glyphicon glyphicon-plus"></span> Добавить</button>
    <table align="left" class="left t1"  width="100%">
                    <thead>
                        <tr>
                            <th>ТМЦ</th><th>Серийный номер</th><th>Кол-во</th><th>Аренда</th><th></th>
                        </tr>
                    </thead>
                    <tbody class="tmc_list">
                        <!-- BEGIN tmc_row -->
                        <tr class="{TMC_ID} {TMC_ROW_ID}">
                            <td align="center">{TMC_TITLE}
                            <input type="hidden" name="row_id[]" value="{TMC_ROW_ID}" />
                            </td>
                            <td align="center">
                                {NO_SERIAL}
                                <!-- BEGIN hasserial -->
                                {TMC_SERIAL}
                                <input value="{TMC_SERIAL}" name="tmc_serial_{TMC_S_ID}" type="hidden" />
                                <input type='hidden' name='tmcid_{TMC_S_ID}' value='{TMC_SERIAL}' />
                                <!-- END hasserial -->
                            </td>
                            <td align="center">
                                {TMC_COUNT}
                                <input type="hidden" name="tmc_ids[]" value="{TMC_ID}" />
                                <input readonly="readonly" name="tmc_count_{TMC_ID}" value="{TMC_COUNT}" type="hidden" style="width:50px;" />
                            </td>
                            <td align="center">
                                {NO_ISRENT}
                                <!-- BEGIN isrent -->
                                <input type="checkbox" name="isrent{TMC_IR_ID}" {IS_RENT_CHECKED} />
                                <!-- END isrent -->
                            </td>
                            <td align="center">
                                <a class="removetmc tmcid_{TMC_ROW_ID} {AFTERDEADLINE_HIDDENTMC}" href="#"><img src="/templates/images/cross.png" /></a>
                            </td>
                        </tr>
                        
                        <!-- END tmc_row -->
                       
                        <tr class="tmc_no_rows" style="{NO_TMC_ROWS}">
                            <td colspan="5"><p align="center" style="color: #FF0000;"><strong>Список пуст</strong></p></td>
                        </tr>
                        
                    </tbody>
    </table>
    <br />
    <h5 style="margin-bottom: 5px; margin-top:0;"><strong>2.1 ТМЦ - прием по заявке</strong></h5>
    <input type="hidden" name="target_sc_id" value="{TMC_SC_ID}" />
    
    <button type="button" {AFTERDEADLINE} name="add_r_tmc" class="btn-primary" id="return_tmc_to_task" value="Добавить" >Добавить</button>
    <table class="left t1" align="left" width="100%">
                    <thead>
                        <tr>
                            <th>ТМЦ</th><th>Серийный номер</th><th>ФИО Техника</th><th></th>
                        </tr>
                    </thead>
                    <tbody class="r_tmc_list">
                        <!-- BEGIN r_tmc_row -->
                        <tr class="r_tmc_rows rtmc_{R_TMC_ROW_ID} {R_TMC_ID} {R_TMC_ROW_ID}">
                            <td align="center">{R_TMC_TITLE}
                            <input type="hidden" name="r_tmc_row_id[]" value="{R_TMC_ROW_ID}" />
                            <input type="hidden" name="r_tmc_item_tech_id_{R_TMC_ROW_ID}" value="{R_TMC_TECH_ID}" />
                            <input type="hidden" name="r_tmc_tmc_ids[]" value="{R_TMC_ID}" />
                            </td>
                            <td align="center">
                                {NO_R_TMC_SERIAL}
                                <!-- BEGIN r_tmc_hasserial -->
                                {R_TMC_SERIAL}
                                <input value="{R_TMC_SERIAL}" name="tmc_serial_{R_TMC_S_ID}" type="hidden"/>
                                <input type='hidden' name='tmcid_{R_TMC_S_ID}' value='{R_TMC_SERIAL}' />
                                <!-- END r_tmc_hasserial -->
                            </td>
                            <td>{R_TMC_TECHFIO}</td>
                            <td align="center">
                                <a id='{R_TMC_ROW_ID}' task_id='{RTMCTASK_ID}' {AFTERDEADLINE_HIDDEN_R_TMC} class='removertmc' href='#'><img src="/templates/images/cross.png" /></a>
                            </td>
                        </tr>
                        
                        <!-- END r_tmc_row -->
                       
                        <tr class="r_tmc_no_rows" style="{NO_R_TMC_ROWS}">
                            <td colspan="5"><p align="center" style="color: #FF0000;"><strong>Список пуст</strong></p></td>
                        </tr>
                        
                    </tbody>
    </table>
    <br />
</div>