<table class="t1" width="100%">
<thead>
    <tr>
        <th>ID</th><th>Тип</th><th>Контрагент</th><th>Статус</th>
    </tr>
</thead>
<tbody>
<!-- BEGIN tlist -->
<tr>
    <td width="10%"><a target="_blank" href="{TASKLINK}">{TASKID}</a></td><td width="5%">{TASKTYPE}</td><td width="55%">{CONTR}</td><td width="30%">{STATUS}</td>
</tr>
<!-- END tlist -->    
</tbody>
</table>
