.rep-mode__container{
    padding: 20px 0 20px 0;
}
.rep-title{
    padding-right: 30px;
    color: #A0A0A0;
    cursor: pointer;
    display: inline;
    font-weight: 500;
}
.rep-title_active {
    color: #337ab7;
    cursor: text;
}

.bagreport-container_regular{
    padding: 10px 20px;
}

.tabs__content {
    margin-top: 30px;
}

.br-notepad__secondary-info{
    margin-top: 10px;
}

.br-notepad__entry{
    padding-bottom: 40px;
}

.br-notepad__entry textarea{
    width: 100%;
    overflow: scroll;
    vertical-align: top;
    padding: 10px;
    outline: none;
}
.br-notepad__entry_main textarea{
    height: 60px;
    overflow-x: hidden;
}
.br-notepad__entry textarea:focus{
    background-color: #ffeeaa;
}

.br-notepad__entry_freeform textarea {
    height: 200px;
    overflow-x: hidden;
}


input.br-notepad__entry_readonly {
    background-color: #dddddd;
    border: 1px solid #999999!important;
    color: #999;
    padding: 5px;
    width: 150px;
    font-size: 90%;
}

.secondary__item {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.button-block{
    text-align: center;
}
.button-block_regular{
    padding-top: 40px;
}

.br-button_base{
    padding: 7px 15px;
}

.p_description {
    color: grey;
}

/* Confirm template
*/

.br_confirm_tpl{
    display: none;
}

.confirm-tpl__container{
    padding-bottom: 20px;
}

.confirm-tpl__title{}
.confirm-tpl__message,
.confirm-tpl__btn{
    padding-top: 20px;
}

.btn-default_custom {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
