@media all and (min-width: 960px) {
    .desktop-thumb-item_content {
        font-size: 1.5em;
    }
}

@media all and (max-width: 959px) and (min-width: 600px) {
    .desktop-thumb-item_content {
        font-size: 16px;
    }
}

@media all and (max-width: 599px) and (min-width: 320px) {
    .desktop-thumb-item_content {
        font-size: 12px;
    }
}

/* Menu */

.logo-menu_box {
    margin-top: 5px;
}

.logo-menu {
    font-size: 12pt;
    color: #FFFFFF !important;
}
.logo-menu_img {
    margin-top: -5px;
    margin-left: -5px;
}

@media (min-width: 992px) and (max-width: 1130px) {
    .logo-menu_text {
        display: none;
    }
}

.navbar__tidy {
    background-color: #2a2730!important;
    border: none;
}

@media (min-width: 992px) {
    .navbar__tidy {
        max-height: 40px;
        overflow-y: hidden;
    }
}

.text_menu {
    overflow-y: hidden!important;
}

.text_menu ul{
}

.menu_item__tidy a {
    padding: 15px 5px!important;
}
.menu_item__tidy a:hover {
    background-color: #80b52f!important;
}
.menu_item__tidy a:visited {
    background-color: #80b52f!important;
}

.menu_item__tidy .active {
    background-color: #80b52f!important;
}

@media (min-width: 1380px) {
    .visible-xxl {
        display: block!important;
    }
}

@media (min-width: 1200px) and (max-width: 1379px) {
    .visible-xl {
        display: block!important;
    }
}

.login-menu_box {
    margin-top:5px;
}

.login-menu_name-box {
    color: white!important;
    display: inline-block;
    overflow: hidden;
    margin-bottom: -3px;
}

.login-menu_name {
    display: inline-block;
    white-space: nowrap;
}

.login-menu_logout {
    display: inline-block;
}


/* Thumbnails */
.desktop-thumb-item_box {
    text-align: center;
}

.desktop-thumb-item_box a:hover {
    text-decoration: none;
}

.desktop-thumb-item_box a:hover .desktop-thumb-item_icon{
    color: #77a82c;
    transition: 200ms ease-out;
}

.desktop-thumb-item_box a:hover .desktop-thumb-item_content{
    border: 1px solid #BBBBBB;
    transition: 400ms ease-out;
}

.desktop-thumb-item_content {
    text-decoration: none !important;
    color: #525252 !important;
    padding: 15px 10px;
    margin: 10px 0;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
}

.desktop-thumb-item_icon {
    margin-top: 10px;
    color: #80b52f;
    font-size: 4em ;
}
.desktop-thumb-item_caption {
    font-size: 100%;
    padding-top:10px;
}

/* fix */
.navbar-nav > li > a {
    color: #95d237 !important;
}
