<tr class="actnorec" {ACT_NO_RECORDS}>
    <td colspan="12" align="center"><h2 style="color: red;">Записи отсутствуют</h2></td>
</tr>
<!-- BEGIN actrow -->
<tr class="actrow actrow{ACT_ID}" style="background-color: {STATUS_COLOR} !important;">        
    <td><a href="#" onclick="openActEditor('{ACT_ID}', $(this)); return false;" title="Редактировать Акт">{ACT_ID}</a></td>
    <td><a href="#" onclick="openActEditor('{ACT_ID}', $(this)); return false;" title="Редактировать Акт">{ACT_NUM}</a></td>
    <td>{DS}</td>
    <td nowrap>{ACT_DATE}</td>
    <td nowrap align="right">{ACT_SUMM}</td>
    <td>{ACT_STATUS}</td>
    <td class="hidden-xs">{ACT_FILES}</td>
    <td class="hidden-xs">{ACT_COMMENT}</td>
    <td class="hidden-xs"><a {SHOW_AWD} href="#" id="{ACT_ID}" awd-total="{ACT_SUMM_NF}" awd-name="{ACT_NUM} от {ACT_DATE}" class="editwtypes">виды работ</a></td>
    <td class="hidden-xs">
        <a href="#" onclick="openActEditor('{ACT_ID}', $(this)); return false;" title="Редактировать Акт"><img src="/templates/images/pencil.png" /></a>
    </td>
    <td class="hidden-xs">
        <a href="#" onclick="if (!confirm('Удаление Акта. Продолжить?')) { return false; } else {deleteActItem('{ACT_ID}'); return false;}" title="Удалить Акт" class="del"><img src="/templates/images/cross.png" /></a>
    </td>
</tr>
<!-- END actrow -->