<!-- BEGIN awd -->
<tr>
    <td>{AWD_NAME}</td>
    <td>{AWD_QUANT}</td>
    <td class="awd-camm">{AWD_AMMOUNT}</td>
    <td width="16"><a href="#" class="remove_awd" act_id="{AWD_ACT_ID}" id="{AWD_ID}" style="color:#FF0000;"><span class="glyphicon glyphicon-remove"></span></a></td>
</tr>
<!-- END awd -->
<!-- BEGIN no-awd -->
<tr>
    <td colspan="4" ><p style="width: 50%; text-align:center" class="redmessage">-- нет записей --</p></td>
</tr>
<!-- END no-awd -->
