<tr class="dsnorec" {DS_NO_RECORDS}>
    <td colspan="14" align="center"><h2 style="color: red;">Записи отсутствуют</h2></td>
</tr>
<!-- BEGIN ds-row -->
<tr class="dsrow dsrow{DS_ID}">        
    <td><a href="#" onclick="openDSEditor('{DS_ID}', $(this)); return false;" title="Редактировать ДС">{DS_ID}</a></td>
    <td><a href="#" onclick="openDSEditor('{DS_ID}', $(this)); return false;" title="Редактировать ДС">{DS_NUM}</a></td>
    <td>{DS_SIMPLENAME}</td>
    <td class="hidden-xs">{DS_SUBJECT}</td>
    <td class="hidden-xs" nowrap>{DS_SIGNDATE}</td>
    <td class="hidden-xs" nowrap>{DS_FINDATE}</td>
    <td align="right">{DS_PRICE}</td>
    <td>{DS_STSTE}</td>
    <td align="right">{DS_TOTALAMMOUNT}</td>
    <td class="hidden-xs hidden-sm">{DS_FILES}</td>
    <td class="hidden-xs hidden-sm">{DS_COMMENT}</td>
    <td class="hidden-xs">
        <a href="#" onclick="openDSEditor('{DS_ID}', $(this)); return false;" title="Редактировать ДС"><img src="/templates/images/pencil.png" /></a>
    </td>
    <td class="hidden-xs">
        <a href="#" onclick="if (!confirm('Удаление ДС. Продолжить?')) { return false; } else {deleteDSItem('{DS_ID}'); return false;}" title="Удалить ДС" class="del"><img src="/templates/images/cross.png" /></a>
    </td>
</tr>
<!-- END ds-row -->