{% extends "GorservGerpCoreBundle::layout_bootstrap.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}Рабочий стол{% endblock %}
{% block h1 %}{% endblock %}

{% block container %}
    {% set nothing_available = true %}
    <div class="container-fluid content_holder" >
        {% if is_granted('plugin_read', 'connections') %}
            {% set nothing_available = false %}
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 desktop-thumb-item_box">
                <a href="{{ path('legacy_rule_common', { 'pluginEvent': 'connections' }) }}">
                    <div class="desktop-thumb-item_content">
                        <span class="fa fa-globe fa-5x desktop-thumb-item_icon"></span>
                        <p class="desktop-thumb-item_caption">Подключение</p>
                    </div>
                </a>
            </div>
        {% endif %}

        {% if is_granted('plugin_read', 'services') %}
            {% set nothing_available = false %}
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 desktop-thumb-item_box">
                <a href="{{ path('legacy_rule_common', { 'pluginEvent': 'services' }) }}">
                    <div class="desktop-thumb-item_content">
                        <span class="fa fa-wrench fa-5x desktop-thumb-item_icon"></span>
                        <p class="desktop-thumb-item_caption">СКП</p>
                    </div>
                </a>
            </div>
        {% endif %}

        {% if is_granted('plugin_read', 'tm_module') %}
            {% set nothing_available = false %}
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 desktop-thumb-item_box">
                <a href="{{ path('legacy_rule_common', { 'pluginEvent': 'tm_module' }) }}">
                    <div class="desktop-thumb-item_content">
                        <span class="fa fa-shopping-cart fa-5x desktop-thumb-item_icon"></span>
                        <p class="desktop-thumb-item_caption">Продажи</p>
                    </div>
                </a>
            </div>
        {% endif %}

        {% if is_granted('plugin_read', 'accidents') %}
            {% set nothing_available = false %}
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 desktop-thumb-item_box">
                <a href="{{ path('legacy_rule_common', { 'pluginEvent': 'accidents' }) }}">
                    <div class="desktop-thumb-item_content">
                        <span class="fa fa-bolt fa-5x desktop-thumb-item_icon"></span>
                        <p class="desktop-thumb-item_caption">Аварии</p>
                    </div>
                </a>
            </div>
        {% endif %}

        {% if is_granted('plugin_read', 'gp') %}
            {% set nothing_available = false %}
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 desktop-thumb-item_box">
                <a href="{{ path('legacy_rule_common', { 'pluginEvent': 'gp' }) }}">
                    <div class="desktop-thumb-item_content">
                        <span class="fa fa-fire fa-5x desktop-thumb-item_icon"></span>
                        <p class="desktop-thumb-item_caption">Линейные аварии</p>
                    </div>
                </a>
            </div>
        {% endif %}

        {% if is_granted('plugin_read', 'gfx') %}
            {% set nothing_available = false %}
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 desktop-thumb-item_box">
                <a href="{{ path('legacy_rule_common', { 'pluginEvent': 'gfx' }) }}">
                    <div class="desktop-thumb-item_content">
                        <span class="fa fa-calendar fa-5x desktop-thumb-item_icon"></span>
                        <p class="desktop-thumb-item_caption">График работ</p>
                    </div>
                </a>
            </div>
        {% endif %}

        {% if is_granted('plugin_read', 'projects') %}
            {% set nothing_available = false %}
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 desktop-thumb-item_box">
                <a href="{{ path('legacy_rule_common', { 'pluginEvent': 'projects' }) }}">
                    <div class="desktop-thumb-item_content">
                        <span class="fa fa-briefcase fa-5x desktop-thumb-item_icon"></span>
                        <p class="desktop-thumb-item_caption">Проекты</p>
                    </div>
                </a>
            </div>
        {% endif %}

        {% if is_granted('plugin_read', 'bills') %}
            {% set nothing_available = false %}
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 desktop-thumb-item_box">
                <a href="{{ path('legacy_rule_common', { 'pluginEvent': 'bills' }) }}">
                    <div class="desktop-thumb-item_content">
                        <span class="fa fa-rub fa-5x desktop-thumb-item_icon"></span>
                        <p class="desktop-thumb-item_caption">Счета</p>
                    </div>
                </a>
            </div>
        {% endif %}

        {% if is_granted('plugin_read', 'kontr') %}
            {% set nothing_available = false %}
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 desktop-thumb-item_box">
                <a href="{{ path('legacy_rule_common', { 'pluginEvent': 'kontr' }) }}">
                    <div class="desktop-thumb-item_content">
                        <span class="fa fa-users fa-5x desktop-thumb-item_icon"></span>
                        <p class="desktop-thumb-item_caption">Контрагенты</p>
                    </div>
                </a>
            </div>
        {% endif %}

        {% if is_granted('plugin_read', 'addr_interface') %}
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 desktop-thumb-item_box">
                <a href="{{ path('legacy_rule_common', { 'pluginEvent': 'addr_interface' }) }}">
                    <div class="desktop-thumb-item_content">
                        <span class="fa fa-building-o fa-5x desktop-thumb-item_icon"></span>
                        <p class="desktop-thumb-item_caption">Адреса</p>
                    </div>
                </a>
            </div>
        {% endif %}

        {% if is_granted('plugin_read', 'adm_ods') %}
            {% set nothing_available = false %}
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 desktop-thumb-item_box">
                <a href="{{ path('legacy_rule_common', { 'pluginEvent': 'adm_ods' }) }}">
                    <div class="desktop-thumb-item_content">
                        <span class="fa fa-key fa-5x desktop-thumb-item_icon"></span>
                        <p class="desktop-thumb-item_caption">ОДС</p>
                    </div>
                </a>
            </div>
        {% endif %}

        {% if is_granted('plugin_read', 'tmc2') %}
            {% set nothing_available = false %}
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 desktop-thumb-item_box">
                <a href="{{ path('tmc_dashboard') }}">
                    <div class="desktop-thumb-item_content">
                        <span class="fa fa-archive fa-5x desktop-thumb-item_icon"></span>
                        <p class="desktop-thumb-item_caption">ТМЦ</p>
                    </div>
                </a>
            </div>
        {% endif %}

        {% if is_granted('plugin_read', 'reports') %}
            {% set nothing_available = false %}
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 desktop-thumb-item_box">
                <a href="{{ path('legacy_rule_common', { 'pluginEvent': 'reports' }) }}">
                    <div class="desktop-thumb-item_content">
                        <span class="fa fa-bar-chart fa-5x desktop-thumb-item_icon"></span>
                        <p class="desktop-thumb-item_caption">Отчеты</p>
                    </div>
                </a>
            </div>
        {% endif %}

        {% if is_granted('plugin_read', 'callviewer') %}
            {% set nothing_available = false %}
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 desktop-thumb-item_box">
                <a href="{{ path('legacy_rule_common', { 'pluginEvent': 'callviewer' }) }}">
                    <div class="desktop-thumb-item_content">
                        <span class="fa fa-play-circle fa-5x desktop-thumb-item_icon"></span>
                        <p class="desktop-thumb-item_caption">Записи звонков</p>
                    </div>
                </a>
            </div>
        {% endif %}

        {% if is_granted('plugin_read', 'qc') %}
            {% set nothing_available = false %}
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 desktop-thumb-item_box">
                <a href="{{ path('legacy_rule_common', { 'pluginEvent': 'qc' }) }}">
                    <div class="desktop-thumb-item_content">
                        <span class="fa fa-thumbs-o-up fa-5x desktop-thumb-item_icon"></span>
                        <p class="desktop-thumb-item_caption">Отзывы</p>
                    </div>
                </a>
            </div>
        {% endif %}

        {% if is_granted('plugin_read', 'Gorserv\\Gerp\\AdminBundle\\Controller\\SyslogController') %}
            {% set nothing_available = false %}
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 desktop-thumb-item_box">
                <a href="{{ path('app_syslog_get_list') }}">
                    <div class="desktop-thumb-item_content">
                        <span class="fa fa-heartbeat fa-5x desktop-thumb-item_icon"></span>
                        <p class="desktop-thumb-item_caption">Лог</p>
                    </div>
                </a>
            </div>
        {% endif %}

        {% if nothing_available %}
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 desktop-thumb-item_box">
            <h1>У Вас <span class="label label-danger">нет доступа</span> к основным модулям рабочего стола!</h1>
        </div>
        {% endif %}
    </div>
{% endblock %}
