<table width="100%">
    <tr>
        <td width="33%" align="left">
            <small>Компания &laquo;Горсвязь&raquo;</small>
        </td>
        <td width="34%" align="center" class="text-muted"><small>{FACILITY} {CLIENT_IP}</small></td>
        <td width="33%" align="right">
            <small style="float:right;"><a href="mailto:{DEVELOPER_EMAIL}">{DEVELOPER_EMAIL}</a></small>
        </td>
    </tr>
</table>

<script type="text/javascript">
    $(document).ready(onResize());
</script>

<style>
    @media (min-width: 1200px) and (max-width: 1400px) {
        td.tf-hidden, th.tf-hidden {
            display: none !important;
        }

        td.tf-visible, th.tf-visible {
            display: table-cell !important;
        }

    }
</style>
