<LINK rel="stylesheet" type="text/css" href="/components/nprogress/nprogress.css"/>
<script type="text/javascript" src="/components/nprogress/nprogress.js"></script>
<script type="text/javascript" src="/components/select2/dist/js/select2.min.js"></script>
<style>
@media all and (max-width: 800px) {
	body {
		height: 100%;
        min-height: 100%;
        background: #CECECE !important;
	}

    #header {
        display: none;

    }
    #footer {
        display: block !important;
    }

    #content {
        margin-top:0 !important;
        padding-bottom: 50px !important;
    }
    h1 {
        margin-top: 0 !important;
    }
}
</style>
