<LINK rel="stylesheet" type="text/css" href="/components/nprogress/nprogress.css"/>
<script type="text/javascript" src="/components/nprogress/nprogress.js"></script>`
<meta name="viewport" content="width=device-width, initial-scale=0.6, maximum-scale=1.0, user-scalable=no">
{SELECTOR_DIALOGS}
<style>
.nbncheck {
    float: left;
    font-weight: bold;
    margin-right: 20px;
    color: #FF0000;
    cursor: pointer;
}
#header {
    -webkit-backface-visibility: hidden;
}
</style>
<script type="text/javascript" src="/legacy_js/selectors.js"></script>
<script type="text/javascript" src="/legacy_js/obzvon.js"></script>
<bgsound id="sound">
<div class="floatingform floatingform1 form1" id="obzvonform">
<h2 class="float-title" style="padding:0; margin:0;color:#000000;">Форма обзвона</h2>
<br />
<div id="oprosbody">

</div>
<br />
<center><input type="button" id="gosaveopros" value="Сохранить" />&nbsp;&nbsp;&nbsp;<input type="button" id="cancel_opros" value="Отменить" /> </center><br />
</div>
<div class="floatingform form1" style="width:700px;" id="callticketlist">
<h2 class="float-title" style="padding:0; margin:0;color:#000000;">Звонки по заявке</h2>
<br />
<input type="button" name="refreshcallticket" id="refreshcallticket" value="Перезагрузить записи из АТС" />
<br />
<table class="t1" width="100%">
    <thead>
        <tr>
            <th>Дата/ Пользователь</th>
            <th>Телефоны</th>
            <th>Статус</th>
            <th>Запись</th>
        </tr>
    </thead>
    <tbody class="calllist">
    </tbody>
</table>
<br />
<center>&nbsp;&nbsp;<input type="button" id="cancel_calls" value="Закрыть" /> </center><br />
</div>
<div id="header" class="floats-container">
    <div id="sysname"><table border="0" cellpadding="0" cellspacing="0"><tr>{PRELOGO}
    <td class="sysname" valign="middle"><table border="0"><tr><td class="sysname">{SYS_NAME}{SWITCHER}</td>{PRELOADER}</tr></table></td></tr></table></div>
    <input type="hidden" name="user_template" value="twozero" />


    <div id="userinfo">
       <div title="Проверка соединения не выполнялась" class="nbncheck">НБН</div> <!-- BEGIN userlink --><a class="userlinkhead" href="{USERLINK}"><!-- END userlink -->{USER_FIO}<!-- BEGIN ulend --></a><!-- END ulend -->
        <!-- a href="/login.php">[Выход]</a -->
    </div>

    <div id="mainmenu" class="clear">
        <!-- BEGIN main_menu_item -->
        <a class="{MM_SEL}" {CALLLM} href="{MM_HREF}">{MM_NAME}</a>
        <!-- END main_menu_item -->

        <a class="right" href="/logout">Выход</a>
    </div>
</div>
<div class="clear"></div>
<!-- BEGIN lmbody -->
<script type="text/javascript">

var link1 = "{CURRENT_LINK}";
var plugin_uid = '{CURRENT_PLUGIN}';
var fr = false;
var menuState = false;
var stopScroll = false;
var openedID;
var winSc = $(window).scrollTop();
var cCnt = 0;

$(document).ready(function() {

    $("#left-context-menu").css("left", $( "#left-context-menu" ).offset().left - ($(".lm-body").width() -10 ) + "px" );
    $(".menutoggler").attr("src", "templates/images/open-left-menu.png");
    stopScroll = false;
    $("#left-context-menu").css("display", "block");
    $("#left-context-menu").show();

    if (is_touch_device()) {

        $("#left-context-menu").css('top', 116);
        $(window).scroll(function(){
            //var winSc = $(window).scrollTop();
            //$('#header').css('top', winSc);
            $("#left-context-menu").css('top', 116);
            $(".floatingform").css('position', 'absolute');
            $(".floatingform2").css('position', 'absolute');
        });
        $("#header").css('position', 'fixed');
        $("#left-context-menu").css('position', 'absolute');
    } else {
        $("#header").css('position', 'fixed');
        $(window).scroll(function() {
            if ( $("#left-context-menu").height() + 200 > $(window).height()) {
                $("#left-context-menu").css('position', 'absolute');
                stopScroll = true;
            } else {
                stopScroll = false;
            }
            winSc = $(window).scrollTop();
            if (!stopScroll || !menuState) {
                $("#left-context-menu").css('position', 'absolute');
                $("#left-context-menu").css('top', $(window).scrollTop()+70);
                //$("#left-context-menu").animate({top: winSc+100-$("#left-context-menu").height()}, 20);
            }
            if (menuState) {
                if (($(window).scrollTop()+75) > ($("#left-context-menu").offset().top + $("#left-context-menu").height())) {
                    menuState = false;
                    $( "#left-context-menu" ).animate({ "left": "-=" + ($(".lm-body").width()-10) + "px" }, "fast" );
                    $(".menutoggler").attr("src", "templates/images/open-left-menu.png");
                    if ($(currentSelItem).length) {
                      $("#mainmenu a").removeClass("selected");
                      $(currentSelItem).addClass("selected");
                    }
                    stopScroll = false;
                }
                if ($("#left-context-menu").offset().top > ($(window).scrollTop() + $(window).height())) {
                    menuState = false;
                    $( "#left-context-menu" ).animate({ "left": "-=" + ($(".lm-body").width()-10) + "px" }, "fast" );
                    $(".menutoggler").attr("src", "templates/images/open-left-menu.png");
                    stopScroll = false;
                }
            } else {
                $("#left-context-menu").css("left",  "-"+ ($(".lm-body").width() -10 ) + "px" );
            $(".menutoggler").attr("src", "templates/images/open-left-menu.png");
            menuState = false;
            }

            //$("#dbg").html($("#left-context-menu").offset().top.toString() + " winSC: " + $(window).scrollTop().toString() + " WH: " + $(window).height().toString());
            //$("#dbg").html(winSc.toString());

            //alert(winSc + " " + $("#left-context-menu").offset().top + " " + $("#left-context-menu").height());
        });

        //$("#left-context-menu").css('position', 'fixed');
    }
    $(document).on("click",".togglemenu",function() {

            if (menuState) {
                menuState = false;
                $( "#left-context-menu" ).animate({ "left": "-=" + ($(".lm-body").width()-10) + "px" }, "fast" );
                $(".menutoggler").attr("src", "templates/images/open-left-menu.png");
                stopScroll = false;
                if ($(currentSelItem).length) {
                      $("#mainmenu a").removeClass("selected");
                      $(currentSelItem).addClass("selected");
                }
                return false;
            } else {
                menuState = true;
                $( "#left-context-menu" ).animate({ "left": "+=" + ($(".lm-body").width()-10) + "px" }, "fast" );
                $(".menutoggler").attr("src", "templates/images/close-left-menu.png");
                if ( $("#left-context-menu").height() + 200 > $(window).height()) {
                    stopScroll = true;
                }
                return false;

            }
        return false;
    });

    $(document).on("click", "body", function(e) {
                if ($(e.target).closest('#left-context-menu').length==0 && $(e.target).closest('#mainmenu').length==0) {
                    if (menuState) {
                        //clearTimeout(a);
                        menuState = false;
                        fr = false;
                        $("#left-context-menu").animate({ "left": "-=" + ($(".lm-body").width()-10) + "px" }, "fast" );
                        $(".menutoggler").attr("src", "templates/images/open-left-menu.png");
                        stopScroll = false;
                        if ($(currentSelItem).length) {
                          $("#mainmenu a").removeClass("selected");
                          $(currentSelItem).addClass("selected");
                        }
                        $("#left-context-menu").css('position', 'absolute');
                        $("#left-context-menu").animate({top: $(window).scrollTop()+70}, 60);
                    }
                }

            });

    $(document).on("click",'.lm-dir',function(e) {
            //alert1($(this).children(":first").className + " " + Math.random(10,10));
        $(".lmenu ul").addClass('closed');
        $(this).parent("li").addClass("exitem");
        //$(this).addClass('exitem');
        if (!menuState) {
            menuState = true;
            $( "#left-context-menu" ).animate({ "left": "+=" + ($(".lm-body").width()-10) + "px" }, "fast" );
            $(".menutoggler").attr("src", "templates/images/close-left-menu.png");
        }
        //alert($(".exitem").length);
        $(".exitem").parents("ul").removeClass("closed");

        $(this).parent('li').children("ul").toggleClass('closed');
            //$(this).parents('ul.lm-holder').removeClass('closed');
        $(this).parents("ul.lm_holder").find(".lm_holder-0").children("ul.lm-holder").removeClass("closed");
        if ( $("#left-context-menu").height() + 200 > $(window).height()) {
            $("#left-context-menu").css('position', 'absolute');
                //alert1('stopscroll');
            stopScroll = true;
        } else {
            stopScroll = false;
                //alert1('startscroll');
        }
        $(".exitem").removeClass('exitem');
    });
    if ($(".lm-holder-0 li").length == "0") {
        //$(".left-context-menu").hide();
    }

//$( "#left-context-menu" ).css("left", -$(".lm-body").width());
});

</script>
<style>
#left-context-menu {
    position: fixed;
    top: 70px;
    padding: 5px 10px 5px 0px;
    z-index: 2000 !important;
    display: none;
}

.lm-body {
    background: #FFFFFF;
    -webkit-box-shadow:  1px 1px 2px 1px rgba(000, 000, 000, 0.4);
    box-shadow:  1px 1px 2px 1px rgba(000, 000, 000, 0.4);
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}


.lm_holder-0 li {
    cursor: pointer;

    min-width: 250px;
}

.lm_holder-1 {
    padding-left: 20px !important;

}

.lm_holder-2 {
    padding-left: 20px !important;

}

.lm_holder-3, .lm_holder-4, .lm_holder-5, .lm_holder-6 {
    padding-left: 20px !important;

}

a.lmlink, a.lmlink:visited, a.lmlink:link {
    color: #000000;
    text-decoration: none;
}

a.lmlink:hover {
    color: #000000 !important;
    text-decoration: underline;
}

#left-context-menu ul {
    list-style:none;
    padding:2px;

}

.lmenu {
    padding: 1px;
}

.menutoggler {
    cursor: pointer;
}


a.selected_lm, a.selected_lm:link, a.selected_lm:hover, a.selected_lm:visited {
    font-weight: bold;
    color: #000000 !important;
    background: #99cc33;
    padding: 1px 5px;
    text-decoration: none;
}


</style>
<div class="left-context-menu" id="left-context-menu" {LMDISABLED}>
<table cellpadding="0" cellspacing="0"><tr><td style="min-width: 300px !important;" width="350px" class="lm-body">
<!-- BEGIN lm -->
    <ul class="lm_holder-{LEVEL_ID} lm-holder">
        <!-- BEGIN lm-item -->
        <li class="lmenu lmenu {MOD_UID}"  id="lmrootid{LMROOTID}">
            <!-- BEGIN is-link -->
            &nbsp;&nbsp;&nbsp;&nbsp;<a class="lmlink" href="{LM_LINK}">{LM_TITLE}</a>
            <!-- END is-link -->
            <!-- BEGIN no-link -->
            <img src="/templates/images/folder.png" style="margin-bottom: -1px !important;margin-right: 5px;margin-left: 5px;" hspace="5" /><span class="lm-dir top" id="{LM_ROOT_ID}">{LM_NLTITLE}</span>
            <!-- END no-link -->
        {LM_CHILDREN}</li>
        <!-- END lm-item -->
    </ul>
<!-- END lm -->
</td>
<td><a class="togglemenu"><img class="menutoggler" src="/templates/images/close-left-menu.png" title="Меню" /></a></td>
</tr></table>
</div>
<!-- END lmbody -->
<script>
$(document).ready(function() {

     //$("#content").removeClass("floats-container");
     $("#content").addClass("container-fluid");
     $('nav').on('hidden.bs.collapse', function () {
        onResize();
        // do something…
    });
    /*$('nav').on('shown.bs.collapse', function () {
        onResize();
        // do something…
    });*/
});

var onResize = function() {
  // apply dynamic padding at the top of the body according to the fixed navbar height
  //if (!$("#navbar").hasClass("in") || $(".visinmenu").css("display")=="none") {
  //$("#content").css("padding-top", $(".navbar-fixed-top").height()-10);
  //}
};

// attach the function to the window resize event
$(window).resize(onResize);

// call it also when the page is ready after load or reload
</script>
