<div id="container-paddinger"></div>
<!-- BEGIN maintenance -->
<div class="container">
    <div class="alert alert-danger text-center" style="margin-top: 10px;" role="alert"><h2 style="margin: 0px;">{MAINTENANCE_MESSAGE}</h2></div>
</div>
<!-- END maintenance -->
<LINK href="/components/nprogress/nprogress.css" rel="stylesheet" type="text/css">
<LINK href="/components/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css">
<LINK href="/components/angular-ui-select/dist/select.min.css" rel="stylesheet"/>
<LINK href="/components/angular-upload/src/directives/btnUpload.min.css" rel="stylesheet"/>
<LINK href="/components/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
<LINK href="/assets/legacy/desktop_10.16.css" rel="stylesheet"/>

<script src="/components/angular/angular.min.js"></script>
<script src="/components/angular-i18n/angular-locale_ru-ru.js"></script>
<script src="/components/ng-table/dist/ng-table.min.js"></script>
<script src="/components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="/components/angular-confirm-modal/angular-confirm.min.js"></script>
<script src="/components/angular-file-upload/dist/angular-file-upload.min.js"></script>
<script src="/components/angular-upload/angular-upload.min.js"></script>
<script src="/components/angular-elastic-input/dist/angular-elastic-input.min.js"></script>
<script src="/components/ya-map/ya-map-2.1.min.js"></script>
<script src="/components/select2/dist/js/select2.min.js"></script>
<script src="/components/select2/dist/js/i18n/ru.js"></script>
<script src="/components/lodash/dist/lodash.min.js"></script>
<script src="/components/nprogress/nprogress.js"></script>
<script src="/components/angular-sanitize/angular-sanitize.js"></script>
<script src="/components/angular-ui-select/dist/select.js"></script>

<script src="/assets/legacy/bug_report.js"></script>
<link href="/assets/legacy/bug_report.css" rel="stylesheet">

<script src="/assets/wf/app.js"></script>
<script src="/assets/wf/tm/controllers/questionnaire-controller.js" type="text/javascript"></script>
<script src="/assets/wf/tmc/controllers/calc-ticket-controller.js" type="text/javascript"></script>
<script src="/assets/wf/tmc/controllers/calc-ticket/main-modal-controller.js" type="text/javascript"></script>
<script src="/assets/wf/tmc/controllers/calc-ticket/agreement-works-modal-controller.js" type="text/javascript"></script>
<script src="/assets/wf/tmc/controllers/calc-ticket/install-modal-controller.js" type="text/javascript"></script>
<script src="/assets/wf/tmc/controllers/calc-ticket/uninstall-modal-controller.js" type="text/javascript"></script>
<script src="/assets/wf/tmc/controllers/calc-ticket/penalties-modal-controller.js" type="text/javascript"></script>
<script src="/assets/wf/tmc/controllers/calc-ticket/tech-works-modal-controller.js" type="text/javascript"></script>
<script src="/assets/wf/tmc/controllers/calc-ticket/service-works-modal-controller.js" type="text/javascript"></script>
<script src="/assets/wf/user/api.js" type="text/javascript"></script>
<script src="/assets/wf/task/api.js" type="text/javascript"></script>
<script src="/assets/wf/technician/admin-technician-app.js" type="text/javascript"></script>
<script src="/assets/wf/tmc/api.js" type="text/javascript"></script>

{SELECTOR_DIALOGS}
<style>
    .nbncheck {

        font-weight: bold;
        font-size: 10pt;
        margin-right: 20px;
        color: #FF0000;
        cursor: pointer;
    }

    #toTop {
        cursor: pointer;
        display: none;
        position: fixed;
        right: 1px !important;
        width: 100px;
        height: 10px;
        float: right !important;
        padding: 10px;
        text-align: center;
        line-height: 12px;
        bottom: 50px;
    }

    #header {
        -webkit-backface-visibility: hidden;
    }
    .navbar-nav > li > a {
        color: #95d237 !important;
    }
</style>

<script type="text/javascript" src="/legacy_js/selectors.js"></script>
<script type="text/javascript" src="/legacy_js/obzvon.js"></script>
<script type="text/javascript" src="/legacy_js/lightbox.js"></script>
<link rel="stylesheet" type="text/css" href="/templates/twozero/css/lightbox.css"/>
<bgsound id="sound"/>
<div id="toTop" style="display: block; z-index: 10000 !important;"><img src="/templates/images/totop.png"/></div>


<!-- Modal -->
<div class="modal fade" id="globalModal" tabindex="-1" role="dialog" aria-labelledby="globalModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<div class="modal fade" id="obzvonform" role="dialog" style="display: none !important;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Форма обзвона</h4>
            </div>
            <div class="modal-body">
                <div id="oprosbody"></div>
                <br/>
                <center>
                    <button type="button" id="gosaveopros" value="Сохранить" class="btn-primary"><span class="glyphicon glyphicon-save"></span> Сохранить</button>
                    &nbsp;&nbsp;&nbsp;
                    <button type="button" id="cancel_opros" value="Отменить" class="btn-default">Отменить</button>
                </center>
                <br/>
            </div>
        </div>
    </div>

</div>


<div class="modal fade" id="callticketlist" role="dialog" style="display: none !important;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Звонки по заявке</h4>
            </div>
            <div class="modal-body">
                <button type="button" name="refreshcallticket" id="refreshcallticket" value="Перезагрузить записи из АТС"><span
                        class="glyphicon glyphicon-refresh"></span> Перезагрузить записи из АТС
                </button>
                <br/>
                <table class="t1" width="100%">
                    <thead>
                    <tr>
                        <th>Дата/ Пользователь</th>
                        <th>Телефоны</th>
                        <th>Статус</th>
                        <th>Запись</th>
                    </tr>
                    </thead>
                    <tbody class="calllist">
                    </tbody>
                </table>


                <center>
                    <button type="button" id="cancel_calls" value="Отменить" class="btn-default">Закрыть</button>
                </center>
                <br/>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="openobject_dlg" role="dialog" style="display: none !important;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Открыть объект любого типа</h4>
            </div>
            <div class="modal-body">
                <form method="POST" role="form" action="/open" class="form form-inline">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-condensed">
                        <tr>
                            <td style="padding-right: 10px;" width="33%" align="right" valign="top">Введите ID объекта:<br/>
                                <small>Тип объекта будет определен автоматически</small>
                            </td>
                            <td><input type="text" required="required" placeholder="ID (№) объекта" name="object_id" value=""/></td>
                        </tr>
                    </table>
                    <p>&nbsp;</p>
                    <center>
                        <button type="submit" class="btn-primary"><span class="glyphicon glyphicon-open"></span> Открыть</button>
                        &nbsp;&nbsp;&nbsp;
                        <button type="button" data-dismiss="modal" value="Отменить" class="btn-default">Закрыть</button>
                    </center>
                    <br/>
                </form>
            </div>
        </div>
    </div>

</div>



<!--BugReport form-->

<div class="modal fade" id=bugreport_dlg role="dialog" style="display: none !important;">
    <div class="modal-dialog">
        <div class="modal-content bagreport-container_regular">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Написать разработчикам GERP</h4>
            </div>

            <div class="modal-body">

                    <div class="rep-mode__container">

                        <!-- Send another -->
                        <div class="br_confirm_tpl">
                            <div class="confirm-tpl__container">
                                <div class="confirm-tpl__title">
                                    <p>Спасибо! Ваше обращение принято.</p>
                                </div>
                                <div class="confirm-tpl__message">
                                </div>
                                <div class="confirm-tpl__btn text-center">
                                    <button type="button" data-dismiss="modal" value="Отменить" class="btn-primary br-button_base">Закрыть</button>
                                </div>
                            </div>
                        </div>

                        <ul class="nav nav-tabs tabs_feedback" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#bug" aria-controls="home" role="tab" data-toggle="tab">
                                    <i class="fa fa-bug"></i> Ошибка
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#idea" aria-controls="profile" role="tab" data-toggle="tab">
                                    <span class="glyphicon glyphicon-pencil"></span> Обращение
                                </a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content tabs_feedback">
                            <div role="tabpanel" class="tab-pane active" id="bug">
                                <!--BugReport-->
                                <form method="POST" id="Bugreport_form" role="form" action="/bugreport/bugreport-service.json" class="form form-inline" enctype="multipart/form-data">
                                        <div class="br-notepad__entry br-notepad__entry_main">
                                            <p>Какое действие вы хотели совершить?</p>
                                            <textarea name="br_action" placeholder="Например, я хотел отправить сообщение." required></textarea>
                                        </div>
                                        <div class="br-notepad__entry br-notepad__entry_main">
                                            <p>Что не получилось? <span class="text-muted">(Не больше 255 символов)</span> </p>
                                            <textarea name="br_failure" maxlength="255" placeholder="Не работает кнопка &quot;Отправить&quot;." required></textarea>
                                        </div>
                                        <div class="br-notepad__entry br-notepad__entry_main">
                                            <p>Как по вашему мнению это должно работать?</p>
                                            <textarea name="br_wish" placeholder="После нажатия кнопки, сообщение должно отправляться, а форма закрываться."></textarea>
                                        </div>
                                        <div class="br-notepad__entry br-notepad__entry_main">
                                            <p>Так же вы можете приложить скриншот или другой файл, который может помочь в решении вашей проблемы.</p>
                                            <input type="file" name="files[]" multiple />
                                        </div>

                                        <!-- User data - readonly -->
                                        <div class="br-notepad__secondary-info clearfix">
                                            <div class="secondary__item">
                                                <p>Пользователь</p>
                                                <input name="br_name" readonly disabled class="br-notepad__entry_readonly" type="text" value="{USER_FIO}">
                                            </div>
                                            <div class="secondary__item">
                                                <p>Email</p>
                                                <input name="email" readonly disabled class="br-notepad__entry_readonly" type="text" value="{USER_EMAIL}">
                                            </div>
                                            <div class="secondary__item">
                                                <p>Телефон</p>
                                                <input name="phone" readonly disabled class="br-notepad__entry_readonly" type="text" value="{USER_PHONE}">
                                            </div>
                                        </div>


                                        <div class="button-block button-block_regular">
                                            <button type="submit" class="btn-primary br-button_base"><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Отправить</button>
                                            &nbsp;&nbsp;&nbsp;
                                            <button type="button" data-dismiss="modal" value="Отменить" class="btn-default br-button_base">Закрыть</button>
                                        </div>
                                    </form>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="idea">
                                <!--FreeForm-->
                                <form method="POST" id="Freeform" role="form" action="/bugreport/bugreport-freeform.json" class="form form-inline" enctype="multipart/form-data">
                                        <div class="br-notepad__entry br-notepad__entry_freeform">
                                            <p>Обращения в свободной форме имеют более низкий приоритет обработки. Для отправки важной информации используйте форму "Сообщить об ошибке"</p>
                                            <p>Содержание обращения:</p>
                                            <textarea name="br_freeform" required></textarea>
                                        </div>

                                        <!-- User data - readonly -->
                                        <div class="br-notepad__secondary-info clearfix">
                                            <div class="secondary__item">
                                                <p>Пользователь</p>
                                                <input name="br_name" readonly disabled class="br-notepad__entry_readonly" type="text" value="{USER_FIO}">
                                            </div>
                                            <div class="secondary__item">
                                                <p>Email</p>
                                                <input name="email" readonly disabled class="br-notepad__entry_readonly" type="text" value="{USER_EMAIL}">
                                            </div>
                                            <div class="secondary__item">
                                                <p>Телефон</p>
                                                <input name="phone" readonly disabled class="br-notepad__entry_readonly" type="text" value="{USER_PHONE}">
                                            </div>
                                            <div class="secondary__item">
                                                <p>Так же вы можете приложить скриншот или другой файл, который может помочь в решении вашей проблемы.</p>
                                                <input type="file" name="files[]" multiple />
                                            </div>
                                        </div>
                                        <div class="button-block button-block_regular">
                                            <button type="submit" class="btn-primary br-button_base"><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Отправить</button>
                                            &nbsp;&nbsp;&nbsp;
                                            <button type="button" data-dismiss="modal" value="Отменить" class="btn-default br-button_base">Закрыть</button>
                                        </div>
                                    </form>
                            </div>
                        </div>

                    </div>

            </div>
        </div>
    </div>
</div>







<input type="hidden" name="user_template" value="twozero"/>

<nav class="navbar navbar-inverse navbar-fixed-top navbar__tidy">
    <div class="container-fluid">

        <!-- Logo -->
        <div class="navbar-header logo-menu_box">
            <div class="navbar-brand">
                <span class="text-nowrap logo-menu" style="">
                    <img width='20' class="logo-menu_img gsslogo" src='/templates/images/logo_trnt_100.png'/>
                    <span class="logo-menu_text ">{SYS_NAME}</span>
                </span>
                <span class="">{SWITCHER}</span>
                <span class=""><img style='display: none;' id='ajaxloader' src='/templates/twozero/images/preload.gif'/></span>

            </div>
            <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Меню</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>


        </div>

        <!-- Login -->
        <div class="navbar-brand small pull-right hidden-xs hidden-sm login-menu_box">
            <div class="login-menu_name-box">
               <span class="right small">
                   <!-- BEGIN userlink -->
                   <a href="{USERLINK}" style="color: white !important; text-decoration: none;">
                   <!-- END userlink -->
                       <!-- BEGIN balance -->
                       {BALANCE}
                       <!-- END balance -->
                       <span class="fa fa-user " style="color: white !important;"></span>
                       <div class="login-menu_name">{USER_FIO}</div>
                       <!-- BEGIN ulend -->
                   </a>
                   <!-- END ulend -->
               </span> &nbsp;
            </div>
            <div class="login-menu_logout">
                <span class="right small"><a class="right" href="{LOGOUT_URL}" style="color: white !important; text-decoration: none;">
                   <span class="fa fa-sign-in"></span> {LOGOUT_TITLE}</a>
                </span>
            </div>
        </div>

        <!-- Text menu -->
        <div id="navbar" class="navbar-collapse collapse pull-left text_menu" style="">
            <ul class="nav navbar-nav" style="display:inline-block;">

                <!-- BEGIN main_menu_item -->
                <li class="pull-left {MM_SEL} menu_item__tidy">
                    <a class="{MM_SEL}" {CALLLM} href="{MM_HREF}">{MM_NAME}</a></li>
                <!-- END main_menu_item -->
            </ul>
            <ul class="visinmenu nav navbar-nav navbar-right visible-xs visible-sm">
                <li class="nav-divider"></li>
                <li><!-- BEGIN userlink_im --><a href="{USERLINK_IM}"><!-- END userlink_im --><span class="glyphicon glyphicon-user"></span> {USER_FIO}
                    <!-- BEGIN ulend_im --></a><!-- END ulend_im --></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Выход</a></li>
            </ul>
        </div><!--/.nav-collapse -->


    </div>
</nav>



<!--right_SideBar_Buttons-->


<div class="center rightbar hidden-print" style="background: #FFFFFF;">

    <table border="0" width="100%" style="cursor: move;" id="movepanel">
        <tr>
            <td><span class="center glyphicon glyphicon-move"></span></td>
        </tr>
    </table>

    <!-- BUTTONS -->

    <!-- Open object button -->
    <button type="button" id="openobject" class="openobject btn-info rbar_button" style="line-height: 1.2 !important;"><span
            class="glyphicon glyphicon-folder-open"></span> Открыть <span class="hidden-xs">объект</span></button>

    <!-- Feedback button -->
    <button type="button" id="feedback_button" class="openobject btn-warning rbar_button" style="line-height: 1.2 !important;" title="Сообщить об ошибке или отправить пожелание по работе WorkFlow"><span
            class="glyphicon glyphicon-thumbs-up"></span> Написать в <span class="hidden-xs">саппорт</span></button>

    <!-- BEGIN g_calltodisp -->
    <button type="button" style="line-height: 1.2 !important;" value="Позвонить Диспетчеру Горсвязи: {G_CALLTODISP}" class="calltotechrnav btn-success rbar_button"
            name="calltotech1" callfrom="{G_CALLFROMPHONE}" calltoc="{G_CALLTODISP}"><span class="glyphicon glyphicon-earphone"></span>Диспетчер
    </button>
    <!-- END g_calltodisp -->

</div>
<div class="clear"></div>




<script>
    var GLOB_ADDRESS_RECOGN_URL = '{ADDR_URL}',
        GLOB_ADDRESS_TOKEN = '{ADDR_TOKEN}';


    $(document).ajaxStart(function () {
        NProgress.start();
    });

    $(document).ajaxError(function () {
        NProgress.remove();
    });

    $(document).ajaxStop(function () {
        NProgress.done();
    });

    var cCnt = 0;
    var drag = false;
    var offset = 0;
    $(document).ready(function () {

        NProgress.configure({ showSpinner: false });

        $(document).on("keydown", "input[name='object_id']", function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 65, 86, 90, 110, 118]) !== -1 ||
                    // Allow: Ctrl+A
                    (e.keyCode == 65 && e.ctrlKey === true) ||
                    // Allow: home, end, left, right, down, up
                    (e.keyCode >= 35 && e.keyCode <= 40)) {
                // let it happen, don't do anything

                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });

        $(document).on("mouseup", function () {
            drag = false;
            $("body").removeClass('noselect');
            $(".rightbar").css("background-color", '#FFFFFF');
        });


        $("#movepanel").mousedown(function (e) {
            $("body").addClass('noselect');
            drag = true;
            offset = Math.abs(e.pageY - $(".rightbar").offset().top - $(document).scrollTop());
            //alert($(document).scrollTop() + " " + e.pageY + " " + offset);
            $(".rightbar").css("background-color", '#FFF700');

        });

        $(document).on("click", "#openobject", function () {
            $("input[name=object_id]").val('');
            $("#openobject_dlg").modal("show");
        });

        $("#movepanel").on("mouseup", function () {
            drag = false;
            $("body").removeClass('noselect');
            var obj = $(".rightbar");
            setTimeout(function () {
                if (obj.offset().top > $(window).height()) {
                    obj.css("top", $(window).height() - (obj.height() + 40));
                } else {
                    if (obj.offset().top < 0) {
                        obj.css("top", 50);
                    }
                }
            }, 10);
        });


        $(document).on("mousemove", function (e) {
            if (drag) {
                $(document).off("click", "#openobject");
                if ((e.pageY - offset ) > $(window).height()) {
                    $(".rightbar").css("top", $(window).height() - $(".rightbar").height() - 7);
                } else {
                    if (e.pageY < 0) {
                        $(".rightbar").css("top", 50);
                    } else {
                        $(".rightbar").css("top", e.pageY - (offset));
                    }
                }

            }
        });

        $(document).on("click", "#openobject", function () {
            if (!drag) {
                $("input[name=object_id]").val('');
                $("#openobject_dlg").modal("show");
            }
        });

        // Feedback button onClick
        $(document).on("click", "#feedback_button", function () {
            if (!drag) {
                $("input[name=object_id]").val('');
                $("#bugreport_dlg").modal("show");
            }
        });

        $("#openobject_dlg").on("shown.bs.modal", function () {
            $("input[name=object_id]").focus();
        });

        //$("#content").removeClass("floats-container");
        $("#content").addClass("container-fluid");
        $('nav').on('hidden.bs.collapse', function () {
            onResize();

        });

        $(".gsslogo").click(function () {
            cCnt = cCnt + 1;
            if (cCnt == 5) {
                if ($("#loginat").length) {
                    $("#loginat").modal('show');
                }
                cCnt = 0;
            }
        });
    });

    var onResize = function () {
        // apply dynamic padding at the top of the body according to the fixed navbar height
        //if (!$("#navbar").hasClass("in") || $(".visinmenu").css("display")=="none") {
        $("#container-paddinger").css("padding-top", $(".navbar-fixed-top").height() + 10);
        //}
    };

    // attach the function to the window resize event
    $(window).resize(onResize);

    // call it also when the page is ready after load or reload
</script>
