<div class="task_comment" id="task-comment-{CMM_ID}">
    <div class="cmm_title" style="background-color: {CMM_COLOR};">
        <strong>Дата:</strong> {CMM_DATE}
        <strong>Автор:</strong> {CMM_USER_FIO}
        <!-- BEGIN as_mail -->
        <a href="{TASK_URL}#task-comment-{CMM_ID}">Открыть комментарий</a>
        <!-- END as_mail -->
    </div>
    <!-- BEGIN tag -->
    <div class="cmm_tag">{CMM_TAG}</div>
    <!-- END tag -->
    <div class="cmm_text cmm{CMM_ID}">{CMM_TEXT}</div>
</div>
