
    <ul class="lm_holder-{LEVEL_ID} lm-hodler closed">
        <!-- BEGIN lm-item -->
        <li class='lmenu {MOD_UID}'>
        <!-- BEGIN islink -->
         &nbsp;&nbsp;&nbsp;&nbsp;<a class="lmlink {SELECTED_ITEM}" href="{LM_LINK1}">{LM_TITLE1}</a>
        <!-- END islink -->
        <!-- BEGIN nolink -->
        <img src="/templates/images/folder.png" style="margin-bottom: -1px !important;margin-right: 5px;margin-left: 5px;" hspace="5" /><span class="lm-dir">{LMTITLE}</span>
        <!-- END nolink -->
        {LM_CHILDREN}
        </li>
        <!-- END lm-item -->
    </ul>
