<div class="leftmenu">
<ul class="lm" style="margin: 0 0 0 10px; padding:0;" >
        <li><p></p></li>
        <li><h4 style="margin: 0;">Общие отчеты</h4></li>
        <!--li>
            <a style="width: 150px;" class="button {DIS_USERS} {STAT}" href="reports/">Статистика системы</a>
        </li-->
        <li class="lm_item">
            <a class="{DIS_USERS_1} {REPORT_CONTR}" href="/reports_contr/">Контрагенты (Подключение)</a>
        </li>
        <li class="lm_item">
            <a class="{DIS_USERS_2} {REPORT_REJECT}" href="/reports_contr_rejects/">Отказы (Подключение)</a>
        </li>
        <li class="lm_item">
            <a class="{DIS_USERS_3} {REPORT_TASKTYPES}" href="/reports_task_types/">Виды работ (Подключение)</a>
        </li>
        <li class="lm_item">
            <a class="{DIS_USERS_4} {REPORT_SER_CONTR}" href="/reports_ser_contr/">Контрагенты (СКП)</a>
        </li>
        <li class="lm_item">
            <a class="{DIS_USERS_5} {REPORT_SER_REJECT}" href="/reports_ser_contr_rejects/">Отказы (СКП)</a>
        </li>
        <li class="lm_item">
            <a class="{DIS_USERS_6} {REPORT_SER_TASKTYPES}" href="/reports_ser_task_types/">Виды работ (СКП)</a>
        </li>
        <li class="lm_item">
            <a class="{DIS_USERS_21} {REPORT_CONN_OP}" href="/reports_op_conn/">Подключения. Оперативный</a>
        </li>
        <li><h4 style="margin: 0;">Фин. отчеты Подключение</h4></li>
        <li class="lm_item">
            <a class="{DIS_USERS_7} {REPORT__FIN_CONTR_LIST}" href="/reports_f_contr/">Расчетный лист Контрагента</a>
        </li>
        <li class="lm_item">
            <a class="{DIS_USERS_8} {REPORT__FIN_TECH}" href="/reports_f_tech/">Расчетный лист Техника</a>
        </li>
        <li class="lm_item">
            <a class="{DIS_USERS_9} {REPORT__FIN_SC}" href="/reports_f_sc/">Расчетный лист СЦ</a>
        </li>
        <li class="lm_item">
            <a class="{DIS_USERS_13} {REPORT__FIN__TOTAL}" href="/reports_f_total/">Полный Отчет</a>
        </li>
        <li><h4 style="margin: 0;">Акты Подключение</h4></li>
        <li class="lm_item">
            <a class="{DIS_USERS_10} {REPORT__TMC_ACT}" href="/acts_tmc/">ТМЦ (Подключение)</a>
        </li>
        <li class="lm_item">
            <a class="{DIS_USERS_11} {REPORT__TICKET_ACT}" href="/acts_ticket/">Заявки (Подключение)</a>
        </li>
        <li><h4 style="margin: 0;">Фин. отчеты СКП</h4></li>
        <li class="lm_item">
            <a class="{DIS_USERS_12} {REPORT__FIN_TECH_TICKET}" href="/reports_f_skp_avg_price/">Предварительная стоимость</a>
        </li>        
        <li class="lm_item">
            <a class="{DIS_USERS_18} {REPORT__FIN_SKP_MONEY}" href="/reports_f_skp_mr/">Прием денег СКП</a>
        </li>        
        <li class="lm_item">
            <a class="{DIS_USERS_19} {REPORT__FIN_SKP_TOTAL}" href="/reports_f_skp_total/">Итоговая ведомость СКП</a>
        </li>        
        <li class="lm_item">
            <a class="{DIS_USERS_20} {REPORT__AGENTS_SKP_TOTAL}" href="/reports_f_skp_agents/">Отчет СКП за период по выполненным заявкам</a>
        </li>        
        <li><h4 style="margin: 0;">Отчеты ТМЦ</h4></li>
        <li class="lm_item">
            <a class="{DIS_USERS_14} {REPORT__TMC_SC_MOVE}" href="/reports_tmc_sc_move/">Движение ТМЦ СЦ</a>
        </li>        
        <li class="lm_item">
            <a class="{DIS_USERS_15} {REPORT__TMC_SC_TOTAL}" href="/reports_tmc_sc_total/">Сводный отчет СЦ</a>
        </li> 
        <li class="lm_item">
            <a class="{DIS_USERS_16} {REPORT__TMC_TECH_MOVE}" href="/reports_tmc_tech_move/">Движение ТМЦ Техник</a>
        </li>        
        <li class="lm_item">
            <a class="{DIS_USERS_17} {REPORT__TMC_TECH_TOTAL}" href="/reports_tmc_tech_total/">Сводный отчет Техник</a>
        </li>        
        <li>
        <p><br /><br /><br /></p>
        </li>
</ul>
</div>