<div class="modal fade" role="dialog" id="seluser" style="display: none;">
<div class="modal-dialog modal-lg">
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="float-title" style="padding:0; margin:0;color:#000000;">Выбор пользователей</h2>
    </div>
   <div class="modal-body selector">
        <form role="form" class="form-inline search_filter" id="selectuser_form" method="POST">
                <input type="hidden" name="filter_start" id="fs_seluser" />
                    <div class="buttons pull-right">
                        <button type='submit' name='filter' value='Поиск' class="btn-primary" >Поиск</button>&nbsp;&nbsp;
                        <button type='reset' name='reset' value='Сброс' class="btn-default" >Сброс</button>
                    </div>
                    
                    <div class="form-group">
                        <label>ФИО 
                        <input type="text" name='su_username' /></label>
                    </div>
                    <div class="form-group">
                        <label>Тип 
                        <select name='su_type_id'>
                            <option selected="selected" value="0">--все</option>
                            <option value='1' >Пользователь</option>
                            <option value='2' >Пользователь ЛК (Контрагент)</option>
                            <option value='3' >Техник</option>
                            <option value='4' >Руководитель СЦ</option>
                            
                        </select></label>
                    </div>
                    <div class="form-group">
                        <label>Подразделение 
                        <select name='su_podr_id' style="width: 200px;">
                        {PODR_LIST}
                        </select></label>
                    </div>
                    <div class="form-group su_sc_list">
                        <label>СЦ 
                        <select name="su_sc_id">{FILTER_SC_OPTIONS}</select></label>
                    </div>
                    <div class="form-group">
                        <label for="su_in_arc">Искать в архиве <input id="su_in_arc" type="checkbox" name="su_archive"  /></label>
                    </div>
                
        </form>
        <table class="t1" width="100%">
            <thead>
                <tr>
                    <th>ФИО</th>
                    <th class="hidden-xs">Должность</th>
                    <th class="hidden-xs">Подразделение</th>
                    <th>E-Mail</th>
                </tr>
            </thead>
            <tbody class="searchuser">
                <tr class="no_users"><td colspan="6"><p class="redmessage">Пользователи отсутствуют!</p></td></tr>
                <tr class="loader_seluser"><td colspan="6"><div id="loader_seluser">
                    <div class="center"><img src="/templates/twozero/images/loading_animation.gif" /></div>
                    <div class="center">Поиск, ждите...</div>
                    </div></td>
                </tr>
            </tbody>
        </table>
        <div>
            <div class="pull-left label label-primary" style="margin: 3px 6px 0 0;">Найдено: <span class="badge user_search_total"></span></div><span class="user_search_pages"><ul class="pages">
                <li class="selected"><span>1</span></li></ul>
            </span>
        </div>
        <br />
   </div>
    <div class="modal-footer">
        <button type="button" class=" btn btn-default" data-dismiss="modal">Закрыть</button>
    </div>
</div>
</div>
</div>