<style type="text/css">

</style>
<script src='/components/tinymce/tinymce.min.js'></script>
<script src='/components/tinymce-i18n/langs/ru.js'></script>
<!-- BEGIN sac_js -->
<script type="text/javascript">

    $(document).ready(function(){

        reloadFileList();
        
        var editor = tinymce.init({
            selector: '#cmm-txt',
        });

        
        $("input[name=cmm_text]").val('');
        $("textarea[name=cmm_text_src]").val('');
        $("textarea[name=cmm_text_src]").change(function() {

           $("input[name=cmm_text]").val(encodeURIComponent($(this).val()));
        });

        $("select[name=tt_type]").change(function() {
            $("body").css("cursor", "wait");
            $("#uploadform input[type=submit]").attr("disabled", "disabled");
            $.post('/adm_ticket_tttypes/getSubTypeOptions_ajax', {type_id: $(this).val()})
                .success(function(json) {

                    try
                    {
                        vdata = $.parseJSON(json);
                        if (vdata.tpl) {
                            $("select[name=tt_subtype]").html(vdata.tpl);
                            $("#uploadform input[type=submit]").removeAttr("disabled");
                        } else {
                            alert("Ошибка получения списка подтипов, или список пуст!");
                        }

                    }
                    catch(ex) {
                        alert('Ошибка обработки ответа сервера' + ex);
                        return false;
                    }
                    $("body").css("cursor", "default");
                })
                .fail(function() {
                    $("body").css("cursor", "default");
                    alert('Ошибка обмена данными с сервером. Обратитесь к разработчикам!');
                    return false;
                });

            return false;
        });

        $("select[name=gp_type]").change(function() {
            $("body").css("cursor", "wait");
            $("#uploadform input[type=submit]").attr("disabled", "disabled");
            $.post('/adm_ticket_gptypes/getSubTypeOptions_ajax', {type_id: $(this).val()})
                .success(function(json) {
                    try
                    {
                        vdata = $.parseJSON(json);
                        if (vdata.tpl) {
                            $("select[name=gp_subtype]").html(vdata.tpl);
                            $("#uploadform input[type=submit]").removeAttr("disabled");
                        } else {
                            alert("Ошибка получения списка подтипов, или список пуст!");
                        }
                    }
                    catch(ex) {
                        $("body").css("cursor", "default");
                        alert('Ошибка обработки ответа сервера' + ex);
                        return false;
                    }
                })
                .fail(function() {
                    $("body").css("cursor", "default");
                    alert('Ошибка обмена данными с сервером. Обратитесь к разработчикам!');
                    return false;
                });

            return false;
        });

        $("#cr_taskreport").submit(function() {
            var pin = $("#cr_pin").val();
            var comment = $(this).find("textarea[name=cr_comment]").val();
            $("input[name=allowconnstatus]").val("ok");
            $("input[name=lk_pin]").val(pin);
            $("input[name=crlk_comment]").val(encodeURIComponent(comment));
            $("input[name=cmm_text]").val(encodeURIComponent(comment));
            //$("textarea[name=cmm_text_src]").val(comment);

            $("#uploadform").submit();
            $( "#connticketreport" ).modal('hide');
            return false;
        });

        $("#cracci_taskreport").submit(function() {
            var comment = $(this).find("textarea[name=cr_comment]").val();
            $("input[name=allowaccistatus]").val("ok");
            $("input[name=crlk_comment]").val(encodeURIComponent(comment));
            $("input[name=cmm_text]").val(encodeURIComponent(comment));
            //$("textarea[name=cmm_text_src]").val(comment);

            $("#uploadform").submit();
            $("#acciticketreport").modal('hide');
            return false;
        });

        $("#poruch-chk").change(function(){


            if($(this).is(":checked")) {
                selUserMultiple(function() {
                    var res = this.split("#");
                    $("#poruch_user_ids").val(res[0]);
                    $("#poruch_user_names").html(res[1]);


                    return false;
                },  $("input[name=task_id]").val(), false);
                //var wnd = window.open(link2("browse/users/?task_id=" + $("input[name=task_id]").val() + "&applyfn=setTaskCommentPoruch&user_ids="+$("#poruch_user_ids").val()), "users_browse", "width=500,height=600,scrollbars=1,toolbar=0");
                //wnd.focus();
            } else {
                $("#poruch_user_names").html("");
                $("#poruch_user_ids").val("");
            }
            return false;
        });

        $("input[name=status_id]").click(function() {
           if ($("#addcmmform").find(".status_name input[type=radio]:checked").hasClass('rprice')) {
                $("#priceval").removeAttr("disabled");
           } else {
                $("#priceval").attr("disabled", "disabled");

           }
        });

        $("#cancel_edit_creport").click(function() {
            $( "#connticketreport" ).modal('hide');
        });

        $("#cancel_edit_areport").click(function() {
            $( "#acciticketreport" ).modal('hide');
        })

        $('#cmm-txt').keydown(function (e) {
            if (e.ctrlKey && e.keyCode == 13) {
                $('#cmm-txt').blur();
                $('#uploadform').trigger('submit');
            }
        });

        $("#uploadform").submit(function() {

            var is_status = $(this).find(".status_name input[type=radio]:checked").length ? true : false;
            var status_value = $(this).find(".status_name input[type=radio]:checked").val();
            if (status_value && status_value != "undefined") {
                if (status_value.toString().trim() == "61" || status_value.toString().trim() == "71") {
                    if (($(this).find("select[name=tt_type]").length && $(this).find("select[name=tt_type]").val() == '') || ($(this).find("select[name=tt_subtype]").length && $(this).find("select[name=tt_subtype]").val() == '')) {
                        alert("Выберите значение типа/подтипа заявки ТТ");
                        return false;
                    }
                    if (($(this).find("select[name=gp_type]").length && $(this).find("select[name=gp_type]").val() == '') || ($(this).find("select[name=gp_subtype]").length && $(this).find("select[name=gp_subtype]").val() == '')) {
                        alert("Выберите значение типа/подтипа заявки ГП");
                        return false;
                    }
                }
            }

            var content = tinyMCE.activeEditor.getContent();
            var is_cmm = content ? true : false;
            var is_poruch = $(this).find("#poruch_user_ids").val() ? true : false;
            var is_price = ($("#orientpriceval").val()) ? true : false;
            var is_files = $('#uploadform input[type=file]').get(0).files.length;
            var deldate = $("input[name=otlozh_date]").val();
            if ($(this).find(".status_name input[type=radio]:checked").length) {
                var st = $(this).find(".status_name input[type=radio]:checked").val();
                if (st == "12" && $("input[name='blockstatus']").val() == "blockstatus") {
                    alert("Для статуса Выполнена заявка должна иметь историю постановки в график!");
                    return false;
                }
            }

            if(!is_cmm && !is_status && !is_poruch && !is_files) {
                alert("Введите текст или выберите статус или выберите файл для загрузки!");
                return false;
            }
            if ($(this).find(".status_name input[type=radio]:checked").hasClass('rc') && !is_cmm && !$(this).find(".status_name input[type=radio]:checked").hasClass('rdate')) {

                alert('Данный статус требует обязательного заполнения поля "Комментарий"');
                return false;
            }
            if (($(this).find(".status_name input[type=radio]:checked").hasClass('rc') && !is_cmm) || ($(this).find(".status_name input[type=radio]:checked").hasClass('rdate') && !deldate)) {
                alert('Данный статус требует обязательного заполнения поля "Комментарий" и указания даты');
                if ($("input[name='otlozh_date'").val()==""){
                    $("input[name='otlozh_date'").focus();
                }
                //$("input[name='otlozh_date'").attr("required", "required");
                return false;
            }

            if (($(this).find(".status_name input[type=radio]:checked").hasClass('rprice') && ($("input[name=plugin_uid]").val() != "connections" && $("input[name=plugin_uid]").val() != "accidents" && $("input[name=plugin_uid]").val() != "gp")) && !is_price) {
                alert('Данный статус требует обязательного заполнения поля "Предварительная Стоимость"');
                $("#orientpriceval").focus();
                return false;
            }

            if ($(this).find(".status_name input[type=radio]:checked").hasClass('rfcloseconnticket') && $("input[name=allowconnstatus]").val() != "ok") {
                $("input[name=cr_pin]").val('');
                $("textarea[name=cr_comment]").val('');
                $( "#connticketreport" ).modal('show');
                $("input[name=cr_pin]").focus();
                return false;
            }

            if ($(this).find(".status_name input[type=radio]:checked").hasClass('rfcloseacciticket') && $("input[name=allowaccistatus]").val() != "ok") {
                var a = $(this).offset();
                $(".pin").remove();
                $("textarea[name=cr_comment]").val('');
                $( "#acciticketreport" ).modal('show');
                return false;
            }



            if ($(this).find(".status_name input[type=radio]:checked").hasClass('rfinform') && $("input[name=allowstatus]").val() != "ok") {
                var a = $(this).offset();
                $("input[name=tlk_price]").val('');
                $("input[name=tlk_docnum]").val('');
                $("textarea[name=tlk_comment]").val('');
                $( "#ticketreport" ).modal('show');
                $("input[name=tlk_price]").focus();
                return false;
            } else {
                $("#uploadform input[type=submit]").attr("disabled", "disabled");
            }

            $(this).find("input[type=submit]").attr("disabled", "disabled");
            $("#task_comment_loader").show();
            $(this).append("<input type='hidden' name='or_price' value='"+$("#orientpriceval").val()+"' />");
            $('input[name=or_price]').val($("#orientpriceval").val());
            $(this).append("<input type='hidden' name='cr_tpinval' value='"+$("#cr_pin").val()+"' />");
            $(this).append("<input type='hidden' name='lk_price' value='"+$("input[name=tlk_price]").val()+"' />");
            $(this).append("<input type='hidden' name='lk_docnum' value='"+$("input[name=tlk_docnum]").val()+"' />");
            $(this).append("<input type='hidden' name='lk_comment' value='"+$("textarea[name=tlk_comment]").val()+"' />");
            var a;
            if ($("textarea[name=tlk_comment]").val()) {
                a = $("textarea[name=tlk_comment]").val();
                $("input[name=cmm_text]").val(encodeURIComponent(a));
            } else { a=""; }
        });

        $("#uploadiframe").on("load", function() {
            var islkuser = $("input[name='islkuser']").length;
            if (islkuser>0) {
                    if ($("#uploadform").find(".status_name input[type=radio]:checked").val() == 1 || $("#uploadform").find(".status_name input[type=radio]:checked").val() == 61) {
                        $("#uploadform").find(".status_name input[type=radio]:checked").parent("li").remove();
                    }
                }
            $("#uploadform input[type=submit]").removeAttr("disabled", "disabled");
            $("#task_file_loader").hide();
			reloadFileList();
			var data = $(this).contents().find("body").html();
            $("#uploadform input[type=submit]").removeAttr("disabled");
                $("#task_comment_loader").hide();

            if(data) {
                $(".task_comments").append(data);
                if ($("input[name=allowconnstatus]").val() == "ok") {
                    alert("Отчет по заявке принят!");
                    $("input[name=allowconnstatus]").val("");
                }
                if ($("input[name=allowaccistatus]").val() == "ok") {
                    alert("Отчет по заявке принят!");
                    $("input[name=allowaccistatus]").val("");
                }

                if ($("input[name=allowstatus]").val() == "ok") {
                    alert("Отчет по заявке принят!");
                    $("input[name=allowstatus]").val("");
                    goTo("/services", true);
                }

                $("#poruch-chk").removeAttr("checked").change();
                $("#cmm-status-0").attr("checked", "checked");
                $("#uploadform textarea").val("");
                tinyMCE.activeEditor.setContent('');
                $("input[name='otlozh_date'").val("");
            }

            return false;
        });

        $(document).on("click", ".deletefile", function() {
            if (confirm("Удаление файла необратимо. Продолжить?")) {
                var task_id = '{SAC_TASK_ID}';
                var file_id = $(this).attr("id");
                $("body").css("cursor", "wait");

                $.post('/comments/delete_file_ajax', {file_id: file_id, task_id: task_id})

                .success(function(json) {
                    try
                    {
                        vdata = $.parseJSON(json);
                        if (vdata.error) {
                            $("body").css("cursor", "default");
                            alert('Ошибка. '+ vdata.error);
                            return false;
                        } else {
                            $("body").css("cursor", "default");
                            reloadFileList();
                            $(".task_comments").append(vdata.tpl);
                        }
                    }
                    catch(ex) {
                        $("body").css("cursor", "default");
                        alert('Ошибка обработки ответа сервера' + ex);
                        return false;
                    }
                })
                .fail(function() {
                    $("body").css("cursor", "default");
                    alert('Ошибка обмена данными с сервером. Обратитесь к разработчикам!');
                    return false;
                });



                return false;
            }
            return false;
        });

        $(document).on("click", "button[name=deleteallfiles]", function() {
            if (confirm("Удаление всех файлов необратимо. Продолжить?")) {
                var task_id = '{SAC_TASK_ID}';
                $("body").css("cursor", "wait");

                $.post('/comments/delete_allfiles_ajax', {task_id: task_id})

                .success(function(json) {
                    try
                    {
                        vdata = $.parseJSON(json);
                        if (vdata.error) {
                            $("body").css("cursor", "default");
                            alert('Ошибка. '+ vdata.error);
                            return false;
                        } else {
                            $("body").css("cursor", "default");
                            reloadFileList();
                            $(".task_comments").append(vdata.tpl);
                        }
                    }
                    catch(ex) {
                        $("body").css("cursor", "default");
                        alert('Ошибка обработки ответа сервера' + ex);
                        return false;
                    }
                })
                .fail(function() {
                    $("body").css("cursor", "default");
                    alert('Ошибка обмена данными с сервером. Обратитесь к разработчикам!');
                    return false;
                });



                return false;
            }
            return false;
        });

    });

    function setTaskCommentPoruch(users)
    {
        var ids = [];
        var fio = [];
        for(i in users) {
            ids.push(users[i].id);
            fio.push(users[i].fio);
        }
        $("#poruch_user_ids").val(ids.toString());
        $("#poruch_user_names").html(fio.join("<br />"));
        return true;
    }

    function reloadFileList()
    {
    	//window.location.reload();
        var task_id = '{SAC_TASK_ID}';

        $(".task_files").load("/comments/task_files_ajax/", {task_id: task_id});
		$("#task_files_upload_input_container").html( $("#task_files_upload_input_container").html() );
		if ($(".paysbody").length) {


	   				$.post(link2("bills/getpayment_ajax"), { bill_id: $("input[name=bill_id]").val()})

	   	            .success(function(json) {
	   	                try
	   	                {
	   	                    data = $.parseJSON(json);
	   	                    if (data.error) {
	   	                        $("body").css("cursor", "default");
	   	                        alert('Ошибка обмена данными с сервером. Обратитесь к разработчикам!' + data.error);
	   	                        return false;
	   	                    } else {
	   	                        $("body").css("cursor", "default");

								if (data.tpl) {
									$("input[name=paid]").val('');
									$("input[name=paidpart]").val('');
									$("input[name=paid_date]").val('');
									$("input[name=paidpart_date]").val('');

									$(".paysfoot").remove();
									$(".paysbody").replaceWith(data.tpl);

								} else {
									alert("Ошибка обработки шаблона! ");
								}

	   	                    }
	   	                }
	   	                catch(ex) {
	   	                    $("body").css("cursor", "default");
	   	                    alert('Ошибка обработки ответа сервера' + ex);
	   	                    return false;
	   	                }
	   	            })
	   	            .fail(function() {
	   	                $("body").css("cursor", "default");
	   	                alert('Ошибка обмена данными с сервером. Обратитесь к разработчикам!');
	   	                return false;
	   	            });



		}

    }
</script>
<!-- END sac_js -->

<div class="modal fade" role="dialog" id="connticketreport" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Отчет по заявке</h4>
            </div>
            <div class="modal-body">
                <form method="POST" id="cr_taskreport">
                <input type="hidden" name="allowconnstatus" value="" />
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-condensed">
                        <tr>
                            <td style="padding-right: 10px;" width="33%" align="right" valign="top">ПИН:</td>
                            <td><input type="text" style="width: 130px;"  required="required" id="cr_pin" placeholder="ПИН абонента" name="cr_pin" value="" /> </td>
                        </tr>
                        <tr>
                            <td style="padding-right: 10px;" width="33%" align="right" valign="top">Комментарий:</td>
                            <td><textarea placeholder="Комментарий по заявке" required="required" name="cr_comment" style="width:100%; height: 100px;" ></textarea></td>
                        </tr>
                    </table>

                <br />
                <center><button type="submit" class="btn-primary" value="Сохранить" ><span class="glyphicon glyphicon-save"></span> Сохранить</button>
                <button type="button"  class="btn-default" id="cancel_edit_creport" value="Отменить" >Отменить</button> </center><br />
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="acciticketreport" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Отчет по заявке</h4>
            </div>
            <div class="modal-body">
                <form method="POST" id="cracci_taskreport">
                    <input type="hidden" name="allowaccistatus" value="" />
                    <tr>
                            <td style="padding-right: 10px;" width="33%" align="right" valign="top">Комментарий:</td>
                            <td><textarea placeholder="Комментарий по заявке" required="required" name="cr_comment" style="width:100%; height: 100px;" ></textarea></td>
                        </tr>

                    <br />
                    <center><button type="submit" class="btn-primary" value="Сохранить" ><span class="glyphicon glyphicon-save"></span> Сохранить</button>
                    <button type="button"  class="btn-default" id="cancel_edit_areport" value="Отменить" >Отменить</button> </center><br />
                </form>
            </div>
        </div>
    </div>

</div>

<div class="task_comments container-fluid">
    <!-- BEGIN comment -->
    <div class="task_comment" id="task-comment-{CMM_ID}">
        <div class="cmm_title" style="background-color: {CMM_COLOR};">
            <strong>Дата:</strong> {CMM_DATE}
            <strong>Автор:</strong> {CMM_USER_FIO}
        </div>
        <a name="task-comment-{CMM_ID}"></a>
        <!-- BEGIN tag -->
        <div class="cmm_tag">{CMM_TAG}</div>
        <!-- END tag -->
        <div class="cmm_text cmm{CMM_ID}">{CMM_TEXT}</div>
        <!-- BEGIN showaddcomment -->
        <div style="margin: 0px 2px 10px 0px; text-align: right; font-size: 8pt;">
            <a href="javascript:quote_message('{CMM_USER_FIO_ONLY}', '{CMM_DATE_SADC}');">цитировать выделение</a>
        </div>
        <!-- END showaddcomment -->
    </div>

    <!-- END comment -->
</div>
<!-- BEGIN sac -->
<div id="task_comment_loader">
    <div class="center"><img src="/templates/images/loading_animation.gif" /></div>
    <div class="center">Идет размещение данных, ждите...</div>
</div>

<div id="task_file_loader">
    <div class="center"><img src="/templates/images/loading_animation.gif" /></div>
    <div class="center">Идет загрузка файла, ждите...</div>
</div>

<div class="floats-container">
    <form method="POST" action="/comments/addcmm_ajax/" id="uploadform" target="uploadiframe" enctype="multipart/form-data">
        {BLOCKSTATUS}
        <div class="cmm_panel">
                <input type="hidden" name="task_id" value="{SACC_TASK_ID}" />
                <input type="hidden" name="allowstatus"  />
                <input type="hidden" name="allowconnstatus"  />
                <input type="hidden" name="lk_price"  />
                <input type="hidden" name="lk_pin"  />
                <input type="hidden" name="lk_docnum" />
                <input type="hidden" name="crlk_comment" />
                <input type="hidden" name="cmm_text" />
                <input type="hidden" name="is_enc" value="1" />

                <h3>Комментарий<br /></h3>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <textarea name="cmm_text_src" id="cmm-txt" class="form-control" rows="15"></textarea>
                        </div>
                    </div>
                </div>
            <div class="container-fluid">
            <div class="col-sm-6">
                <h3>Статусы</h3>
                <div class="table-responsive">
                    <table style="background: #FFFFFF !important" width="100%">
                        <tr>
                            <td valign="top"  style="padding: 5px 10px;" width="16px"><input type="radio" name="status_id" value="0" id="cmm-status-0" checked /></td>
                            <td><label for="cmm-status-0">
                            просто добавить текст</label></td>
                        </tr>
                        <!-- BEGIN status -->
                        <tr  class="status_name" style="background: {STATUS_COLOR};">
                            <td  style="padding: 5px 10px;" width="16px"><input type="radio" name="status_id" value="{STATUS_ID}" {ADDITIONAL_TAGS} id="cmm-status-{STATUS_ID}" /></td>
                            <td ><label for="cmm-status-{STATUS_ID}">
                            {STATUS_NAME}</label></td>
                        </tr>
                        <!-- END status -->

                        <!-- BEGIN delegate -->
                        <tr class="poruch">
                            <td valign="top" style="padding: 5px 10px;" width="16px"><input type="checkbox" name="poruch" value="1" id="poruch-chk" /></td>
                            <td ><label for="poruch-chk">
                            перепоручить</label><div id="poruch_user_names"></div>
                            <input type="hidden" name="poruch_user_ids" id="poruch_user_ids" /></td>
                        </tr>
                        <!-- END delegate -->

                    </table>
                </div>
            </div>
            <div class="col-sm-6">
                <h3>Файлы</h3>

                <div class="task_files" style="max-height: 500px; overflow-y: auto;"></div>

                <p class="center" id="task_files_upload_input_container">
                    <input type="file" name="userfile[]" multiple="multiple" />
                </p>
            </div>
            </div>
            <div class="container-fluid">
                <p></p>
                    <p class="center  ">
                        <button type="submit" value="Отправить" class="btn-lg btn-primary">Отправить</button>
                    </p>
            </div>
        </div>

    </form>
    <iframe id="uploadiframe" name="uploadiframe" src="about:blank"></iframe>
</div>
<!-- END sac -->
