<!-- BEGIN file-list -->
<ul class="filelist">
    <li>
        <div class="table-responsive">
            <table class="t1 table" width="100%" class="table-responsive">
                <tr>
                    <th>Файл</th><th>Автор</th><th>Дата</th><th></th>
                </tr>
                <!-- BEGIN row -->
                <tr>
                    <td>
                        <!-- BEGIN file-with-preview -->
                        <a class="filetype" href="/comments/getfile/?id={ID}&name={NAME}" title="Просмотр файла {NAME}" data-lightbox="{ID}">
                            <span>{NAME}</span></a> <a href="/comments/getfile/?id={ID}&name={NAME}&download=1" title="Скачать файл {NAME}"><i
                                class="glyphicon glyphicon-download"></i></a>
                        <a href="/comments/getfile/?id={ID}&name={NAME}" title="Просмотр файла {NAME}" data-lightbox="{ID}">
                            <img class="img-responsive hidden-xs" src="/comments/getfile/?id={ID}&name={NAME}" title="{NAME}" style="max-width: 320px; max-height: 240px;">
                        </a>

                        <!-- END file-with-preview -->
                        <!-- BEGIN file-without-preview -->
                        <a class="filetype" href="/comments/getfile/?id={ID}&name={NAME}&download=1" title="Скачать файл {NAME}">{NAME}</a>
                        <a href="/comments/getfile/?id={ID}&name={NAME}&download=1" title="Скачать файл {NAME}"><i
                                class="glyphicon glyphicon-download"></i></a>

                        <!-- END file-without-preview -->
                    </td>
                    <td>{AUTHOR}</td>
                    <td>{DATE}</td>
                    <td width="16">
                        <a filename="{NAME}" class="deletefile {NOACCESSTODELETEFILE} text-danger" id="{ID}" href="#">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    </td>
                </tr>
                <!-- END row -->
            </table>
        </div>
        <p class="text-center">
            <a class="btn-info btn" href="/comments/download_all/?task_id={TASK_ID}" name="download_all" type="button" value="Скачать все" style="color:#fff !important;"><span
                    class="glyphicon glyphicon-download-alt"></span> Скачать все </a>
            <button class="btn btn-danger" name="deleteallfiles" type="button" value="Удалить все" ><span class="glyphicon glyphicon-remove"></span> Удалить все</button>
        </p>
    </li>
</ul>
<!-- END file-list -->
<!-- BEGIN no-files -->
<ul>
    <li style="text-align: center;"><p class="">Файлы не загружены</p></li>
</ul>
<!-- END no-files -->