<div class="task_comments">
    <!-- BEGIN comment -->
    <div class="task_comment" id="task-comment-{CMM_ID}">
        <div class="cmm_title" style="background-color: {CMM_COLOR};">
            <strong>Дата:</strong> {CMM_DATE}
            <strong>Автор:</strong> {CMM_USER_FIO}
        </div>
        <!-- BEGIN tag -->
        <div class="cmm_tag">{CMM_TAG}</div>
        <!-- END tag -->
        <div class="cmm_text cmm{CMM_ID}">
            {CMM_TEXT}
        </div>
    </div>
    <!-- END comment -->    
</div>
