{% extends "GorservGerpCoreBundle::layout_bootstrap.html.twig" %}

{% block container %}
<form method="get" action="">
    {{ form_rest(form) }}
    <input type="submit" name="submit-filter" value="filter" />
</form>
<table class="table">
    <thead>
        <tr>
            <th{% if pagination.isSorted('e.id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Id', 'e.id') }}</th>
            <th>Дата</th>
            <th>Пользователь</th>
            <th>Модуль</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        {% for log in data %}
            <tr>
                <td><a href="{{ path('app_syslog_get_view', {syslog: log.id}) }}">{{ log.id }}</a></td>
                <td>{{ log.actiondate | date('d.m.Y H:i') }}</td>
                <td>{{ log.userfio }}</td>
                <td>{{ log.module }}</td>
                <td>{{ log.action }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
{% endblock %}

{% block page_stylesheets %}
    <link rel="stylesheet" href="{{ asset('components/smalot-bootstrap-datetimepicker/css/bootstrap-datetimepicker.css') }}" />
{% endblock %}

{% block page_javascripts %}
    <script src="{{ asset('components/smalot-bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('components/smalot-bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.ru.js') }}"></script>
    <script>
        $('.datepicker').datetimepicker({
            todayBtn: true,
            language: 'ru',
            format: 'yyyy-mm-dd hh:ii'
        });
        $('.select2').select2();
    </script>
{% endblock %}
