<div class="container">
    <h2>Новый сервисный центр "{{service_center.title}}"</h2>
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
    <form name="infoForm">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="title">Название</label>
                    <input ng-readonly="access !==2" type="text" class="form-control" id="title" placeholder="Название" ng-model="service_center.title" required>
                </div>
                <div class="form-group">
                    <label for="address">Адрес</label>
                    <input ng-readonly="access !==2"type="text" class="form-control" id="address" placeholder="Адрес" ng-model="service_center.address">
                </div>
                <div class="form-group">
                    <label for="phones">Телефоны</label>
                    <input ng-readonly="access !==2" type="text" class="form-control" id="phones" placeholder="Телефоны" ng-model="service_center.phone">
                </div>
                <div class="form-group">
                    <label for="em">Email</label>
                    <input ng-readonly="access !==2" type="email" class="form-control" id="em" placeholder="email" ng-model="service_center.email">
                </div>
                <div class="form-group">
                    <label for="desc">Описание</label>
                    <textarea ng-readonly="access !==2" class="form-control" rows="5" ng-model="service_center.desc" id="desc" placeholder="Краткое описание"></textarea>
                </div>
            </div>

        </div>
        <div class="row top-buffer">
            <div class="col-xs-12 text-right">
                <button ng-if="access === 2" class="btn btn-primary" type="submit" ng-disabled="infoForm.$invalid" ng-click="saveServiceCenter()">Сохранить</button>
                <a ng-href="#!/" class="btn btn-warning">Назад</a>
            </div>
        </div>
    </form>
</div>
