<div class="row">
    <p class="col-xs-12 text-right">
        <a ng-if="access === 2" ng-href="#!/create" class="btn btn-primary">Добавить сервисный центр</a>
    </p>
</div>
<div class="row">
    <table ng-table="tableParams" class="table table-condensed table-hover">
        <tr ng-repeat="row in $data track by row.id">
            <td data-title="'#'" sortable="'id'">{{row.id}}</td>
            <td data-title="'Название'" sortable="'title'" filter="{'title': 'text'}">{{row.title}}</td>
            <td data-title="'Адрес'" sortable="'address'" filter="{'address': 'text'}">{{row.address}}</td>
            <td data-title="'Начальник(и)'" sortable="'chiefs.length'">{{row.chiefs.length}}</td>
            <td data-title="'МОЛ(ы)'" sortable="'mols.length'">{{row.mols.length}}</td>
            <td data-title="'Техники'" sortable="'technicians.length'">{{row.technicians.length}}</td>
            <td data-title="'#'" class="text-center">
                <a ng-href="#!/view/{{row.id}}" class="btn btn-success" title="Выбрать"><span
                        class="glyphicon glyphicon-pencil"></span></a>
                <button ng-if="access === 2" ng-click="deleteServiceCenter(row)" class="btn btn-danger" title="Удалить"><span
                        class="glyphicon glyphicon-remove-circle"></span></button>
            </td>
        </tr>
    </table>
</div>
