<div class="container">
    <h2>Сервисный центр "{{service_center.title}}"</h2>
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
    <form name="infoForm">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="title">Название</label>
                    <input ng-readonly="access !==2" type="text" class="form-control" id="title" placeholder="Название" ng-model="service_center.title" required>
                </div>
                <div class="form-group">
                    <label for="address">Адрес</label>
                    <input ng-readonly="access !==2"type="text" class="form-control" id="address" placeholder="Адрес" ng-model="service_center.address">
                </div>
                <div class="form-group">
                    <label for="phones">Телефоны</label>
                    <input ng-readonly="access !==2" type="text" class="form-control" id="phones" placeholder="Телефоны" ng-model="service_center.phone">
                </div>
                <div class="form-group">
                    <label for="em">Email</label>
                    <input ng-readonly="access !==2" type="email" class="form-control" id="em" placeholder="email" ng-model="service_center.email">
                </div>
                <div class="form-group">
                    <label for="desc">Описание</label>
                    <textarea ng-readonly="access !==2" class="form-control" rows="5" ng-model="service_center.desc" id="desc" placeholder="Краткое описание"></textarea>
                </div>
            </div>
            <div class="col-sm-6">

                <uib-tabset active="activeForm">
                    <uib-tab index="0" heading="Руководители">
                        <ng-form name="chiefsForm">
                            <div gss-users-select selected="chiefs"></div>
                        </ng-form>
                    </uib-tab>
                    <uib-tab index="1" heading="МОЛы">
                        <ng-form name="molsForm">
                            <div gss-users-select selected="mols"></div>
                        </ng-form>
                    </uib-tab>
                    <uib-tab index="3" heading="Супер МОЛы">
                        <ng-form name="superMolsForm">
                            <div gss-users-select selected="super_mols"></div>
                        </ng-form>
                    </uib-tab>
                    <uib-tab index="4" heading="Координаторы">
                        <ng-form name="coordinatorsForm">
                            <div gss-users-select selected="coordinators"></div>
                        </ng-form>
                    </uib-tab>
                </uib-tabset>

            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-xs-12 text-right">
                <button ng-if="access === 2" class="btn btn-primary" type="submit" ng-disabled="infoForm.$invalid" ng-click="saveInfo()">Сохранить</button>
                <a ng-href="#!/" class="btn btn-warning">Назад</a>
            </div>
        </div>
    </form>
    <form name="areaForm">
        <div class="row top-buffer">
            <p class="lead">Зона обслуживания</p>
            <ya-map ya-zoom="10" ya-center="[37.75,55.73]" style="width:100%; height: 400px; display: block;">
                <ya-geo-object
                        ya-event-geometrychange="drawingStop($event, $index)"
                        ya-source="area"
                        ya-options="{editorDrawingCursor: 'crosshair',editorMaxPoints: 999,fillColor: '#00FF00',strokeColor: '#0000FF',strokeWidth: 3, opacity:0.3}"
                        ya-draw="{{editable}}"
                        ya-edit="true">
                </ya-geo-object>

                <ya-geo-object ng-repeat="other in other_service_centers"
                               ya-source="other.area"
                               ya-options="{fillColor: '#FF750D',strokeColor: '#FF2300',opacity: 0.3,strokeWidth: 2}">
                </ya-geo-object>

            </ya-map>
        </div>
        <div class="row top-buffer">
            <div class="col-xs-12 text-right">
                <button ng-if="access === 2" class="btn btn-primary" type="submit" ng-disabled="areaForm.$invalid || area.geometry.coordinates.length <= 0 || area.geometry.coordinates[0].length <= 3" ng-click="saveArea()">Сохранить</button>
                <a ng-href="#!/" class="btn btn-warning">Назад</a>
            </div>
        </div>
    </form>

    <form name="techniciansForm">
        <div class="row top-buffer">
            <div class="col-xs-12">
                <p class="lead">Техники сервисного центра "{{service_center.title}}"</p>
                <div gss-users-select selected="technicians" page-size="25"></div>
            </div>
        </div>

        <div class="row top-buffer">
            <div class="col-xs-12 text-right">
                <button ng-if="access === 2" class="btn btn-primary" type="submit" ng-disabled="techniciansForm.$invalid" ng-click="saveTechnicians()">Сохранить</button>
                <a ng-href="#!/" class="btn btn-warning">Назад</a>
            </div>
        </div>
    </form>

</div>
