<table ng-table="tableParams" class="table table-condensed table-hover">
    <tr ng-repeat="row in $data track by row.id">
        <td data-title="'#'">{{row.id}}</td>
        <td data-title="'Имя'" filter="{'fio': 'text'}" sortable="'fio'" ng-title="row.jobPosition.name">{{row.fio}}</td>
        <td data-title="'Отдел'" filter="{'department.name': 'text'}" sortable="'department.name | departmentShortName'">
            {{row.department.name | departmentShortName }}</td>
        <td data-title="'#'" sortable="'selected'" filter="{'selected': 'select'}" filter-data="[{id: true, title:'Да'}, {id: false, title:'Нет'}]" class="text-center">
            <a ng-click="add(row)" ng-if="!row.selected" class="btn btn-success" title="Избрать"><span class="glyphicon glyphicon-plus"></span></a>
            <a ng-click="remove(row)" ng-if="row.selected" class="btn btn-danger" title="Разжаловать"><span class="glyphicon glyphicon-minus"></span></a>
        </td>
    </tr>
</table>
