{% extends "GorservGerpCoreBundle::layout_bootstrap.html.twig" %}

{% block title %}Расчётный лист{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('components/smalot-bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css') }}" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('components/smalot-bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('components/smalot-bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.ru.js') }}"></script>
    <script>
        $(function (){
            $(".datepicker").datetimepicker({
                startView: 3,
                minView: 3,
                language: "ru",
                format : 'yyyy-mm-dd',
                todayBtn: true
            });
        });
    </script>
{% endblock %}

{% block container %}
    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
