{% extends 'GorservGerpCoreBundle::layout_bootstrap.html.twig' %}
{% import 'GorservGerpCoreBundle::macro/ui.html.twig' as ui %}

{% block breadcrumbs %}
     {{ ui.breadcrumbs([
            { url: '/', title: 'Рабочий стол '},
            { route: 'regions_index', title: 'Регионы'},
            { title: 'Редактировать запись «' ~ region.title ~ '»'}
        ]) }}
{% endblock %}

{% block title %}Редактировать «{{ region.title }}»{% endblock %}

{% block container %}
    {{ form(edit_form) }}

    {{ form_start(delete_form) }}
        {{ ui.delete_button }}
    {{ form_end(delete_form) }}
{% endblock %}

{% block page_javascripts %}
    <script type="text/javascript">
        $('select').select2();
    </script>
{% endblock %}
