{% extends 'GorservGerpCoreBundle::layout_bootstrap.html.twig' %}
{% import 'GorservGerpCoreBundle::macro/ui.html.twig' as ui %}

{% block breadcrumbs %}
     {{ ui.breadcrumbs([
            { url: '/', title: 'Рабочий стол '},
            { title: 'Регионы' }
        ]) }}
{% endblock %}

{% block title %}Регионы{% endblock %}

{% block container %}
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Название</th>
                <th>Компания</th>
                <th>Стоимость балла</th>
                <th>КЛАДР</th>
                <th>Обновлено</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for region in regions %}
            <tr>
                <td>{{ region.id }}</td>
                <td><a href="{{ path('regions_show', { 'id': region.id }) }}">{{ region.title }}</a></td>
                <td>{{ region.company }}</td>
                <td>{{ region.pointPrice }}</td>
                <td>{{ region.kladrCode }}</td>
                <td>{% if region.updatedAt %}{{ region.updatedAt|date('d.m.Y H:i') }}{% endif %}</td>
                <td>
                    <td>
                        <div class="btn-group" role="group" aria-label="...">
                            <a class="btn btn-default" href="{{ path('regions_show', { 'id': region.id }) }}"><span class="fa fa-eye"></span></a>
                            <a class="btn btn-default"  href="{{ path('regions_edit', { 'id': region.id }) }}"><span class="fa fa-edit"></span></a>
                        </div>
                    </td>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('regions_new') }}"><span class="glyphicon glyphicon-plus"></span> Добавить</a>
{% endblock %}
