{% extends 'GorservGerpCoreBundle::layout_bootstrap.html.twig' %}
{% import 'GorservGerpCoreBundle::macro/ui.html.twig' as ui %}

{% block breadcrumbs %}
     {{ ui.breadcrumbs([
            { url: '/', title: 'Рабочий стол '},
            { route: 'regions_index', title: 'Регионы'},
            { title: 'Новый регион' }
        ]) }}
{% endblock %}

{% block title %}Новый регион{% endblock %}

{% block container %}
    {{ form(form) }}
{% endblock %}

{% block page_javascripts %}
    <script type="text/javascript">
        $('select').select2();
    </script>
{% endblock %}
