{% extends 'GorservGerpCoreBundle::layout_bootstrap.html.twig' %}
{% import 'GorservGerpCoreBundle::macro/ui.html.twig' as ui %}

{% block breadcrumbs %}
     {{ ui.breadcrumbs([
            { url: '/', title: 'Рабочий стол '},
            { route: 'regions_index', title: 'Регионы'},
            { title: region.title }
        ]) }}
{% endblock %}

{% block title %}{{ region.title }}{% endblock %}

{% block container %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ region.id }}</td>
            </tr>
            <tr>
                <th>Название</th>
                <td>{{ region.title }}</td>
            </tr>
            <tr>
                <th>Создан</th>
                <td>{% if region.createdAt %}{{ region.createdAt|date('d.m.Y H:i') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Обновлен</th>
                <td>{% if region.updatedAt %}{{ region.updatedAt|date('d.m.Y H:i') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Стоимость балла</th>
                <td>{{ region.pointPrice }}</td>
            </tr>
            <tr>
                <th>Код КЛАДР</th>
                <td>{{ region.kladrCode }}</td>
            </tr>
            <tr>
                <th>Организация</th>
                <td>{{ region.company }}</td>
            </tr>
            <tr>
                <th>Организация</th>
                <td>{{ region.company }}</td>
            </tr>
            <tr>
                <th>Директора</th>
                <td>{{ region.directors | join(', ') }}</td>
            </tr>
            <tr>
                <th>Сервисные центры</th>
                <td>{{ region.serviceCenters | join(', ') }}</td>
            </tr>
        </tbody>
    </table>

    {{ form_start(delete_form) }}
        <a class="btn btn-primary" href="{{ path('regions_edit', { 'id': region.id }) }}">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            Редактировать
        </a>
        {{ ui.delete_button }}
    {{ form_end(delete_form) }}

{% endblock %}
