<div id="report_c">
<input type="hidden" name="readonly" value="1" />

<h4 style="margin-bottom: 5px; margin-top:0;">ТМЦ по заявке</h4>
<input type="hidden" name="target_sc_id" value="{TMC_SC_ID}" />
<table class="t1" border="0" width="100%">
                <thead>
                    <tr>
                        <th width="40%">ТМЦ</th><th width="25%">Серийный номер</th><th width="15%">Кол-во</th><th width="15%">Аренда</th>
                    </tr>
                </thead>
                <tbody class="tmc_list">
                    <!-- BEGIN tmc_row -->
                    <tr class="{TMC_ID}">
                        <td align="center">{TMC_TITLE}
                        <input type="hidden" name="row_id[]" value="{TMC_ROW_ID}" />
                        </td>
                        <td align="center">
                            {NO_SERIAL}
                            <!-- BEGIN hasserial -->
                            {TMC_SERIAL}
                            <input readonly="readonly" value="{TMC_SERIAL}" name="tmc_serial_{TMC_S_ID}" type="hidden" style="width:130px;" />
                            <input type='hidden' name='tmcid_{TMC_S_ID}' value='{TMC_SERIAL}' />
                            <!-- END hasserial -->
                        </td>
                        <td align="center">
                            {TMC_COUNT}
                            <input type="hidden" name="tmc_ids[]" value="{TMC_ID}" />
                            <input readonly="readonly" name="tmc_count_{TMC_ID}" value="{TMC_COUNT}" type="hidden" style="width:50px;" />
                        </td>
                        <td align="center">
                            {NO_ISRENT}
                            <!-- BEGIN isrent -->
                            <input type="checkbox" name="isrent{TMC_IR_ID}" {IS_RENT_CHECKED} />
                            <!-- END isrent -->
                        </td>
                    </tr>
                    
                    <!-- END tmc_row -->
                   
                    <tr class="tmc_no_rows" style="{NO_TMC_ROWS}">
                        <td colspan="5"><p align="center" style="color: #FF0000;"><strong>Список пуст</strong></p></td>
                    </tr>
                    
                </tbody>
            </table>
            <h4 style="margin-bottom: 5px; margin-top:0;">4. ОДС</h4>
<table border="0">
    <tr>
        <td colspan="2"><input type="hidden" name="ods_id_inform" value="{ODS_ID}" />
    </tr>
    <tr>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td width="15%">Название ОДС</td>
        <td><strong id="e_ods_name_inform">{ODS_NAME}</strong></td>
    </tr>
    <tr>
        <td>Адрес ОДС</td>
        <td><strong id="e_ods_addr_inform">{ODS_ADDR}</strong></td>           
    </tr>
    <tr>
        <td>Телефон</td>
        <td><strong id="e_ods_tel_inform">{ODS_TEL}</strong></td>                    
    </tr>
    <tr>
        <td>Контакты</td>
        <td><strong id="e_ods_contact_inform">{ODS_CONTACTS}</strong></td>
    </tr>
    <tr>
        <td>Комментарий</td>
        <td><strong id="e_ods_comment_inform">{ODS_COMMENT}</strong></td>
    </tr>
    
</table>
<!-- BEGIN photoreport -->
<hr />            
<h4 style="margin-bottom: 5px; margin-top:0;">Фотоотчет по заявке<br /><small>Загрузка фотографий, отмеченных красной звездочкой, - ОБЯЗАТЕЛЬНА. Загрузка каждого файла будет выполняться автоматически после его выбора.</small></h4>
<table class="t1" width="100%">
<thead>
    <tr>
        <th>Название фото</th>
        <th>Файл</th>
    </tr>
</thead>
<tbody>
<!-- BEGIN filelist -->
<tr>
    <td>{FILENAME}</td>
    <td>
        <span class="fileparams_{FILE_ID}">{FILENAME_VAL}</span> 
    </td>

</tr>
<!-- END filelist -->
</tbody>
</table>

<!-- END photoreport -->
</div>