<div id="report_c">
<input type="hidden" name="readonly" value="" />
<h4 style="margin-bottom: 5px; margin-top:0;">ТМЦ по заявке</h4>
<input type="hidden" name="target_sc_id" value="{TMC_SC_ID}" />
<table border="0" width="100%" class="">

<tr>
<td width="100%" align="left">
    <button type="button" {AFTERDEADLINE} name="addtmc" class="btn-primary" id="add_tmc_to_task"><span class="glyphicon glyphicon-plus"></span>Добавить</button>
</td>
<tr>
        <td align="left">Расчет Техника: <strong>{CALC_TECH_NAME}</strong> <!--input type="text" required="required" readonly="readonly"  {AFTERDEADLINE}  name="techname" value="{CALC_TECH_NAME}" />
                &nbsp;<button class="btn-primary" type="button" name="browse_users" value="Обзор"  {AFTERDEADLINE}><span class="glyphicon glyphicon-search"></span> Обзор</button-->
                <input type="hidden" name="tech_id" value="{CALC_TECH_LIST}" /></td>
    </tr>
</tr>
<tr>
    <td>
        <table class="t1"  border="0" width="100%" style="margin-top: 0 !important;">
                <thead>
                    <tr>
                        <th width="40%">ТМЦ</th><th width="25%">Серийный номер</th><th width="15%">Кол-во</th><th width="15%">Аренда</th><th></th>
                    </tr>
                </thead>
                <tbody class="tmc_list">
                    <!-- BEGIN tmc_row -->
                    <tr class="{TMC_ID} {TMC_ROW_ID}">
                        <td align="center">{TMC_TITLE}
                        <input type="hidden" name="row_id[]" value="{TMC_ROW_ID}" />
                        </td>
                        <td align="center">
                            {NO_SERIAL}
                            <!-- BEGIN hasserial -->
                            {TMC_SERIAL}
                            <input value="{TMC_SERIAL}" name="tmc_serial_{TMC_S_ID}" type="hidden" style="width:150px;" />
                            <input type='hidden' name='tmcid_{TMC_S_ID}' value='{TMC_SERIAL}' />
                            <!-- END hasserial -->
                        </td>
                        <td align="center">
                            {TMC_COUNT}
                            <input type="hidden" name="tmc_ids[]" value="{TMC_ID}" />
                            <input readonly="readonly" name="tmc_count_{TMC_ID}" value="{TMC_COUNT}" type="hidden" style="width:50px;" />

                            <input type='hidden' name='writeoff_tmc[{TMC_ROW_ID}][tech_id]' value='{TMC_TECH_ID}' />
                            <input type='hidden' name='writeoff_tmc[{TMC_ROW_ID}][row_id]' value='{TMC_ROW_ID}' />
                            <input type='hidden' name='writeoff_tmc[{TMC_ROW_ID}][sn]' value='{TMC_SERIAL}' />
                            <input type='hidden' name='writeoff_tmc[{TMC_ROW_ID}][count]' value="{TMC_COUNT}" />
                            <input type='hidden' name='writeoff_tmc[{TMC_ROW_ID}][tmc_id]' value='{TMC_ID}' />
                        </td>
                        <td align="center">
                            {NO_ISRENT}
                            <!-- BEGIN isrent -->
                            <input type="checkbox" name="writeoff_tmc[{TMC_ROW_ID}][rent]" {IS_RENT_CHECKED} />
                            <!-- END isrent -->
                        </td>
                        <td align="center">
                            <a class="removetmc tmcid_{TMC_ROW_ID} {AFTERDEADLINE_HIDDENTMC}" href="#"><img src="/templates/images/cross.png" /></a>
                        </td>
                    </tr>
                    
                    <!-- END tmc_row -->
                   
                    <tr class="tmc_no_rows" style="{NO_TMC_ROWS}">
                        <td colspan="5"><p align="center" style="color: #FF0000;"><strong>Список пуст</strong></p></td>
                    </tr>
                    
                </tbody>
            </table>
        </td>
    </tr>
</table>
<hr />            
<h4 style="margin-bottom: 5px; margin-top:0;">ОДС (рекомендуется указать)</h4>
<table border="0">
    <tr>
        <td colspan="2"><input type="hidden" name="ods_id_inform" value="{ODS_ID}" />
        <input value="Выбрать" {AFTERDEADLINE} type="button" id="go_select_ods_inform" />&nbsp;&nbsp;&nbsp;
        <input value="Изменить" {AFTERDEADLINE} type="button" id="go_edit_ods_inform" /></td>
    </tr>
    <tr>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td width="15%">Название ОДС</td>
        <td><strong id="e_ods_name_inform">{ODS_NAME}</strong></td>
    </tr>
    <tr>
        <td>Адрес ОДС</td>
        <td><strong id="e_ods_addr_inform">{ODS_ADDR}</strong></td>           
    </tr>
    <tr>
        <td>Телефон</td>
        <td><strong id="e_ods_tel_inform">{ODS_TEL}</strong></td>                    
    </tr>
    <tr>
        <td>Контакты</td>
        <td><strong id="e_ods_contact_inform">{ODS_CONTACTS}</strong></td>
    </tr>
    <tr>
        <td>Комментарий</td>
        <td><strong id="e_ods_comment_inform">{ODS_COMMENT}</strong></td>
    </tr>
</table>
<!-- BEGIN photoreport -->
<hr />            
<h4 style="margin-bottom: 5px; margin-top:0;">Фотоотчет по заявке<br /><small>Загрузка фотографий, отмеченных красной звездочкой, - ОБЯЗАТЕЛЬНА. Загрузка каждого файла будет выполняться автоматически после его выбора.</small></h4>
<table class="t1" width="100%">
<thead>
    <tr>
        <th>Название фото</th>
        <th>Файл</th>
    </tr>
</thead>
<tbody>
<!-- BEGIN filelist -->
<tr>
    <td>{FILENAME}</td>
    <td>
        <span class="fileparams_{FILE_ID}">{FILENAME_VAL}</span> 
        <input type="hidden" name="file_type_id" value="{FILE_ID}" />
        <input type="hidden" name="task_id" value="{FILE_TASK_ID}" />   
        <input id="{FILE_ID}" type="file" name="filesource" {FILEREQUIRED} />
        <div class="loader loader_{FILE_ID} center" style="display:none;"><img src="/templates/images/loading_animation.gif" /></div>
        <a {FILENOTLOADED} href="#" class="deluserfile deluserfile_{FILE_ID}" filetype_id="{FILE_ID}" task_id="{FILE_TASK_ID}" ><span class="glyphicon glyphicon-remove"></span></a>
    </td>

</tr>
<!-- END filelist -->
</tbody>
</table>

<!-- END photoreport -->
</div>