
<div id="report_c">
<input type="hidden" name="readonly" value="" />

<h4 style="margin-bottom: 5px; margin-top:0;">1. Расчет по договору</h4>
<button {AFTERDEADLINE} type="button" class="btn-primary" id="cw_add" value="Добавить"><span class="glyphicon glyphicon-plus"></span> Добавить</button>
<table border="0" class="" width="100%">
    <tr>
        <td valign="top" align="left" width="100%">
            <!-- BEGIN cpriceupdated -->
            <p style="margin-bottom:0;color: #FF0000; font-weight:bold;">ВНИМАНИЕ! Прайс был обновлен. Расчет выполняется по старой цене, указанной в прайсе на дату расчета. Новая цена выделена красным цветом.</p><small>Для того, чтобы изменить цены в соответствии с новым прайсом - замените элементы со старыми ценами. После этого - сохраните отчет.</small>
            <!-- END cpriceupdated -->
            
            <table class="t1" style="margin-top: 0 !important;" width="100%">
                <thead>
                    <tr>
                        <th width="65%">Вид работ</th><th width="1%">Кол-во</th><th width="15%">Стоимость</th><th width="15%">Смета</th><th></th>
                    </tr>
                </thead>
                <tbody class="contr_works">
                    <!-- BEGIN cw_row -->
                    <tr val='csr' class="{CW_TYPE}{CW_ID}" {CW_OLDPRICETITLE}>
                        <td><input type="hidden" name="rowo_ids[]" value="{CWR_ID}" /><input type="hidden" name="{CW_TYPE_T}" value="{CW_ID_VAL}" />
                        <input type="hidden" name="{CW_TYPE_T_VAL}" value="{CW_ID_VAL_CVAL}" />{CW_TYPE_TITLE}</td>
                        <td><!--input class="onlynum" type="text" style='width:30px;' name="cq{CW_ID}" value="{CW_QUANT}" /--><center>{CW_QUANT}</center></td>
                        <td><center>{CW_PRICE}</center></td>
                        <td><center>{CW_SMETA}</center></td>
                        <td><a class="{CW_TYPE}remove remove_{CW_ID} {AFTERDEADLINE_HIDDENCONTR}" style="cursor:pointer;"><img border="0" src="/templates/images/cross.png" /></a></td>
                    </tr>
                    <!-- END cw_row -->
                    <!-- BEGIN cw_norows -->
                    <tr class="cw_no_rows">
                        <td colspan="5"><p align="center" style="color: #FF0000;"><strong>Список пуст</strong></p></td>
                    </tr>
                    <!-- END cw_norows -->
                    
                </tbody>
            </table>
        </td>
         
    </tr>
     
</table>
<hr />
<h4 style="margin-bottom: 5px; margin-top:0;">2. Расчет по зарплате</h4>
<table border="0" width="100%" class="">
    <tr>
        <td align="left">Расчет Техника <input type="text" required="required" readonly="readonly"  {AFTERDEADLINE}  name="techname" value="{CALC_TECH_NAME}" />
                &nbsp;<button class="btn-primary" type="button" name="browse_users" value="Обзор"  {AFTERDEADLINE}><span class="glyphicon glyphicon-search"></span> Обзор</button><input type="hidden" name="tech_id" value="{CALC_TECH_LIST}" />
        <!--select name="tech_id"><option value="">-- выберите техника --</option>{CALC_TECH_LIST}<!--/select--></td>
        <td align="left">Дата Расчета: <input {AFTERDEADLINE} {CALC_DATE_DISABLED} type="text" style="width: 70px;" name="calc_date" value="{CALC_DATE}" class="date_input" /></td>
    </tr>
    <tr>
        <td colspan="2"><button {AFTERDEADLINE} type="button" id="tw_add" class="btn-primary" value="Добавить вид работ"><span class="glyphicon glyphicon-plus"></span>Добавить вид работ</button>&nbsp;&nbsp;<button {AFTERDEADLINE} type="button" class="btn-danger"   id="tw_shtraf_add" value="Добавить штраф"><span class="glyphicon glyphicon-plus"></span> Добавить штраф</button>
    </td></tr>
    <tr>
        <td valign="top" align="left" width="100%" colspan="2">
            <!-- BEGIN priceupdated -->
            <p style="margin-bottom:0;color: #FF0000; font-weight:bold;">ВНИМАНИЕ! Прайс был обновлен. Расчет выполняется по старой цене, указанной в прайсе на дату расчета. Новая цена выделена красным цветом.</p><small>Для того, чтобы изменить цены в соответствии с новым прайсом - замените элементы со старыми ценами. После этого - сохраните отчет.</small>
            <!-- END priceupdated -->
            <table class="t1" style="margin-top: 0 !important;" width="100%">
                <thead>
                    <tr>
                        <th width="65%">Вид работ</th><th width="1%">Кол-во</th><th width="15%">Стоимость</th><th width="15%">Смета</th><th></th>
                    </tr>
                </thead>
                <tbody class="tech_works">
                    <!-- BEGIN tw_row -->
                    <tr val='tsr' class="{TW_TYPE}{TW_ID}" {TW_OLDPRICETITLE}>
                        <td><input type="hidden" name="row_ids[]" value="{TWR_ID}" /><input type="hidden" name="{TW_TYPE_T}" value="{TW_ID_VAL}" /><input type="hidden" name="{TW_TYPE_T_VAL}" value="{TW_ID_VAL_CVAL}" /><input type="hidden" name="{TW_TYPE_T_VAL2}" value="{TW_ID_VAL_CVAL2}" />{TW_TYPE_TITLE}</td>
                        <td><!--input class="onlynum" type="text" style='width:30px;' name="tq{TW_ID}" value="{TW_QUANT}" /--><center>{TW_QUANT}</center></td>
                        <td><center>{TW_PRICE}</center></td>
                        <td><center>{TW_SMETA}</center></td>
                        <td><a class="{TW_TYPE}remove remove_{TW_ID} {AFTERDEADLINE_HIDDENZP}" style="cursor:pointer;"><img border="0" src="/templates/images/cross.png" /></a></td>
                    </tr>
                    <!-- END tw_row -->
                    {BONUSES}
                    <!-- BEGIN tw_norows -->
                    <tr class="tw_no_rows">
                        <td colspan="5"><p align="center" style="color: #FF0000;"><strong>Список пуст</strong></p></td>
                    </tr>
                    <!-- END tw_norows -->
                    
                </tbody>
            </table>
        </td>
           
    </tr>
     
</table>
<hr />
<h4 style="margin-bottom: 5px; margin-top:0;">3. ТМЦ</h4>
<input type="hidden" name="target_sc_id" value="{TMC_SC_ID}" />
<table border="0" width="100%" class=""><tr>
<td width="100%" align="left">
    <button type="button" {AFTERDEADLINE} name="addtmc" class="btn-primary" id="add_tmc_to_task"><span class="glyphicon glyphicon-plus"></span>Добавить</button>
</td>
</tr>
<tr>
    <td>
        <table class="t1"  border="0" width="100%" style="margin-top: 0 !important;">
                <thead>
                    <tr>
                        <th width="40%">ТМЦ</th><th width="25%">Серийный номер</th><th width="15%">Кол-во</th><th width="15%">Аренда</th><th></th>
                    </tr>
                </thead>
                <tbody class="tmc_list">
                    <!-- BEGIN tmc_row -->
                    <tr class="{TMC_ID} {TMC_ROW_ID}">
                        <td align="center">{TMC_TITLE}
                        <input type="hidden" name="row_id[]" value="{TMC_ROW_ID}" />
                        </td>
                        <td align="center">
                            {NO_SERIAL}
                            <!-- BEGIN hasserial -->
                            <input value="{TMC_SERIAL}" />
                            <input value="{TMC_SERIAL}" name="tmc_serial_{TMC_S_ID}" type="hidden" style="width:150px;" />
                            <input type='hidden' name='tmcid_{TMC_S_ID}' value='{TMC_SERIAL}' />
                            <!-- END hasserial -->
                        </td>
                        <td align="center">
                            {TMC_COUNT}
                            <input type="hidden" name="tmc_ids[]" value="{TMC_ID}" />
                            <input readonly="readonly" name="tmc_count_{TMC_ID}" value="{TMC_COUNT}" type="hidden" style="width:50px;" />

                            <input type='hidden' name='writeoff_tmc[{TMC_ROW_ID}][tech_id]' value='{TMC_TECH_ID}' />
                            <input type='hidden' name='writeoff_tmc[{TMC_ROW_ID}][row_id]' value='{TMC_ROW_ID}' />
                            <input type='hidden' name='writeoff_tmc[{TMC_ROW_ID}][sn]' value='{TMC_SERIAL}' />
                            <input type='hidden' name='writeoff_tmc[{TMC_ROW_ID}][count]' value="{TMC_COUNT}" />
                            <input type='hidden' name='writeoff_tmc[{TMC_ROW_ID}][tmc_id]' value='{TMC_ID}' />
                        </td>
                        <td align="center">
                            {NO_ISRENT}
                            <!-- BEGIN isrent -->
                            <input type="checkbox" name="writeoff_tmc[{TMC_ROW_ID}][rent]" {IS_RENT_CHECKED} />
                            <!-- END isrent -->
                        </td>
                        <td align="center">
                            <a class="removetmc tmcid_{TMC_ROW_ID} {AFTERDEADLINE_HIDDENTMC}" href="#"><img src="/templates/images/cross.png" /></a>
                        </td>
                    </tr>
                    
                    <!-- END tmc_row -->
                   
                    <tr class="tmc_no_rows" style="{NO_TMC_ROWS}">
                        <td colspan="5"><p align="center" style="color: #FF0000;"><strong>Список пуст</strong></p></td>
                    </tr>
                    
                </tbody>
            </table>
        </td>
    </tr>
</table>
<hr />            
<h4 style="margin-bottom: 5px; margin-top:0;">4. ОДС</h4>
<table border="0">
    <tr>
        <td colspan="2"><input type="hidden" name="ods_id_inform" value="{ODS_ID}" />
        <input value="Выбрать" {AFTERDEADLINE} type="button" id="go_select_ods_inform" />&nbsp;&nbsp;&nbsp;
        <input value="Изменить" {AFTERDEADLINE} type="button" id="go_edit_ods_inform" /></td>
    </tr>
    <tr>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td width="15%">Название ОДС</td>
        <td><strong id="e_ods_name_inform">{ODS_NAME}</strong></td>
    </tr>
    <tr>
        <td>Адрес ОДС</td>
        <td><strong id="e_ods_addr_inform">{ODS_ADDR}</strong></td>           
    </tr>
    <tr>
        <td>Телефон</td>
        <td><strong id="e_ods_tel_inform">{ODS_TEL}</strong></td>                    
    </tr>
    <tr>
        <td>Контакты</td>
        <td><strong id="e_ods_contact_inform">{ODS_CONTACTS}</strong></td>
    </tr>
    <tr>
        <td>Комментарий</td>
        <td><strong id="e_ods_comment_inform">{ODS_COMMENT}</strong></td>
    </tr>
    <tr><td colspan="2"><hr /></td></tr>
</table>
</div>