<!-- BEGIN urow -->
<tr class="user_data_row"><td><a href="#" id="{UID}" username="{FIO}" class="selectuser_link">{FIO}</a></td><td class="hidden-xs"><a href="#" id="{UID}" username="{FIO}" class="selectuser_link">{POSITION}</a></td><td class="hidden-xs">{PODR}</td><td>{EMAIL}</td></tr>
<!-- END urow -->
