<!-- BEGIN urow -->
<tr class="user_data_row"><td><a href="#" id="{UID}" username="{FIO}" position="{POSITION}" class="selectuser_link">{FIO}</a></td><td><a href="#" id="{UID}" username="{FIO}" position="{POSITION}" class="selectuser_link">{POSITION}</a></td></tr>
<!-- END urow -->
